@import 'styles/mixins/index';
@import 'styles/var';

.wrap {
  position: fixed;
  top: 0;
  display: flex;
  align-items: center;
  height: $guhadaMainHeaderHeight;
  padding: 0 10px;
  background-color: #ffffff;
  width: 100%;
  z-index: 102;
  max-width: inherit;
  left: 50%;
  transform: translate(-50%, 0);
  transition: top 0.1s linear;
  &.borderBottom {
    border-bottom: 1px solid #eeeeee;
  }

  &.scrollDown {
    position: fixed;
    top: -60px;
  }
}

.backButton {
  width: 30px;
  height: 30px;
  background: url('/static/icon/btn-prevpage.png') no-repeat center;
  background-size: 30px;
  margin-right: 5px;

  &:hover {
    cursor: pointer;
  }
}

.menuButton {
  width: 30px;
  height: 30px;
  background: url('/static/icon/top_btn_menu.png') no-repeat center;
  background-size: 30px;

  &:hover {
    cursor: pointer;
  }
}

.headerLogo {
  width: 110px;
  height: 30px;
  background: url('/static/Guhada-LOGO.png') no-repeat center;
  background-size: 110px 30px;

  &:hover {
    cursor: pointer;
  }
}

.homeButton {
  width: 30px;
  height: 30px;
  margin-left: auto;
  background: url('/static/icon/btn-home.png') no-repeat center;
  background-size: contain;

  &:hover {
    cursor: pointer;
  }
}

.searchButton {
  width: 30px;
  height: 30px;
  margin-left: auto;
  background: url('/static/icon/header-search.png') no-repeat center;
  background-size: contain;

  &.leftItemExist {
    margin-left: 5px;
  }

  &:hover {
    cursor: pointer;
  }
}

.cartButton {
  position: relative;
  display: flex;
  align-items: center;

  button {
    width: 30px;
    height: 30px;
    margin-left: 5px;
    background: url('/static/icon/header-shoppinBag.png') no-repeat center;
    background-size: contain;
  }

  div {
    position: absolute;
    right: 0;
    top: 15%;
    width: 15px;
    height: 15px;
    background: #5d2ed1;
    border-radius: 50%;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 10px;
  }
}

.pageTitle {
  @include centered();
  font-size: 17px;
  margin: 0;
  font-weight: 500;
}

.closeButton {
  background: url('/static/icon/burger-top-close@3x.png') no-repeat;
  background-size: cover;
  background-position: center;
  width: 30px;
  height: 30px;
  margin-left: auto;
}
