.loginWrap {
  width: 100vw;
  height: 100vh;
  background-color: white;
  max-width: 1024px;
  margin: 0 auto;
  // position: relative;
  display: block;

  & .headerWrap {
    width: 100%;
    height: 60px;
    padding: 0 10px;
    font-size: 16px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.19;
    letter-spacing: normal;
    text-align: center;
    color: #333333;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  & .emptyButton {
    width: 30px;
    height: 30px;
  }

  & .closeButton {
    width: 30px;
    height: 30px;
    background-size: 30px;
    background-repeat: no-repeat;
    background-image: url('/static/icon/close_btn.png');
  }
}

.wrap {
  font-size: 14px;
  font-weight: 500;
  line-height: 1.14;
  color: #898989;
  padding-top: 27px;
}

.findIdWrap {
  text-align: right;
  margin-bottom: 11px;
  position: relative;
}

.findLinkWrap {
  font-weight: 400;
  color: #777777;
}

.line {
  height: 12px;
  border-right: solid 1px #cecece;
  margin: 0 10px;
  display: inline-block;
  position: relative;
  top: 2px;
}

.checkWrap {
  margin: 14px 0 20px 0;
}

.nomember__order {
  height: 20px;
  display: flex;
  align-items: center;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.14;
  text-align: left;
  color: #898989;
  float: right;
}

.socialHeader {
  text-align: center;
  color: #333333;
  margin: 50px 0 30px 0;
}

.socialWrap {
  display: inline-block;
  width: 100%;
  text-align: center;
}

.social {
  width: 50px;
  display: inline-block;
  margin-right: 25px;
  cursor: pointer;

  &:last-child {
    margin-right: 0;
  }

  .icon {
    width: 50px;
    height: 50px;
    background-size: 50px;
    background-repeat: no-repeat;
    border-radius: 50px;
  }

  .text {
    font-size: 13px;
    font-weight: 400;
    line-height: 1.23;
    text-align: center;
    color: #777777;
    margin-top: 12px;
  }
}