@import 'styles/var';
@import 'styles/mixins/index';

.wrap {
  width: 100%;
  margin: $headerHeight auto 0;
  padding-bottom: 100px;
  color: #fff;
  background-color: #13182e;
  background-image: url('/static/icon/event/luckdraw-background.png');
  background-size: contain;
  min-height: 224px;
  background-position: center top;
  background-repeat: no-repeat;
  overflow: hidden;
}

.main {
  width: 100%;
  margin: 0 auto;
  padding-top: 224px;
  padding-left: 20px;
  padding-right: 20px;
  color: #fff;
}

.timerWrap {
  margin-top: 30px;
}

.listWrap {
  margin-top: 60px;
}

.sharingButton {
  width: 100%;
  position: relative;
  height: 100px;
  margin-top: 80px;
  border: solid 1px rgba(255, 255, 255, 0.7);
  margin-left: auto;
  margin-right: auto;
}

.sharingButton__text {
  @include centered;
  padding-right: 40px;
  background: url('/static/icon/event/sharing-arrow-r-line@2x.png') no-repeat
    right center;
  background-size: 30px;
  font-size: 30px;
  color: #fff;
}

.notificationBox {
  width: 100%;
  margin: 100px auto 0;

  & > img {
    display: block;
    width: 100%;
  }
}
