.wrap {
  margin-top: 60px;

  .headerWrap {
    padding: 30px 20px 0;

    .titleWrap {
      display: flex;
      justify-content: space-between;

      .title {
        font-size: 18px;
        font-weight: normal;
        color: #111;
      }
      .share {
        width: 45px;
        height: 45px;
        border-radius: 50%;
        background-image: url('/static/icon/community/icon-share.png');
        background-size: 25px;
        background-position: center;
        background-repeat: no-repeat;
        border: solid 1px #eeeeee;
      }
    }

    .date {
      font-size: 12px;
      font-weight: normal;
      color: #777;
    }
  }

  .eventMainWrap {
    margin-top: 40px;
    width: 100%;
    padding-bottom: 100%;
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
  }

  .category {
    display: flex;
    padding: 0 10px;
    margin-top: 40px;

    .categoryItem {
      width: calc(100% / 3);
      height: 40px;
      display: flex;
      align-items: center;
      justify-content: center;
      border: 1px solid #eee;

      &:not(:last-child) {
        border-right: none;
      }
    }
  }
  .specialItemList {
    margin-top: 60px;
    .itemTitle {
      font-family: NanumSquareB;
      font-size: 20px;
      font-weight: normal;
      color: #111;
      text-align: center;
    }
    .dashBoard {
      height: 56px;
      display: flex;
      padding: 0 20px;
      justify-content: space-between;
      align-items: center;

      .order {
        width: 80px;
      }
    }
  }

  .itemWrap {
    padding: 0 10px;
    margin-top: -30px;
    a {
      margin-right: 6px;

      &:nth-child(2n) {
        margin-right: 0;
      }
    }
  }
}
