// padding 값 넣으니 상세 페이지 레이아웃 이슈가 있습니다
// 주석 처리 하겠습니다. 만약 쓰시는 분 있으시면 다른 형태로 변경 해주세요.

$categorySidebarWidth: 120px; // 카테고리 네비게이션 사이드바 넓이. 로고 넓이와 같다.

.contentsWrapper {
    min-width: 1024px;
    position: relative;
    padding-left: $categorySidebarWidth;

    &.withPaddingLeft {
        padding-left: 0;
    }
}

// 좌측 카테고리 네비게이션 바
.categoryNav {
    width: $categorySidebarWidth;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;
}

// 페이지 컨텐츠
.itemsWrapper {
    // 상품 상세 페이지에서 categorySidebarWidth 추가 시 우측 영역이 남는 이슈가 있습니다.
    // 다른 페이지 레이아웃이 깨진다면 '경철' 에게 말씀해주세요.

    // width: calc(100% - #{$categorySidebarWidth});
    width: 100%;
    min-height: calc(100vh - 120px - 171px); // 헤더와 푸터 높이 제외

    &.widthFull {
        width: 100%;
    }
}

// 카테고리 네비게이션이 있을 때만 보더를 표시해준다
.categoryNav+.itemsWrapper {
    border-left: 1px solid #eee;
}

.mainContents {
    width: 100%;
    flex: 1;
}

.footerWrapper {

    &.withBorderLeft {
        border-left: 1px solid #eee;
    }
}