.modal {
  background: #fff;
  height: 100vh;
  overflow-y: scroll;
  .modal__top {
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;

    .modal__title {
      font-size: 17px;
      color: #111;
      font-weight: 500;
    }
    .modal__close {
      width: 30px;
      height: 30px;
      position: absolute;
      right: 10px;
      background: url('/static/icon/burger-top-close@3x.png') no-repeat;
      background-position: center;
      background-size: cover;
    }
  }

  .modal__body {
    padding: 0 20px 100px;

    &.isEditOrder {
      margin-top: 22px;
    }

    .modal__body__title {
      margin-top: 20px;
      font-size: 13px;
      font-weight: normal;
      color: #111;

      span {
        color: #5d2ed1;
      }
    }

    .modal__body__content {
      margin-top: 20px;
      .section {
        display: flex;
        align-items: center;
        margin-top: 10px;

        &:first-child {
          margin-top: 0;
        }

        &:last-child {
          margin-top: 15px;
        }

        // .title {
        //   font-size: 14px;
        //   color: #111;
        //   font-weight: 500;
        //   min-width: 80px;
        //   white-space: nowrap;
        // }
        .value {
          width: 100%;

          input {
            width: 100%;
            border: 1px solid #eee;
            padding: 0 15px;
            height: 45px;
            line-height: 45px;
            font-size: 13px;
            color: #777;

            &:read-only {
              background-color: #f9f9fa;
            }
          }
        }

        .zipcode {
          margin-left: 10px;
          white-space: nowrap;
          font-size: 13px;
          border: 1px solid #ebebeb;
          min-width: 90px;
          text-align: center;
          height: 45px;
          line-height: 45px;
        }

        label {
          display: flex;
          align-items: center;

          input[type='checkbox'] {
            display: none;
          }

          .checkBox {
            width: 16px;
            height: 16px;
            border: 1px solid #dddddd;
            border-radius: 0px;
          }

          input[type='checkbox']:checked + .checkBox {
            border: none;
            background-image: url('/static/icon/checkbox_checked_20.png');
            background-size: 16px 16px;
            background-position: center;
            background-repeat: no-repeat;
          }

          .labelTxt {
            font-size: 14px;
            font-weight: 500;
            color: #444;
            margin-left: 12px;
          }
        }
      }
    }
  }
  .modal__bottom {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 60px;
    background: #5d2ed1;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    color: #fff;
    font-weight: 500;
  }
}
