@import 'styles/mixins/index';
@import 'styles/var';

.wrap {
  width: 100%;
  padding: 20px;
  font-size: 13px;
}

.title {
  font-size: 28px;
  text-align: center;
  font-weight: bold;
  min-height: 41px;
  margin-top: 0;
}

.confirmGuide {
  font-size: 13px;
  line-height: 1.54;
  text-align: center;
  font-weight: 400;
  margin-top: 10px;
  color: #444444;
}

.product {
  @include clearfix;
  padding: 30px 0;
}

.productImage {
  float: left;
  width: 80px;
  height: 80px;
  background-size: contain;
  background-position: center;
  background-color: #fff;
  background-repeat: no-repeat;
}

.productInfo {
  float: left;
  width: calc(100% - 100px);
  padding-left: 12px;

  .brandAndProductName {
    @include textEllipsis;
  }

  .brandName {
    font-weight: bold;
  }

  .prodName {
    font-size: 14px;
    line-height: 1.57;
    text-align: left;
    color: #444444;
  }
}

// 적립 포인트 안내
.pointGuide {
  margin-top: 11px;
  font-size: 13px;
  color: #444444;

  .pointGuide__item {
    display: block;
    &:not(:first-child) {
      margin-top: 3px;
    }
  }

  .pointGuide__condition {
    @include withDivider(8px, 17px, #ccc);
    display: inline-block;
    text-align: left;
    color: #777777;
  }

  .pointGuide__result {
    display: inline-block;
    text-align: left;
    color: $blue-purple;
  }
}

.pointCaution {
  @include clearfix;
  font-size: 14px;
  font-weight: 500;
  text-align: left;

  & > * {
    float: left;
  }

  color: #444;
}

.pointCaution_list {
  margin-top: 5px;
  font-size: 13px;
  line-height: 1.46;
  text-align: left;
  color: #777777;
  padding-left: 18px;
  list-style-type: none;

  li {
    position: relative;

    &::before {
      top: 7px;
      left: -11px;
      content: ' ';
      position: absolute;
      width: 3px;
      height: 3px;
      background: #cccccc;
    }

    &:not(:first-child) {
      margin-top: 10px;
    }
  }
}

.submitButtonWrapper {
  justify-content: space-between;
  padding: 0 20px 30px;
  background: #fff;

  & > button {
    width: calc(50% - 3px) !important;

    &:last-child {
      margin-left: auto;
    }
  }
}
