@import 'styles/mixins/index';
@import 'styles/var';

@mixin paddingSide20 {
  padding: 0 20px;
}

.wrap {
  background: #f9f9fa;
}

.formSection {
  padding: 40px 20px 40px 20px;
  background: #fff;
  &:not(:first-child) {
    margin-top: 8px;
  }
}

.formSection__content {
  font-size: 14px;
  margin-top: 16px;
  font-size: 14px;
  color: #777777;

  & + & {
    margin-top: 16px;
  }

  b {
    font-weight: 500;
    color: #5d2ed1;
  }

  span + span {
    margin-left: 0.5em;
  }
}

.orderInfo {
  padding: 30px 20px;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  font-size: 13px;
  color: #444444;
}

.orderInfo__orderId {
}

.orderInfo__field {
  &:not(:first-child) {
    margin-top: 9px;
  }
}

.orderInfo__label {
  display: inline-block;
  min-width: 48px;
  @include withDivider(
    $height: 9px,
    $distance: 17px,
    $color: #dddddd,
    $width: 1px
  );
}

.orderInfo__value {
  display: inline-block;
  font-family: Roboto;
}

.formWrap {
  background: #fff;
  padding: 30px 0;
}

// 라벨과 밸류가 한줄씩 구성됨
.field {
  display: flex;
  flex-direction: column;

  & + & {
    margin-top: 30px;
  }

  & > .field__label {
  }

  & > .field__value {
    margin-top: 15px;
  }

  // 라벨과 필드가 한줄로 구성
  &.hasChildrenInOneLine {
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    min-height: 32px;

    & + & {
      margin-top: 10px;
    }

    .field__label {
      flex: 1 0 0px;
    }

    .field__value {
      flex: 1 1 auto;
      margin-top: 0;
    }
  }
}

.field {
  display: flex;
  flex-direction: column;

  & + & {
    margin-top: 30px;
  }

  & > .field__label {
  }

  & > .field__value {
    margin-top: 15px;
  }

  // 라벨과 필드가 한줄로 구성
  &.hasChildrenInOneLine {
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    min-height: 32px;

    & + & {
      margin-top: 10px;
    }

    .field__label {
      flex: 1 0 0px;
    }

    .field__value {
      flex: 1 1 auto;
      margin-top: 0;
    }
  }
}

.field__label {
  font-size: 14px;
  font-weight: 400;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.43;
  letter-spacing: normal;
  text-align: left;
  color: $guhada-black;
}

.field__value {
  color: #777777;
}

.inputWrapper {
  margin-top: 10px;
}

.quantityControlWrapper {
  margin-top: 32px;
}

.reasonSelectWrapper {
  margin-top: 30px;
}

.reasonTextareaWrapper {
  margin-top: 10px;
}

.refundFormWrap {
  margin-top: 8px;
  padding: 30px 20px;
  background: #fff;
}

.errorMsg {
  margin-top: 3px;
  color: #c72121;
  font-size: 13px;
}

.orderItemsWrapper {
  border: none;

  td,
  th {
    border: none;
    font-size: 14px;

    &[data-name='deal'] {
      min-width: 552px;

      @include mediaMD {
        min-width: 520px;
      }
    }

    &[data-name='quantity'] {
      min-width: 160px;
      color: #444444;

      @include mediaMD {
        min-width: 135px;
      }
    }

    &[data-name='seller'] {
      min-width: 160px;
      color: #444444;

      @include mediaMD {
        min-width: 150px;
      }
    }
  }

  thead {
    tr {
      border-bottom: 1px solid #eeeeee;
    }

    td,
    th {
      color: #444444;
      padding: 16px 16px 15px;
      font-weight: 500;
    }
  }

  tbody {
    border-bottom: 1px solid #eee;

    tr {
      border-bottom: 1px dashed #eee;

      &:last-child {
        border-bottom: none;
      }
    }
  }
}

.orderItemsWrapper--done {
  @extend .orderItemsWrapper;

  td,
  th {
    border: none;
    font-size: 14px;

    &[data-name='deal'] {
      max-width: 562px;

      @include mediaMD {
        max-width: 520px;
      }
    }

    &[data-name='quantity'] {
      min-width: 102px;
    }

    &[data-name='delivery'] {
      min-width: 102px;
    }

    &[data-name='price'] {
      min-width: 124px;
      color: #444444;
      font-weight: bold;
    }
  }
}

.radioWrapper {
  margin-top: 31px;
}

.exchangeAddressTitleWrap {
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__button {
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.11;
    color: #444;
    padding-right: 17px;
    background: url('/static/icon/arrow_r_line.png') no-repeat center right;
    background-size: 14px;
    font-size: 13px;
  }
}

.shippingName {
  margin-bottom: 12px;
  color: #111;
}

.refundWarning{
  padding-top: 20px;
  font-family: 'Roboto-Regular';
  font-size: 12px;
  color: #999999;  
}
