@import 'styles/mixins/index';
@import 'styles/var';

.wrap {
  position: relative;
  display: inline-block;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 2px;
}

.infoIcon {
  position: relative;
  display: inline-block;
  width: 15px;
  height: 15px;
  background: url('/static/icon/info_icon.png') no-repeat center;
  background-size: contain;

  &:hover {
    cursor: pointer;
  }
}

// sibling of infoIcon
.paymentInfoPopup {
  position: absolute;
  top: -20px;
  left: 100%;

  display: none;
  border: 1px solid #111;
  width: 275px;

  z-index: 100;
  background: #fff;
  padding: 15px 20px;

  &.isVisible {
    display: block;
  }

  .paymentInfoHeader {
    border-bottom: 1px solid #111;
    width: 100%;
    height: 30px;
    @include clearfix;

    .title {
      font-size: 14px;
      font-weight: bold;
      color: #111;
      float: left;
    }

    .closeBtn {
      float: right;
      cursor: pointer;
      img {
        width: 20px;
        height: 20px;
      }
    }
  }

  .paymentInfoBody {
    margin-top: 12px;
    font-size: 12px;
    color: #444;

    .paymentMethod {
    }

    .paymentDetail {
      color: #444;
      font-size: 12px;
      margin-top: 5px;

      & > * {
        display: inline-block;
        &:not(:last-child) {
          margin-right: 5px;
        }
      }
    }
  }

  // 결제 날자. 무통장 입금은 입금 기한
  .paymentDate {
    color: #9a9fa8;
    font-size: 12px;
    margin-top: 10px;
  }
}
