@import '../../../../styles/sprite.scss';

.modalPhotoDetailWrap {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: black;

  & .closeBtn {
    position: absolute;
    top: 15px;
    right: 15px;
  }

  & .contents {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;

    & .prevBtn {
      position: absolute;
      left: 0;
    }
  
    & .nextBtn {
      position: absolute;
      right: 0;
    }
  }
}
.box {
  display: flex;
  width: 100%;
  &_empty {
    height: 26.666%;
    &_close {
      flex-flow: row wrap;
      justify-content: flex-end;
    }
  }
  &_content {
    flex-flow: row wrap;
    height: 46.666%;
  }
}

// TODO : 포토 상세 리뷰 이미지 이슈 발생 시, 수정
.photo {
  height: 100%;
  max-width: 100%;
}

.close__btn {
  margin-top: 15px;
  margin-right: 10px;
  &__small {
    @include sprite($close-btn-small);
  }
  &__medium {
    @include sprite($close-btn-small-2x);
  }
  &__large {
    @include sprite($close-btn-small-3x);
  }
}

.next__btn {
  position: absolute;
  margin: auto;
  top: 0;
  bottom: 0;
  right: 0;

  &__small {
    @include sprite($photo-arrow-next-small);
  }
  &__medium {
    @include sprite($photo-arrow-next-small-2x);
  }
  &__large {
    @include sprite($photo-arrow-next-small-3x);
  }
}

.prev__btn {
  position: absolute;
  margin: auto;
  top: 0;
  bottom: 0;
  left: 0;

  &__small {
    @include sprite($photo-arrow-prev-small);
  }
  &__medium {
    @include sprite($photo-arrow-prev-small-2x);
  }
  &__large {
    @include sprite($photo-arrow-prev-small-3x);
  }
}
