@import 'styles/mixins/index';

.wrap {
  width: 100%;
  position: relative;
  margin-top: 50px;
}

.banner {
  padding-bottom: 39%;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  &.href {
    cursor: pointer;
  }
}

.banner_1280 {
  @extend .banner;

  @include mediaLG {
    display: none;
  }
}
