@import 'styles/mixins/index';

.wrap {
  width: 100%;
  position: relative;
  margin-top: 50px;
}

.banner {
  height: 140px;
  background-size: cover;
  background-position: center;

  &.href {
    cursor: pointer;
  }
}

.banner_1280 {
  @extend .banner;

  @include mediaLG {
    display: none;
  }
}
