@import 'styles/mixins/index';
@import 'styles/var';

.communityMain {
  @include clearfix;
  padding-top: 80px;
  padding-bottom: 240px;
}

.breadcrumbWrap {
}

.pageAndSidebar {
  width: 100%;
  margin-top: 50px;
  margin: 0 auto;
}

.pageContents {
  width: 100%;
  padding-bottom: 120px;
}

// .sidebar {
//   float: right;
//   width: #{$communitySidebarWidth};
// }
