@import 'styles/mixins/index';
.wrap {
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 0;
  height: calc(100vh);
  background: rgba(0, 0, 0, 0.2);
  overflow: scroll;
  padding: 20px;
  .couponLayout {
    background: #fff;
    height: calc(100vh);
    padding: 20px;

    .close {
      width: 100%;
      position: relative;
      height: 30px;
      .modalClose {
        width: 30px;
        height: 30px;
        background: url('/static/icon/bag-icon-delete@3x.png') no-repeat;
        background-size: cover;
        background-position: center;
        position: absolute;
        right: 0px;
        top: 0px;
        cursor: pointer;
      }
    }

    .title {
      margin-top: 13px;
      div {
        font-size: 26px;
        font-weight: 300;
        color: #111;

        &:last-child {
          font-size: 13px;
          color: #111;
          font-weight: normal;
          margin-top: 10px;
        }
      }
    }
    .couponContainer {
      height: calc(100vh - 238px);
      overflow-y: auto;

      @include break350 {
        height: calc(100vh - 283px);
      }
      .couponWrap {
        .coupon {
          width: 300px;
          height: 165px;
          background: url('/static/icon/seller-coupon-img@3x.png') no-repeat;
          background-size: cover;
          background-position: center;
          margin-top: 35px;
          position: relative;
          color: #fff;

          @include break350 {
            width: 100%;
            height: 0;
            padding-bottom: 55%;
          }

          .couponSeller {
            position: absolute;
            font-size: 13px;
            top: 30px;
            left: 25px;
            font-weight: 300;

            @include break350 {
              top: 13%;
            }
          }

          .couponAmount {
            position: absolute;
            top: 57px;
            left: 25px;
            font-size: 32px;
            font-weight: 500;

            span {
              font-size: 20px;
              font-weight: 400;
            }

            @include break350 {
              top: 30%;
              font-size: 31px;
            }
          }

          .couponTitle {
            font-size: 13px;
            font-weight: 400;
            color: #fff;
            position: absolute;
            top: 110px;
            left: 25px;

            @include break350 {
              top: 70%;
            }
          }
        }

        .couponNotice {
          font-size: 13px;
          color: #999;
          font-weight: normal;
          margin-top: 11px;

          div {
            margin-top: 5px;
          }
        }
      }
    }

    .confirmButton {
      width: 100%;
      height: 60px;
      background: #444;
      line-height: 60px;
      margin-top: 20px;
      color: #fff;
      text-align: center;
      cursor: pointer;
    }
  }
}
