.wrap {
  margin-top: 7%;
  padding: 0 20px;
  .inner__top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    overflow: hidden;
    .brandName {
      display: flex;
      align-items: center;
      font-size: 14px;
      font-weight: bold;
      color: #111;
      .arrow {
        width: 20px;
        height: 20px;
        margin-top: 2px;
        background: url('/static/icon/detail_brand_arrow.png') no-repeat;
        background-size: cover;
        background-position: center;
      }
    }

    .detail__number {
      color: #aaa;
      font-size: 12px;
    }
  }

  .product__name {
    font-size: 18px;
    font-weight: 500;
    color: #111;
    padding-right: 50%;
  }
}
