.wrap {
    width: 100%;
    padding: 30px 20px 0 20px;
    margin-bottom: 30px;

    & .header {
        font-size: 16px;
        font-weight: bold;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.2;
        letter-spacing: normal;
        text-align: left;
        color: #111111;
        padding-bottom: 11px;
        border-bottom: solid 1px #eeeeee;
        background-image: url('/static/icon/minors_icon.png');
        background-size: 16px;
        background-repeat: no-repeat;
        background-position: right top;

        &.noline {
            border-bottom: 0;
        }

        &.folded {
            background-image: url('/static/icon/plus_icon_m.png');
            border-bottom: 0;
        }
    }

    & .children {
        display: block;

        &.folded {
            display: none;
        }
    }
}