.wrap {
  margin-top: 7%;
  padding: 0 28px;

  .inner__top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    overflow: hidden;

    .brandName {
      display: flex;
      align-items: center;
      font-size: 14px;
      font-weight: 500;
      color: #111;
      max-width: 100%;
      overflow: hidden;
      text-overflow: ellipsis;

      .arrow {
        width: 20px;
        height: 20px;
        margin-top: 2px;
        background: url('/public/icon/detail_brand_arrow.png') no-repeat;
        background-size: cover;
        background-position: center;
      }
    }

    .detail__number {
      color: #aaa;
      font-size: 12px;
    }
  }

  .inner__middle {
    margin-top: 10px;

    .product__name {
      font-size: 18px;
      font-weight: 400;
      color: #111;
      max-width: 100%;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }

  .inner__bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 12px;

    .product__price__wrap {
      display: flex;
      align-items: center;

      .product__discount__price {
        font-size: 22px;
        font-weight: 600;
        color: #111;
      }
    }

    .utility__wrap {
      display: flex;

      > div {
        margin-right: 10px;

        > img {
          width: 30px;
          height: 30px;
        }
      }

      > div:last-child {
        margin-right: 0;
      }
    }
  }

  .inner__discounts {
    display: flex;
    margin-top: 5px;

    .product__sell__price {
      color: #777;
      font-size: 14px;
      line-height: 1.43;
      text-decoration: line-through;
      margin-right: 8px;
    }

    .product__discount__rate {
      color: #5d2ed1;
      font-size: 14px;
      font-weight: bold;
      line-height: 1.5;
    }
  }
}
