.wrap {
  font-family: Roboto;
  padding: 30px 20px 10px 20px;

  & .header {
    font-size: 16px;
    font-weight: bold;
    line-height: 1.2;
    color: #111111;
    height: 44px;
    display: flex;
    align-items: center;
  }

  & .betweenMargin {
    margin-top: 40px;
  }

  & .slideWrap {
    width: 100%;
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    display: flex;

    &::-webkit-scrollbar {
      display: none;
    }

    & .itemWrap {
      display: inline-block;
      width: 130px;
      height: 100%;
      margin-right: 9.7px;
      margin-bottom: 30px;

      &:last-child {
        margin-right: 20px;
      }

      & .image {
        min-width: 130px;
        width: 100%;
        height: 130px;
        background-position-x: center;
        background-repeat: no-repeat;
        background-color: white;
        background-size: contain;
      }

      & .contentsWrap {
        padding-left: 4px;
        display: inline-block;

        .conditionWrap {
          height: 25px;
          font-size: 11px;
          font-weight: normal;
          display: flex;
          align-items: center;

          & .brandNew {
            color: #b58c44;
            float: left;

            &.new {
              color: #5e24d1;
            }
          }

          & .betweenLine {
            width: 10px;
            height: inherit;
            float: left;
          }

          & .internationalShipping {
            float: left;
            color: #111111;
            padding-left: 13px;
            background: url('/static/icon/airplane_icon@3x.png') no-repeat left
              center;
            background-size: 8px;
          }
        }

        & .brandWrap {
          width: 100%;
          font-size: 12px;
          font-weight: 500;
          font-style: normal;
          font-stretch: normal;
          line-height: 1.37;
          letter-spacing: normal;
          text-align: left;
          color: #111111;
          margin-bottom: 5px;
          margin-top: 12px;

          & .brand {
            color: #999999;
            line-height: 1.6;
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
          }

          & .season {
            font-size: 12px;
            display: inline-block;
            font-weight: normal;
            color: #777777;
            margin-left: 4px;
          }
        }

        & .title {
          font-size: 12px;
          font-weight: normal;
          font-style: normal;
          font-stretch: normal;
          line-height: 1.5;
          letter-spacing: normal;
          text-align: left;
          color: #111111;
          width: 113px;
          height: 33px;
          overflow: hidden;
          white-space: normal;
          text-overflow: ellipsis;
          margin-bottom: 10px;
        }

        & .price {
          font-size: 13px;
          font-weight: 500;
          font-style: normal;
          font-stretch: normal;
          line-height: 1.15;
          letter-spacing: normal;
          text-align: left;
          color: #111111;
        }
      }
    }
  }
}
