.seller__replied__wrap {
  width: 100%;
}

.seller__name {
  font-weight: 500;
  color: #111;
}

.seller__reply {
  margin: 10px 0;
  color: #444;
}

.seller__create {
  font-size: 12px;
  color: #777;
}
