.seller__replied__wrap {
  background: #f9f9fa;
  padding: 20px 16px;
  font-size: 14px;
  margin-top: 18px;
}

.seller__name {
  font-weight: 500;
  color: #111;
}

.seller__reply {
  margin: 10px 0;
  color: #444;
}

.seller__create {
  font-size: 13px;
  color: #777;
}
