{
  "presets": [
    [
      "next/babel",
      {
        "preset-env": {
          "useBuiltIns": "entry",
          "targets": "> 0.25%, IE >= 10"
        }
      }
    ]
  ],
  "plugins": [
    [
      "inline-dotenv",
      {
        "path": "./.env",
        "systemVar": "all"
      }
    ],
    "@babel/plugin-proposal-optional-chaining",
    ["@babel/plugin-proposal-decorators", { "legacy": true }],
    ["@babel/plugin-proposal-class-properties", { "loose": true }],
    [
      "module-resolver",
      {
        "root": ["./"],
        "alias": {
          "childs": "./childs",
          "components": "./components",
          "constant": "./constant",
          "js": "./js",
          "lib": "./lib",
          "static": "./static",
          "stores": "./stores",
          "styles": "./styles",
          "template": "./template",
          ".storybook": "./.storybook"
        }
      }
    ]
  ]
}
