@import 'styles/mixins/index';

.wrapper {
  position: relative;
  display: block;
}

.options {
  z-index: 1000;
  position: absolute;
  top: 50px;
  right: 0;
  width: 100%;
  display: none;
  opacity: 0;
  border: solid 1px #eeeeee;
  background-color: #ffffff;
  color: #777777;
  display: none;

  & > div {
    display: block;
    width: 100%;
    height: 50px;
    color: inherit;
    text-align: left;
    padding: 18px 20px 15px;

    &:not(:first-child) {
      border-top: 1px solid #eeeeee;
    }

    &:hover {
      cursor: pointer;
    }
  }
}

// 투명 레이어
.mask {
  z-index: 900;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
}
