@import 'styles/mixins/index';

.myPageHistory {
  height: 71px;
  display: flex;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 13px;

  @include mediaIhpone5 {
    margin-left: 10px;
    margin-right: 10px;
  }

  & .myPageHistoryItem {
    flex-grow: 1;
    display: flex;
    flex-flow: row wrap;
    align-items: center;

    > div {
      display: flex;
      justify-content: center;
      width: 100%;
    }

    & .myPageHistoryItem__desc {
      font-size: 13px;
      font-weight: 500;
      color: #111111;
      line-height: 1.29;
    }
  }
}
