@import 'styles/mixins/index';

.wrap {
  background: #f9f9fa;
}

.orderInfo {
  padding: 30px 20px;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  font-size: 13px;
  color: #444444;
}

.orderInfo__orderId {
}

.orderInfo__field {
  &:not(:first-child) {
    margin-top: 9px;
  }
}

.orderInfo__label {
  display: inline-block;
  min-width: 48px;
  @include withDivider(
    $height: 9px,
    $distance: 17px,
    $color: #dddddd,
    $width: 1px
  );
}

.orderInfo__value {
  display: inline-block;
  font-family: Roboto;
}

.orderInfo__receiptButton {
  width: 92px;
  height: 30px;
  border: solid 1px #dddddd;
  background: #fff;
  font-weight: 500;
}

.buyerInfomation {
  margin-top: 10px;
  padding: 10px 20px;
  background: #fff;
}

.buyerInfomation__section {
  padding: 30px 0;
  &:not(:first-child) {
    border-top: 1px solid #eeeeee;
  }
}

.buyerInfomation__sectionTitle {
  font-size: 16px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.05;
  letter-spacing: normal;
  text-align: left;
  color: #111;
}

.buyerInfomation__table {
  width: calc(100% - 5px);
  margin-left: 5px;
  margin-top: 24px;
  border: none;
  font-size: 13px;

  tr {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;

    &:not(:first-child) {
      margin-top: 17px;
    }
  }

  td {
    display: inline-block;
    border: none;
    text-align: left;

    &:nth-child(1) {
      width: 75px;
      flex-shrink: 0;
      white-space: nowrap;
    }
    &:nth-child(2) {
      margin-left: 20px;
      color: #777;
    }
  }
}
