.deal-section {
  &__title {
    line-height: 22px;
    text-align: center;
    font-family: 'NanumSquare';
    font-size: 20px;
    font-weight: 600;
    color: #111;
    letter-spacing: 0.5px;
    margin-bottom: 20px;
  }

  .section-end {
    text-align: center;
    color: #5d2ed1;
    font-size: 12px;
    animation: opacityControl 4s;
    opacity: 0;
    height: 50px;
    padding-bottom: 20px;
  }
}

@keyframes opacityControl {
  0% {
    opacity: 0;
  }
  30% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
