.wrap {
  padding: 61px 0 65px 0;
  text-align: center;
}

.notiImage {
  display: inline-block;
  width: 46px;
  height: 46px;
}

.notiText {
  text-align: center;
  margin-top: 10px;
  color: #999999;
}
