@import 'styles/mixins/index';
@import 'styles/var';

$keyWidth: 160px;
$cellHoriPadding: 14px;

.wrap {
  table-layout: fixed;
  border: none;
  font-size: 14px;
  padding: 0 20px;

  tr {
    // @include clearfix;
    padding: 0 20px;
  }

  th {
    font-size: 14px;
    font-weight: 500;
    border: 0;
    text-align: left;
    padding: 15px 20px 15px 20px;

    &[data-name='first'] {
      padding-top: 0;
    }
  }

  td {
    border: none;
    line-height: 1.4;
    color: #444444;
    display: block;
    box-sizing: border-box;
    clear: both;
    padding: 0 20px;
    margin-bottom: 15px;
    //     &:nth-child(1) {
    //   padding: 15px $cellHoriPadding 7.5px;
    //   font-size: 13px;
    //   font-weight: bold;
    //   text-align: left;
    //   color: #444444;
    //   width: $keyWidth;
    // }

    // &:nth-child(2) {
    //   padding: 7.5px $cellHoriPadding 8px;
    //   width: 100%;
    //   font-size: 13px;
    //   text-align: left;
    //   color: #444444;
    // }

    // sibling element가 없을 때
    &:only-child {
      width: 100%;
    }

    // 에러 메시지 스타일
    & [data-name='error'] {
      margin-top: 3px;
      color: #c72121;
    }

    // 성공 메시지 스타일
    & [data-name='success'] {
      margin-top: 3px;
      color: #5d2ed1;
    }

    // * value 컬럼에 Input, Select가 아닌 텍스트만 넣을 때 이 클래스를 사용한다
    :global {
      .textValueCell {
        min-height: 36px;
        padding: 8px 0 9px;
        font-size: 13px;
        font-weight: 400;
        color: #444444;
      }
    }
  }
}

// Select, Input 컴포넌트의 넓이 제한
.smallInputWrapper {
  width: 300px;
}