.wrap {
    height: 60px;
    padding: 20px 0;

    input[type='radio'] {
        display: none;
    }

    input[type='radio']+label span {
        display: inline-block;
        width: 20px;
        height: 20px;
        border: 1px solid #a0a0a0;
        margin-right: 12px;

    }

    input[type='radio']:checked+label span {
        background-image: url('/static/icon/checkbox_on.png');
        background-size: 20px 20px;
        background-position: center;
        background-repeat: no-repeat;
        border-color: #ffffff;
    }

    input[type='radio'] {
        display: none;
    }

    & label {
        font-size: 15px;
        font-weight: 500;
        display: flex;
        align-items: center;
        margin-bottom: 0;
        float: left;
        color: #333;
    }
}