.default {

    height: 46px;
    margin-bottom: 10px;

    &:last-child {
        margin-bottom: 0;
    }

    & input {
        width: calc(100% - 100px);
        height: 100%;
        border: solid 1px #cccccc;
        padding-left: 15px;
        color: #000000;
        font-size: 14px;


        &:focus {
            border: solid 1px #5d2ed1;
        }

        &::placeholder {
            color: #a0a0a0;
        }
    }

    & button {
        width: 100px;
        height: 100%;
        background-color: #5d2ed1;
        font-size: 14px;
        font-weight: 500;
        color: #ffffff;
    }
}