.default {
    display: inline-block;
    margin-right: 20px;

    &.wrap {
        padding: 10px 0;
        width: 100%;
        color: #333333;
    }

    &.termOption {
        padding: 10px 0;

        & label {
            font-size: 13px;
            color: #555555;
        }
    }

    &.emailsms {
        padding: 10px 65px 10px 0;

        & label {
            font-size: 13px;
            color: #555555;
        }

        &:last-child {
            padding-right: 0;
        }
    }

    &:last-child {
        margin-right: 0;
    }

    & .termText {
        font-size: 12px;
        font-weight: 500;
        line-height: 1.17;
        color: #777777;
        margin-left: 25px;
    }

    & label {
        font-size: 14px;
        font-weight: 500;
        display: flex;
        align-items: center;
        margin-bottom: 0;
        float: left;
    }

    input[type='checkbox']+label span {
        display: inline-block;
        width: 20px;
        height: 20px;
        border: 1px solid #a0a0a0;
        margin-right: 7px;

    }

    input[type='checkbox']:checked+label span {
        background-image: url('/static/icon/checkbox_on.png');
        background-size: 20px 20px;
        background-position: center;
        background-repeat: no-repeat;
        border-color: #ffffff;
    }
}

.big {
    display: inline-block;
    margin-right: 20px;

    &.wrap {
        padding: 11px 0;
        width: 100%;
        color: #333333;
    }

    &:last-child {
        margin-right: 0;
    }

    & label {
        font-size: 16px;
        font-weight: 500;
        display: flex;
        align-items: center;
        margin-bottom: 0;
        color: #5d2ed1;
        float: left;
    }

    input[type='checkbox']+label span {
        display: inline-block;
        width: 28px;
        height: 28px;
        border: 1px solid #a0a0a0;
        margin-right: 11px;

    }

    input[type='checkbox']:checked+label span {
        background-image: url('/static/icon/checkbox_on.png');
        background-size: 28px 28px;
        background-position: center;
        background-repeat: no-repeat;
        border-color: #ffffff;
    }
}