.button {
  display: inline-block;
  width: calc((100% - 10px) / 2);
  height: 60px;
  border: solid 1px #5d2ed1;
  background-color: #5d2ed1;
  color: #ffffff;

  a {
    color: #ffffff;
  }

  & + & {
    margin-left: 10px;
  }

  &:hover {
    cursor: pointer;
  }
}
