@import 'styles/mixins/index';
.wrap {
  width: 100%;
  background-color: #7339c9;

  & .bg {
    background-repeat: no-repeat;
    background-size: contain;
    width: 100%;
    padding-top: 89%;

    .itemWrap {
      padding: 0 10px 10px;

      & .item {
        width: 100%;
        background-color: white;
        padding: 30px 20px 20px;
        display: inline-block;
        cursor: pointer;

        & .statusWrap {
          width: 230px;
          height: 36px;
          border: 1px solid #eeeeee;
          border-radius: 50px;
          margin: 0 auto;
          margin-bottom: 30px;
          position: relative;

          &.noBorder {
            border-color: transparent;
          }
        }

        & .deadLineBtn {
          width: 90px;
          height: 36px;
          border-radius: 50px;
          background-color: #ff4568;
          display: flex;
          align-items: center;
          justify-content: center;
          font-size: 15px;
          font-weight: 400;
          color: white;
          position: relative;
          left: -1px;
          top: -1px;
          float: left;

          &.deadLineAloneBtn {
            float: none;
            margin: 0 auto;
          }

          &.readyBtn {
            background-color: #444444;
          }
        }

        & .timeWrap {
          width: 140px;
          font-family: 'NanumSquare';
          font-size: 16px;
          font-weight: 600;
          padding-left: 24px;
          float: right;
          position: absolute;
          right: 0;
          top: 7px;
        }

        & .soldoutImgWrap {
          width: 240px;
          height: 240px;
          margin: 0 auto;
          position: relative;

          & .soldoutBack {
            width: 100%;
            height: 100%;
            background-color: white;
            opacity: 0.7;
            position: absolute;
            z-index: 99;
          }

          & .soldoutImg {
            width: 100%;
            height: 100%;
            background: url('/static/icon/deal_sold_out.png') no-repeat center;
            background-size: 180px;
            z-index: 100;
            position: absolute;
          }

          & .image {
            width: 240px;
            height: 240px;
            background-repeat: no-repeat;
            background-size: contain;
            background-position: center;
            margin: 0 auto;
            position: absolute;
          }
        }

        & .detailWrap {
          padding-top: 20px;
          width: 100%;

          & .brandWrap {
            display: flex;
          }

          & .brand {
            font-size: 16px;
            font-weight: 500;
            color: #111111;
            float: left;
          }

          & .season {
            font-size: 15px;
            font-weight: normal;
            color: #777777;
            float: left;
            padding-top: 1px;
            margin-left: 5px;
          }

          & .title {
            font-size: 15px;
            font-weight: normal;
            color: #111111;
            margin-top: 5px;
            @include textEllipsis;
          }

          & .priceItemWrap {
            margin-top: 18px;
            display: flex;
            height: 43px;
            position: relative;

            & .priceItem {
              & .discountPercent {
                font-size: 36px;
                font-weight: bold;
                color: #5d2ed1;
                margin-right: 16px;
                float: left;

                & div {
                  font-size: 28px;
                  float: right;
                  padding-top: 8px;
                }
              }

              & .priceWrap {
                float: left;
              }

              & .originalPrice {
                font-size: 12px;
                font-weight: normal;
                color: #777777;
                text-decoration: line-through;
                margin-top: 2px;
              }

              & .discountPrice {
                font-size: 18px;
                font-weight: bold;
                color: #111111;
                float: left;

                & div {
                  font-size: 16px;
                  float: right;
                  padding-top: 2px;
                }
              }
            }
          }

          & .soldout {
            float: right;
            font-size: 15px;
            font-weight: normal;
            color: #ff4568;
            position: absolute;
            right: 0;
            bottom: 0;
          }
        }
      }
    }
  }
}
