.modal__header {
  width: 100%;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #eee;
  padding-left: 20px;
  padding-right: 10px;

  .header__login {
    -webkit-tap-highlight-color: transparent;
    font-size: 15px;
    font-weight: 400;
    color: #666;
    position: relative;
    height: 30px;
    line-height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .header__buttons {
    display: flex;
    align-items: center;

    div {
      -webkit-tap-highlight-color: transparent;
      width: 30px;
      height: 30px;
      margin-right: 5px;
      cursor: pointer;

      &:last-child {
        margin-right: 0;
      }
    }
  }
}

.modal__ad {
  width: 100%;
  position: fixed;
  height: calc((7 / 18) * 100vw);
  bottom: 0;
}
