.wrap {
  & .itemWrap {
    width: 100%;
    height: 50px;
    padding: 0 45px 0 20px;
    font-size: 14px;
    font-weight: 500;
    line-height: 50px;
    text-align: left;
    color: #444444;
    background: url('/static/icon/icon_search_arrow.png') no-repeat center right 20px;
    background-size: 18px;
    cursor: pointer;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}