@import 'styles/mixins/index';

.wrap {
  width: 100%;
  height: 47px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;

  & .keywordWrap {
    display: flex;
    font-size: 14px;
    font-weight: 400;
    color: #444444;
    width: calc(100% - 27px);


    & .keyword {
      @include textEllipsis;
    }

    & .rank {
      width: 27px;
      font-size: 15px;
      font-weight: 500;
      color: #777777;
      position: relative;
      top: -1px;

      &.top {
        color: #5d2ed1;
      }
    }
  }

  & .rankChange {
    font-size: 10px;
    font-weight: 500;
    width: 45px;
    height: 18px;
    display: flex;
    align-items: center;
    justify-content: flex-end;

    &.equal {
      background: url('/static/icon/icon_keep.png') no-repeat center right;
      background-size: 18px;
    }

    &.up {
      color: #cf2b2b;
      background: url('/static/icon/icon_up.png') no-repeat center right;
      background-size: 18px;
      padding-right: 21px;
    }

    &.down {
      color: #0058dd;
      background: url('/static/icon/icon_down.png') no-repeat center right;
      background-size: 18px;
      padding-right: 21px;
    }

    &.new {
      font-size: 10px;
      font-weight: 500;
      color: #ce2424;
      text-transform: uppercase;
    }
  }
}