.header {
  height: 60px;
  padding: 0 10px;
  display: flex;
  align-items: center;
  // justify-content: end;
  border-bottom: solid 1px #eeeeee;

  & .back {
    width: 30px;
    height: 30px;
    background: url('/static/icon/btn-prevpage.png') no-repeat;
    background-size: 30px;
  }

  & input {
    width: calc(100% - 100px);
    float: left;
    padding-left: 15px;

    &::placeholder {
      font-size: 14px;
      font-weight: normal;
      color: #999999;
    }
  }

  & .delete {
    width: 20px;
    height: 20px;
    background: url('/static/icon/icon_keyword_delete.png') no-repeat center;
    background-size: 20px;
    display: none;
    position: absolute;
    right: 50px;
  }

  & .search {
    width: 30px;
    height: 30px;
    background: url('/static/icon/header-search.png') no-repeat center;
    background-size: 30px;
    position: absolute;
    right: 10px;
  }
}