@import 'styles/mixins/index';

.wrap {
  padding: 0 33px;
}

.notiText {
  margin-top: 80px;
  text-align: center;
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.46;
  letter-spacing: normal;
  text-align: center;
  color: #111111;

  &>b {
    font-weight: normal;
    color: #5d2ed1;
  }
}

.pwInputWrap {
  width: 100%;
  margin: 60px auto 40px;
}

.submitWrap {
  margin-top: 71px;
}

.snsLoginGuide {
  margin-top: 10px;
  font-size: 14px;
  text-align: center;
  color: #777777;
}

.orAnotherAuth {
  text-align: center;
  margin: 50px 0 50px;
  color: #777777;
}

.snsLoginButtons {
  $buttonWidth: 130px;
  $gapBetweenButton: 10px;
  width: 100%;
  margin: 0 auto;
  margin-bottom: 60px;
  text-align: center;

  button {
    display: inline-block;
    height: 60px;
    width: 50%;
    padding: 6px 0 6px 40px;
    text-align: left;
    font-size: 13px;
    line-height: 1.38;
    color: #aaa;
    background-size: 30px;
    background-position: 0 center;
    background-repeat: no-repeat;

    // &+button {
    //   margin-left: $gapBetweenButton;
    // }

    &[name='naver'] {
      background-image: url('/static/icon/mypage/login-btn-naver-off@3x.png');
      width: 100%;

      &.isOn {
        background-image: url('/static/icon/mypage/login-btn-naver-on@3x.png');
        color: #444444;
      }
    }

    &[name='kakao'] {
      background-image: url('/static/icon/mypage/login-btn-kakao-off@3x.png');

      &.isOn {
        background-image: url('/static/icon/mypage/login-btn-kakao-on@3x.png');
        color: #444444;
      }
    }

    &[name='facebook'] {
      background-image: url('/static/icon/mypage/login-btn-facebook-off@3x.png');

      &.isOn {
        background-image: url('/static/icon/mypage/login-btn-facebook-on@3x.png');
        color: #444444;
      }
    }

    &[name='google'] {
      background-image: url('/static/icon/mypage/login-btn-google-off@3x.png');

      &.isOn {
        background-image: url('/static/icon/mypage/login-btn-google-on@3x.png');
        color: #444444;
      }
    }
  }
}