$topPosition: 60px;
$toolbarHeader: 55px;

.wrap {
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 0;
  height: calc(100vh - #{$topPosition});
  background: #fff;
  overflow: hidden;

  & .header {
    width: 100%;
    height: $toolbarHeader;
    padding: 18px 0 0 20px;
    font-size: 18px;
    font-weight: 500;
    line-height: 1.22;
    text-align: left;
    color: #111111;
    border-bottom: 1px solid #eeeeee;
  }

  & .close {
    width: 100%;
    height: 60px;
    position: fixed;
    top: 0;
    background-image: url('/static/icon/tool_btn_close.png');
    background-size: 35px;
    background-repeat: no-repeat;
    background-position: right 10px top 10px;
  }

  & .itemWrap {
    position: relative;

    & .item {
      width: 100%;
      height: 50px;
      padding-left: 30px;
      font-size: 16px;
      font-weight: 400;
      line-height: 50px;
      text-align: left;
      color: #111111;
      margin-top: 10px;

      &.selected {
        color: #5d2ed1;
      }
    }
  }
}
