.category-list {
  transition: height 0.1s;
  overflow: hidden;

  .category-list__item {
    height: 36px;
    font-size: 15px;
    padding: 10px 0 10px 12px;
    position: relative;

    span {
      position: absolute;
      right: 0;
      bottom: 0;
    }
  }
}
