.reviewItemWrap {
  padding: 0 20px;
}

.addReviewButton {
  width: 100%;
  height: 40px;
  border: solid 1px #dddddd;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  font-weight: 500;
  color: #111111;

  & .plusIcon {
    width: 16px;
    height: 16px;
    background: url('/static/icon/detail_btn_more_open.png') no-repeat center;
    background-size: 16px;
    margin-left: 4px;
  }
}
