@import 'styles/mixins/index';

.wrap {
  position: relative;
  display: inline-block;
  width: 100%;
  text-align: left;
}

.button {
  display: block;
  width: 100%;
  height: 50px;
  padding: 15px 20px;
  border-bottom: 1px solid #eee;
  font-size: 14px;
  color: #111;
  background: url('/static/icon/community/arrow-down-boardselector.png')
    no-repeat right center;
  background-size: 19px;
  background-position: calc(100% - 15px) center;
  text-align: left;

  &:hover {
    cursor: initial;
  }

  &.isClickable {
    &:hover {
      cursor: pointer;
    }
  }
}
