@import 'styles/mixins/index';
@import 'styles/var';

.wrap {
  @include clearfix;
  padding: 30px;
  background: #fff;
  border: 1px solid #eeeeee;
}

// 상위 카테고리
.category {
  &:not(:first-child) {
    margin-top: 30px;
  }
}

.menuList {
  margin-top: 20px;
  margin-left: 10px;
  & .menuButton {
    color: #444;
    font-weight: 400;

    &:not(:first-of-type) {
      margin-top: 15px;
    }
  }
}

.menuButton {
  width: 100%;
  font-size: 15px;
  text-align: left;
  font-weight: 500;
  min-height: 1.46em;

  &.isSelected {
    color: $blue-purple;
    font-weight: bold;
  }

  &:not(:first-of-type) {
    margin-top: 30px;
  }

  &:hover {
    cursor: pointer;
  }
}
