.filter-option {
  padding-right: 20px;
  padding-left: 20px;
  margin-bottom: 30px;

  &__buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 40px;
    font-size: 13px;

    .filter-button {
      &.button--order {
        padding-right: 16px;
        background: url('/static/icon/list_select_arrow_open.png') no-repeat
          right;
        background-size: 13px;
      }

      &.button--advanced {
        padding-right: 19px;
        background: url('/static/icon/list_icon_filter.png') no-repeat right;
        background-size: 14px;
      }
    }
  }
}
