.filter-tags {
  display: flex;
  justify-content: space-between;

  .tags {
    margin-top: -5px;

    button {
      margin-top: 5px;
      height: 26px;
      padding: 0 29px 0 12px;
      border: 1px solid #5d2ed1;
      border-radius: 15px;
      margin-right: 3px;
      position: relative;

      color: #5d2ed1;
      font-size: 12px;
      line-height: 14px;

      &::before {
        position: absolute;
        top: 7px;
        right: 15px;
        content: '';
        height: 10px;
        width: 1px;
        background-color: #5d2ed1;
        transform: rotate(45deg);
      }
      &::after {
        position: absolute;
        top: 7px;
        right: 15px;
        content: '';
        height: 10px;
        width: 1px;
        background-color: #5d2ed1;
        transform: rotate(-45deg);
      }
    }
  }

  .reset {
    margin-top: 3px;
    line-height: 20px;
    display: flex;
    font-size: 13px;
    min-width: 57px;

    &::after {
      content: '';
      width: 20px;
      height: 20px;
      background-image: url('/static/icon/filter_icon_reset_b@3x.png');
      background-size: 24px;
      background-repeat: no-repeat;
    }
  }
}
