.LuckyDrawTopBannerSection {
  height: 865px;
  padding-top: 80px;
  padding-bottom: 70px;
  text-align: center;
}

.LuckyDrawInfoBanner {
  background-image: url('/public/images/luckydraw/bottom_info/luckydraw_info/luckydraw_info@3x.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  height: 239px;
  margin: 0 15px;
  margin-bottom: 60px;
}

.LuckyDrawAttendBanner {
  background-image: url('/public/images/luckydraw/bottom_info/attend_info/attend_info@3x.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  height: 253px;
  margin-bottom: 60px;
}

.LuckyDrawWarnInfo {
  color: #999999;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 14px;
  height: 37px;
  line-height: 0.79;
  margin-top: 20px;
  cursor: pointer;
}
