.search-menu {
  position: fixed;
  left: 0;
  top: 61px;
  z-index: 111;
  width: 100%;
  height: calc(100vh - 60px);
  background-color: #fff;
  padding-left: 20px;
  padding-right: 20px;
  color: #444;

  .item {
    position: relative;
    width: 100%;
    padding-right: 25px;
    height: 40px;
    line-height: 40px;
    vertical-align: middle;
    font-size: 14px;
    text-align: left;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;

    .item-icon {
      position: absolute;
      top: 12px;
      right: 0;
    }
  }
}
