.modal-portal {
  z-index: 222;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  .shade {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(#000, 0.5);

    div {
      position: absolute;
      top: 15px;
      right: 15px;
    }
  }

  .modal {
    z-index: 2;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;

    &.transparent {
      background-color: unset;
    }

    &.gutter {
      top: 60px;
      height: calc(100% - 60px);
    }

    &.center {
      display: flex;
      justify-content: center;
      align-items: center;
    }

    &.slideLeft {
      animation: slideLeft 0.1s linear;
    }
    &.slideRight {
      animation: slideRight 0.1s linear;
    }
    &.slideUp {
      animation: slideUp 0.1s linear;
    }
  }
}

@keyframes slideLeft {
  from {
    transform: translateX(-100vw);
  }
  to {
    transfrom: translateX(0);
  }
}
@keyframes slideRight {
  from {
    transform: translateX(100vw);
  }
  to {
    transfrom: translateX(0);
  }
}
@keyframes slideUp {
  from {
    transform: translateY(100%);
  }
  to {
    transfrom: translateY(0);
  }
}
