.wrap {
  margin-top: 60px;
  padding: 0 20px;
  .proudct {
    border-bottom: 1px solid #ebebeb;
    display: flex;
    padding-bottom: 20px;
    margin-bottom: 20px;

    &:last-child {
      border: none;
      padding: none;
      margin-bottom: 0px;
    }
    .productImage {
      min-width: 100px;
      height: 100px;
      background-size: cover;
      background-position: center;
    }

    .productInfo {
      margin-left: 25px;

      .brandName {
        color: #111;
        font-size: 13px;
        font-weight: 500;
      }
      .productName {
        margin-top: 6px;
        width: 180px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        color: #111;
        font-size: 13px;
        font-weight: 500;
      }

      .productPrice {
        margin-top: 6px;
        font-size: 14px;
        color: #111;
        font-weight: bold;
        max-width: 180px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
      }

      .productOption {
        margin-top: 10px;
        color: #777;
        font-size: 13px;
        font-weight: normal;
      }
    }
  }
}
