.wrap {
    padding: 60px 10px;

    &.wrapNotHome {
        margin-top: 0;

        &:nth-child(1) {
            margin-top: 88px;
        }
    }

    & .title {
        font-size: 20px;
        font-family: 'NanumSquare';
        font-weight: bold;
        text-align: center;
        color: #111111;
        margin-bottom: 20px;

        &.titleNotHome {
            margin-bottom: -10px;
        }
    }

    & .categoryWrap {
        display: flex;
        justify-content: center;
        margin-bottom: -10px;

        & .item {
            font-size: 13px;
            font-weight: 500;
            color: #999999;
            margin-right: 36px;
            cursor: pointer;

            & .dot {
                width: 4px;
                height: 4px;
                background-color: transparent;
                border-radius: 5px;
                margin: 0 auto;
                margin-bottom: 6px;
            }

            &:last-child {
                margin-right: 0;
            }

            &.selected {
                color: #111111;

                & .dot {
                    background-color: #111111;
                }
            }
        }
    }

    & a {
        margin-right: 6px;

        &:nth-child(2n) {
            margin-right: 0;
        }


    }

    .viewMoreBtn {
        width: 141px;
        height: 40px;
        border: solid 1px #dddddd;
        margin: 0 auto;
        font-size: 12px;
        color: #111111;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 40px;
    }
}

.marginArea {
    width: 100%;
    height: 8px;
    background-color: #f9f9fa;
}