.wrap {
  width: 100%;
  height: calc((16 / 15) * 100vw + 2px);
  margin: 0 auto;
  position: relative;
  overflow-x: hidden;

  & .counter {
    position: absolute;
    color: #ffffff;
    font-size: 12px;
    font-weight: 500;
    letter-spacing: 0.6px;
    bottom: 14px;
    right: 20px;
  }
}

.prevArrow {
  position: absolute;
  display: block;
  line-height: 0px;
  font-size: 0px;
  cursor: pointer;
  background: transparent;
  color: transparent;
  top: 50%;
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
  padding: 0;
  border: none;
  outline: none;
  height: 88px;
  width: 88px;
  background: url('/static/icon/main_btn_arrow_left.png') no-repeat center;
  background-size: contain;
  left: 0;
  z-index: 100;
}

.dotWrap {
  width: 450px;
  height: 2px;
  opacity: 0.35;
  background-color: #ffffff;
}

.nextArrow {
  position: absolute;
  display: block;
  line-height: 0px;
  font-size: 0px;
  cursor: pointer;
  background: transparent;
  color: transparent;
  top: 50%;
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
  padding: 0;
  border: none;
  outline: none;
  height: 88px;
  width: 88px;
  background: url('/static/icon/main_btn_arrow_right.png') no-repeat center;
  background-size: contain;
  right: 0;
}
