$imageHeight: 220px;
$contentsHeight: 117px;

.wrap {
  width: calc(50% - 3px);
  margin-top: 40px;
  display: inline-block;

  .conditionWrap {
    height: 24px;
    font-size: 11px;
    font-weight: normal;

    & .brandNew {
      color: #b58c44;
      float: left;

      &.new {
        color: #5e24d1;
      }
    }

    & .betweenLine {
      width: 10px;
      height: inherit;
      float: left;
    }

    & .internationalShipping {
      float: left;
      color: #111111;
      padding-left: 13px;
      background: url('/static/icon/airplane_icon@3x.png') no-repeat left center;
      background-size: 8px;
    }
  }

  & .imageWrap {
    position: relative;
    width: 100%;
    height: 0;
    overflow: hidden;
    padding-bottom: 100%;

    & img {
      position: absolute;
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }

  .item__delete__btn {
    width: 30px;
    height: 30px;
    position: absolute;
    top: 0;
    right: 0;
    background: url('/static/icon/like_item_delete.png') no-repeat;
    background-size: cover;
    background-position: center;
    cursor: pointer;
  }

  & .freeShipping {
    width: 30px;
    height: 30px;
    background-color: #5d2ed1;
    font-size: 10px;
    font-weight: 500;
    color: white;
    position: absolute;
    top: 10px;
    left: 10px;
    z-index: 100;
    text-align: left;
    line-height: 1.1;
    letter-spacing: 1.6px;
    padding-top: 3px;
    padding-left: 5px;
  }

  & .contentWrap {
    width: 100%;
    height: $contentsHeight;
    padding: 12px 0 0 5px;

    & .brandWrap {
      display: flex;
      align-items: baseline;
      margin-bottom: 11px;

      & .brandName {
        font-size: 13px;
        font-weight: bold;
        color: #111111;
        max-width: 80%;
        overflow: hidden;
      }

      & .productSeason {
        font-size: 12px;
        font-weight: normal;
        color: #777777;
        margin-left: 4px;
      }
    }
  }

  & .dealName {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    line-height: 1.2em;
    height: 2.4em;
    font-size: 12px;
    font-weight: 400;
    color: #111;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-bottom: 10px;
  }

  & .priceWrap {
    display: flex;
    align-items: center;
    position: relative;

    & .sellPrice {
      font-size: 14px;
      font-weight: bold;
      color: #111111;
      margin-right: 5px;
    }

    & .discountPrice {
      font-size: 10px;
      font-weight: normal;
      color: #777777;
      text-decoration-line: line-through;
      margin-right: 8px;
    }

    & .discountRate {
      font-size: 12px;
      font-weight: bold;
      color: #5d2ed1;
    }
  }

  & .sellerWrap {
    margin-top: 8px;
    display: flex;
    align-items: center;

    & .sellerLevel {
      width: 21px;
      height: 13px;
      border-radius: 6.5px;
      border: solid 1px #dddddd;
      background-color: #ffffff;
      margin-right: 3px;
      font-size: 10px;
      line-height: 11px;
      float: left;
      text-align: center;

      & .level {
        transform: scale(0.7);
      }
    }

    & .sellerName {
      font-size: 10px;
      font-weight: normal;
      color: #333333;
      float: left;
      height: 16px;
    }
  }
}
