@import 'styles/mixins/index';

.wrap {
  height: 60px;
  display: flex;
  align-items: center;
  padding: 0 20px;

  &:not(:first-child) {
    margin-top: 10px;
  }
}

.title {
  font-size: 15px;
  font-weight: bold;
  margin: 0;

  &.isBorderHidden {
    border-bottom: 2px solid transparent;
  }
}

.children {
  @include clearfix;
  margin-top: 20px;
}

.guideText {
  font-weight: normal;
  line-height: 1;
  margin-top: 8px;
  margin-left: 15px;
  font-size: 13px;
  color: #777777;
  position: relative;
}

.guideText__questionIcon {
  @include centeredY;
  right: -22px;
  width: 18px;
  height: 18px;
  // background: url('/static/icon/mypage/btn-questionmark@3x.png') no-repeat center 60%;
  background-size: 16px;
  background-color: #ffffff;
}
