.wrap {
  width: 100%;
  height: calc((16 / 15) * 100vw + 2px);
  margin: 0 auto;
  position: relative;
  overflow-x: hidden;

  .counter {
    position: absolute;
    color: #fff;
    font-size: 12px;
    font-weight: 500;
    letter-spacing: 0.6px;
    bottom: 14px;
    right: 20px;
  }
}
