@import 'styles/mixins/index';

$MODAL_BODY_WIDTH: 320px;

.modalBody {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  min-width: $MODAL_BODY_WIDTH;
  max-width: 1024px;
  padding: 50px 20px 20px 20px;
  border: none;
  background-color: #fff;
  font-size: 16px;
}

.alertWrap {
  @include centeredFixed;
  width: 540px;
  background-color: #424242;
  z-index: 2000;
  box-shadow: 0 24px 24px 0 rgba(0, 0, 0, 0.3), 0 0 24px 0 rgba(0, 0, 0, 0.22);
}

.alertBody {
  position: relative;
  text-align: center;
  padding: 0;
  font-size: 14px;
  font-weight: 500;
}

.alertButtons {
  width: 100%;
  text-align: center;
  bottom: 48px;
  margin-top: 40px;

  button {
    display: inline-block;
    color: #ffffff;
    background-color: #5d2ed1;
    padding: 15px 30px;
    border: none;
    font-size: 13px;
    font-weight: 500;

    &:nth-child(2n) {
      margin-left: 10px;
    }

    &:hover {
      cursor: pointer;
    }
  }
}

.confirmButtons {
  width: 100%;
  text-align: center;
  bottom: 48px;
  margin-top: 40px;

  button {
    display: inline-block;
    color: #ffffff;
    background-color: #5d2ed1;
    padding: 15px 30px;
    border: none;
    font-size: 13px;
    font-weight: 500;
    width: calc(50% - 3px);

    &:nth-child(2n) {
      margin-left: 6px;
    }

    &:hover {
      cursor: pointer;
    }
  }
}
