@import './clearfix.scss';

// 그리드 레이아웃은 grid > row > column 계층으로 이루어진다.
// gap은 column 사이의 간격을 의미.

@mixin gridContainer($gap: 30px) {
  @include clearfix;
  $sideMargin: 0; // init
  $sidePadding: 0; // init

  @if ($gap != 0) {
    $sideMargin: calc(-1 * (#{$gap} / 2));
    $sidePadding: calc(#{$gap} / 2);
  }

  margin-left: $sideMargin;
  margin-right: $sideMargin;

  // row
  & > [class^='gridRow'] {
    display: block;
  }

  // column
  & > [class^='col'] {
    padding-left: $sidePadding;
    padding-right: $sidePadding;
  }
}

@mixin gridRow {
  @include clearfix;
  width: 100%;
}

// 그리드의 컬럼 박스
@mixin gridColumn($ratio: 1/2, $gap: 30px) {
  $sidePadding: 0;
  @if ($gap != 0) {
    $sidePadding: calc(#{$gap} / 2);
  }
  display: block;
  float: left;
  width: calc(100% * #{$ratio});
  padding-left: $sidePadding;
  padding-right: $sidePadding;
}
