// 미디어 쿼리 브레이크 포인트.
$break-350: 350px;

@mixin break350 {
  @media (max-width: #{$break-350}) {
    @content;
  }
}

// 미디어 쿼리 브레이크 포인트.
$smBreak: 768px; // 이하는 모바일
$mdBreak: 960px; // 이하는 태블릿
$lgBreak: 1600px; // 이하는 일반 데스크탑, 이상은 큰 화면(large desktop) 데스크탑

// largeDesktop only
@mixin mediaLG {
  @media (min-width: #{$lgBreak}) {
    @content;
  }
}

// large desktop 보다 작은 화면 일반 데스크탑에 적용.
@mixin mediaMD {
  @media (max-width: #{calc(#{$lgBreak} - 1px)}) {
    @content;
  }
}

// normal desktop 보다 작은 화면. 태블릿 사이즈를 의미함
@mixin mediaSM {
  @media (max-width: #{calc(#{$mdBreak} - 1px)}) {
    @content;
  }
}

// 모바일 사이즈
@mixin mediaXS {
  @media (max-width: #{calc(#{$smBreak} - 1px)}) {
    @content;
  }
}

@mixin mediaMin($break) {
  @media (min-width: $break) {
    @content;
  }
}

@mixin mediaMax($break) {
  @media (max-width: $break) {
    @content;
  }
}

// samsung gallaxy series
@mixin mediaGallaxy {
  @media (max-width: 360px) {
    @content;
  }
}

// iphone5
@mixin mediaIhpone5 {
  @media (max-width: 320px) {
    @content;
  }
}
