@use "sass:math";
@import 'styles/mixins/index';

.boardGridContainer {
  @include clearfix;
  padding: 20px 10px;
}

// boardGridItem wrapper
.gridItem {
  @include gridColumn(math.div(1, 2), 10px);
  margin-bottom: 35px;
}

.imageContainer {
  position: relative;
  padding-top: 100%;
}

.productImage {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 5px;
  background-color: #eee;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.infoContainer {
  margin-top: 15px;
}

.title {
  @include clearfix;

  & > * {
    display: inline-block;
  }
}

.title_text {
  float: left;
  @include textEllipsis;
  width: auto;
  max-width: calc(100% - 30px);
  font-size: 15px;
  font-weight: 400;
  color: #111111;
  padding-right: 4px;
}

.title_commentAndNew {
  @include clearfix;
  margin-top: 2px;
  float: left;

  & > * {
    float: left;
  }
}

.title_commentCount {
  display: block;
  font-size: 13px;
  font-weight: bold;
  color: #5d2ed1;
}

.title_newIcon {
  float: left;
  width: 13px;
  height: 13px;
  margin-top: 2px;
  margin-left: 4px;
  background-image: url('/public/icon/community/icon-new-red.png');
  background-size: contain;
}

.itemInfo_username {
  margin: 5px 0;
  height: 1.3em;
}

.itemInfo_memberGrade {
  margin-top: 1px;
  height: 13px;
  border-radius: 6.5px;
  border: solid 1px #dddddd;
  background-color: #ffffff;
  font-size: 7px;
  padding: 0 9px;
  margin-right: 6px;
}

.itemInfo {
  margin-top: 5px;
  color: #7c7c7c;
  font-size: 12px;
}

.itemInfo_category {
  color: #5d2ed1;
}

.itemInfo_counts {
  & > * {
    color: #7c7c7c;

    &:not(:last-child) {
      @include middot(16px, 2px, #ccc);
    }
  }
}

.itemInfo_like {
}

.itemInfo_read {
}

.itemInfo_created {
}
