@import 'styles/mixins/index';

.wrap {
  @include clearfix;
  width: 100%;
  margin: 44px auto 0;
  position: relative;
  border-bottom: 1px solid #111;
  & > * {
    display: block;
    margin: 0;
    float: left;

    &:nth-child(1) {
      width: 140px;
    }

    &:nth-child(2) {
      width: calc(100% - 140px);
    }
  }
}
