@import 'styles/mixins/index';

.wrap {
  height: 56px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
}

.title {
  font-size: 20px;
  font-weight: bold;
  color: #111111;
  margin: 0;
}

.sortButtonWrapper {
  // margin-top: 1px;
}
