.header {
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid #eee;
  position: relative;

  &__title {
    font-size: 17px;
    font-weight: 500;
  }

  &__close {
    position: absolute;
    right: 10px;
  }
}
