.header {
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid #eee;
  position: relative;

  &__title {
    font-size: 17px;
    font-weight: 500;
  }

  &__close {
    position: absolute;
    background: url('/static/icon/burger-top-close@3x.png') no-repeat center;
    background-size: cover;
    width: 30px;
    height: 30px;
    right: 10px;
  }
}
