.list__item__sub {
  transition: height 0.1s;
  visibility: hidden;
  &.open {
    visibility: visible;
  }

  .sub-item {
    padding-top: 10px;
    height: 35px;
    width: 50%;
    display: inline-block;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;

    padding-left: 10px;
    padding-right: 15px;
    &:nth-child(2n) {
      padding-left: 15px;
      padding-right: 10px;
    }
  }
}
