.wrap {}

.subHeader {
    padding-left: 32px;
    font-size: 13px;
    font-weight: 500;
    line-height: 1.38;
    text-align: left;
    color: #a0a0a0;
    margin-bottom: 25px;
}

.findIdWrap {
    padding-bottom: 20px;
}

.radioWrap {
    border-bottom: solid 1px #eeeeee;

    &:last-child {
        border-bottom: 0;
    }
}