.wrap {
    // padding: 0 20px;

    & .header {
        font-size: 14px;
        font-weight: 500;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.43;
        letter-spacing: normal;
        text-align: center;
        color: #333333;
        padding: 27px 0 25px 0;

        & .headerText {
            color: #5d2ed1;
        }
    }

    & .subText {
        font-size: 12px;
        font-weight: 500;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.17;
        letter-spacing: normal;
        text-align: left;
        color: #a0a0a0;
        margin-bottom: 24px;
    }
}

.loginBtn {
    margin-top: 133px;
}