.wrap {
    font-size: 14px;
    font-weight: 500;
    line-height: 1.14;
    color: #898989;
    padding-top: 24px;
}

.bigCheckboxWrap {
    margin-top: 20px;
    border-bottom: solid 1px #eeeeee;
}

.borderBottom {
    border-bottom: solid 1px #eeeeee;
}