.wrap {
    width: 320px;
    height: 414px;
    background-color: #ffffff;
    position: relative;
    padding: 45px 20px 30px 20px;

    .loginLink {
        margin-top: 61px;
        width: 280px;
        height: 60px;
        background-color: #5d2ed1;
        font-size: 16px;
        font-weight: 500;
        font-style: normal;
        font-stretch: normal;
        line-height: 2.63;
        letter-spacing: normal;
        text-align: center;
        color: #ffffff;
        display: block;
        padding-top: 7px;
    }
}

.close {
    width: 29px;
    height: 29px;
    background-image: url('/static/icon/modal_close.png');
    background-size: 29px;
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    right: 20px;
    top: 20px;
    cursor: pointer;
}

.mainImage {
    width: 100%;
    height: 124px;
    background-image: url('/static/icon/login/join_icon_ok.png');
    background-size: 194px 124px;
    background-repeat: no-repeat;
    background-position: center;
}

.header {
    margin-top: 17px;
    font-size: 32px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.31;
    letter-spacing: normal;
    text-align: center;
    color: #5d2ed1;
}

.contents {
    margin-top: 10px;
    font-size: 13px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.54;
    letter-spacing: normal;
    text-align: center;
    color: #666666;
}

.email {
    font-size: 13px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.54;
    letter-spacing: normal;
    text-align: center;
    color: #5d2ed1;
}