@import 'styles/mixins/index';

$wrapperHeight: 140px;
$imageWidth: 100px;

.wrapper {
  @include clearfix;
  text-align: left;
  width: 100%;
  min-height: 100px;
  overflow: hidden;
  padding: 0 25px;
}

html[class*='flexbox'] {
  .wrapper {
    display: flex;
    align-items: center;
  }
}

.productImageBox {
  float: left;
  width: $imageWidth;
  height: $imageWidth;
  background-size: contain;
  background-position: top center;
  background-repeat: no-repeat;
  background-color: #fff;
}

.productInfo {
  float: left;
  width: calc(100% - #{$imageWidth});
  display: flex;
  padding: 22px 0 21px;
  padding-left: 30px;
  flex-direction: column;
  justify-content: space-between;
  line-height: 1.57;
  overflow: hidden;

  // 브랜드, 제품명, 옵션
  &__upperArea {
  }

  // 가격, 주문상태
  &__lowerArea {
  }

  .prodName {
    @include textEllipsis;
    font-size: 14px;
    color: #444;
  }

  .options {
    font-size: 13px;
    line-height: 1.2;
    min-height: 16px;
    color: #777777;
    margin-top: 11px;
    margin-bottom: 9px;

    &.withDivider {
      @include withDivider(8px, 4px);
    }
  }
}
