.wrap {
  width: 100%;
  margin-top: 21px;
  color: #ce2525;
  font-size: 13px;
  background: url('/public/icon/icon-warning@2x.png') no-repeat left center;
  background-size: 15px;
  padding-left: 21px;
}
