.wrap {
  width: 100%;
  margin-top: 60px;
  padding: 22px 62px;
  background: url('/static/icon/mypage/icon-notimark-purple@3x.png') no-repeat
    30px center;
  background-size: 24px;
  background-color: #f9f9fa;
  color: #777;
}
