@import 'styles/mixins/index';

.wrap {
  width: 100%;
  display: flex;
  padding: 10px 20px;
}

.orderState {
  display: flex;
  flex: 1 1 auto;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 80px;

  .value {
    font-size: 16px;
    font-weight: bold;
  }

  .desc {
    font-size: 12px;
    font-weight: normal;
    margin-top: 6px;
    font-weight: 500;
  }

  &:not(:last-child) {
    @include withDivider(
      $height: 36px,
      $distance: 0,
      $color: #eeeeee,
      $width: 1px
    );
  }
}
