// 포지션은 지정하지 않음. 진입 방향에 따라 다르기 때문
.wrap {
  position: fixed;
  display: none;
  z-index: 202;
  width: 100vw;
  height: 100vh;
  padding-bottom: 70px;
  // max-width: 1024px;
  background: transparent;
}
