@import 'styles/var';
@import 'styles/mixins/index';

$imageBoxSize: 80px;

.wrap {
  font-size: 13px;

  &:not(:first-child) {
    margin-top: 30px;
  }

  b {
    font-weight: normal;
    color: #5d2ed1;
  }
}

.productWrap {
  position: relative;
  display: flex;
  height: 80px;
}

.productImageBox {
  width: $imageBoxSize;
  height: $imageBoxSize;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  background-color: #fff;
}

.deleteButton {
  position: absolute;
  top: -5px;
  right: 0;
  width: 25px;
  height: 25px;
  background: url('/static/icon/mypage-icon-delete@2x.png') no-repeat center;
  background-size: 20px;
}

.productInfo {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: calc(100% - #{$imageBoxSize});
  color: #111111;
  padding-left: 20px;
  line-height: 16px;

  .brandName {
    font-weight: 500;
    @include textEllipsis;
  }

  .prodName {
    @include textEllipsis;
    width: 90%;
    font-weight: normal;
    margin-top: 3px;
  }

  .option {
    min-height: 16px;
    color: #777777;
    margin-top: 3px;
    @include textEllipsis;

    & .optionLine {
      height: 8px;
      width: 1px;
      border-right: 1px solid #cccccc;
      margin: 0 6px;
      margin-right: 2px;
      display: inline-block;
    }
  }

  .shipping {
    font-weight: normal;
    line-height: 1.29;
    color: #777777;
    margin-top: auto;
  }
}

.modifyButton {
  display: flex;
  width: 100%;
  height: 40px;
  margin-top: 20px;
  align-items: center;
  justify-content: center;
  border: solid 1px #dddddd;
  background-color: #fff;
  color: #111;
}

.answerWrap {
  margin-top: 20px;
  margin-left: -20px;
  margin-right: -20px;
  padding: 0 20px;

  &.isExpanded {
    background: #fbfbfb;
    border-top: 1px solid #eeeeee;
    border-bottom: 1px solid #eeeeee;
  }
}

.answerInner {
  padding: 20px 0 30px;
  border: none;

  &.isFolded {
    border-top: 1px dashed #eee;
    border-bottom: 1px solid #eee;
  }
}

.answerStatus {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60px;
  height: 24px;
  border: solid 1px #dddddd;
  background-color: #ffffff;
  font-size: 12px;
  color: #444444;

  &.isAnswered {
    @extend .answerStatus;
    background-color: #5d2ed1;
    border: solid 1px #5d2ed1;
    color: #ffffff;
  }
}

.inquiry {
  position: relative;
  margin-top: 16px;
  padding-right: 24px; // 아이콘

  // 닫힘 아이콘
  &::before {
    content: ' ';
    position: absolute;
    top: 0;
    right: 0;
    width: 19px;
    height: 19px;
    background: url('/static/icon/detail_icon_arrow_open.png') no-repeat center;
    background-size: contain;
  }

  &.isFolded {
    &::before {
      transform: rotate(180deg);
    }

    // 질문 텍스트 박스
    .inquiry_text {
      @include textEllipsis;
    }
  }
}

// 접힘 아이콘
.inquiry__foldIcon {
}

// 질문 텍스트 박스
.inquiry_text {
}

.inquiry__replyInfo {
}

.reply {
  display: flex;
  justify-content: flex-start;
  border-top: 1px dashed #eee;
  padding-top: 20px;
  margin-top: 20px;

  &.isHidden {
    display: none;
  }
}

.replay__indent {
  flex: 0 0 56px;
  color: $blue-purple;
  padding-left: 12px;
  background: url('/static/icon/mypage/indentgrid-blue-purple.png') no-repeat
    top left;
  background-size: 12px;
  font-size: 13px;
}

.replay__contents {
  flex: 1 0 auto;
}

.reply__text {
}

.inquiry__info {
  margin-top: 15px;
  & > span {
    &:not(:first-child) {
      margin-left: 0.5em;
    }
  }
}

.replyWrap {
  position: relative;
  margin-top: 20px;
  margin-left: 131px;
  width: calc(100% - 131px);
  padding-left: 14px;
}

.replyTextWrap {
  position: relative;
  width: 100%;

  & .writing {
    padding-top: 12px;

    & span {
      color: #7c7c7c;
    }
  }
}
