.wrap {
  width: 100%;

  & .footerWrap {
    background-color: #f9f9fa;
  }

  & .tabSection {
    padding: 37px 0 25px 0;
    margin: 0 20px;
    font-size: 11px;
    font-weight: normal;
    color: #111111;
    border-bottom: 1px solid #eee;

    & .tabItem {
      width: 100px;
      margin-right: 30px;
      margin-bottom: 14px;
      display: inline-block;

      &:nth-child(2n) {
        width: calc(100% - 160px);
      }

      &:nth-child(n + 2) {
        margin-bottom: 0;
      }
    }
  }

  & .contentsWrap {
    padding: 22px 20px 50px 20px;
    font-size: 11px;
    color: #777777;
    font-weight: normal;
    line-height: 1.82;

    .snsWrap ul {
      display: flex;
      margin-bottom: 0;
      li {
        margin-left: 16px;

        &:first-child {
          margin-left: 0;
        }
        img {
          width: 22px;
          height: 22px;
        }
      }
    }
    & .storeItem {
      margin-top: 24px;
      margin-bottom: 24px;

      .csCenterTitle {
        color: #111;
        font-weight: 500;
      }
    }

    & .guhadaItem {
      margin-bottom: 15px;
    }

    & a {
      color: #777777;
      text-decoration: underline;
    }
  }
}
