@import 'styles/mixins/index';

.wrap {
  font-family: Roboto;
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  width: 100%;
  padding: 0 20px;

  @include mediaIhpone5 {
    padding: 0;
  }

  &:last-child {
    margin-bottom: 40px;
  }

  .sellerImage {
    width: 60px;
    height: 60px;
    border-radius: 5px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
    float: left;
  }

  .nosellerImage {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
    border-radius: 5px;
    background: #ccc;
    line-height: 95px;
    text-align: center;
    color: #fff;
    font-size: 13px;
    font-weight: bold;
    cursor: pointer;
  }

  .sellerInfoSection {
    display: flex;
    flex-flow: row wrap;
    width: 175px;
    padding: 10px 15px;

    > div {
      width: 100%;
    }

    .sellerGreeting {
      display: flex;
      align-items: center;
      color: #111111;
      font-size: 14px;
      font-weight: 500;
      line-height: 1.37;
      margin-bottom: 8px;

      .sellerName {
        max-width: 155px;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
      }

      .sellerRecently {
        width: 13px;
        height: 13px;
        margin-left: 7px;
      }
    }

    .sellerInfo {
      color: #777777;
      font-size: 12px;
      line-height: 1.3;

      .sellerDivider {
        color: #dddddd;
        margin: 0 7px;
      }
    }
  }

  .followSection {
    display: flex;
    justify-content: center;
    align-items: center;

    > div {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 85px;
      height: 35px;
      border-radius: 18px;
      line-height: 1.15;
      font-size: 13px;
      font-weight: 500;
      cursor: pointer;
    }

    .followButton {
      background: #5d2ed1;
      color: #fff;
      border: 1px solid #5d2ed1;
    }

    .unfollowButton {
      color: #111111;
      border: 1px solid #ddd;
    }
  }
}



  /*.sellerName {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    max-width: 100%;
    padding-left: 20px;
    text-align: left;
    height: 16px;
    font-size: 13px;
    font-weight: 500;
    color: #111;
    cursor: pointer;
  }*/

  /*.sellerInfo {
    @include clearfix;
    font-size: 12px;
    color: #444;
    font-weight: 300;
    margin: 10px 0 0 0;
    text-align: left;
    padding-left: 20px;
    height: 15px;
    max-width: 100%;
    display: -webkit-box;

    .sellerFollower {
      overflow: hidden;
      white-space: nowrap;
      margin-right: 5px;
      text-overflow: ellipsis;
      max-width: 85px;
      display: inline-block;
    }

    .sellerProduct {
      padding-left: 5px;
      position: relative;
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
      max-width: 85px;
      display: inline-block;

      &::before {
        position: absolute;
        top: 50%;
        left: 0;
        width: 1px;
        height: 8px;
        margin-top: -4px;
        background-color: #999;
        content: '';
      }
    }
  }*/