@import 'styles/mixins/index';

.buttonsContainer {
  margin-top: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.buttonsContainer_rightSide {
  & > * {
    margin-left: 8px;
  }
}
