.banner-image {
  background-image: url('/public/images/luckydraw/luckydraw_top.png');
  background-position: center;
  background-repeat: no-repeat;
  height: 320px;
  max-width: 100%;
  position: relative;
  margin-bottom: 80px;
}

.banner-icon {
  width: 318px;
  height: 82px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
