.wrap {
    padding-bottom: 5px;
    border-bottom: dotted 1px #ebedef;
    margin: 0 20px;

    & .header {
        width: 100%;
        height: 60px;
        padding: 10px 0 10px 0;
        font-size: 14px;
        font-weight: 500;
        color: #111111;
        display: flex;
        align-items: center;
    }

    & .rgbWrap {

        display: flex;
        flex-wrap: wrap;

        & .rgbItem {
            width: 25px;
            height: 25px;
            margin-right: calc(((100% - (25px*7)) / 6));
            border-radius: 15px;
            border: solid 1px #e5e5e5;
            margin-bottom: 15px;

            &:nth-child(7n) {
                margin-right: 0;
            }

            &.select {
                background: url('/static/icon/filter_btn_check_w@3x.png') no-repeat center;
                background-size: 16px;

                &.ffffff {
                    background: url('/static/icon/filter_btn_check_b@3x.png') no-repeat center;
                    background-size: 16px;
                }
            }
        }

    }
}