.wrap {
  font-family: Roboto;
  width: calc(50% - 3px);
  float: left;
  overflow: hidden;
  margin-right: 6px;
  margin-bottom: 40px;

  &:nth-child(2n) {
    margin-right: 0;
  }

  & .imageWrap {
    position: relative;
    width: 100%;
    height: 0;
    overflow: hidden;
    padding-bottom: 100%;
  }

  & .freeShipping {
    width: 30px;
    height: 30px;
    background-color: #5d2ed1;
    font-size: 10px;
    font-weight: 500;
    color: white;
    position: absolute;
    top: 10px;
    left: 10px;
    z-index: 100;
    text-align: left;
    line-height: 1.1;
    letter-spacing: 1.6px;
    padding-top: 3px;
    padding-left: 5px;
  }

  & .color {
    display: flex;
    align-content: flex-start;
    position: absolute;
    bottom: 10px;
    left: 10px;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100px;
    height: 100px;
    justify-content: flex-end;
    z-index: 100;

    & .box {
      width: 9px;
      height: 9px;
      margin-right: 5px;
      margin-top: 5px;
      border-radius: 12px;
      border: 1px solid #ddd;
    }
  }

  & .imageUrl {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: contain;
  }

  & .detailWrap {
    height: auto;
    padding: 16px 10px 0 10px;
  }

  .conditionWrap {
    height: 24px;
    font-size: 11px;
    font-weight: normal;

    & .brandNew {
      color: #b58c44;
      float: left;

      &.new {
        color: #5e24d1;
      }
    }

    & .betweenLine {
      width: 10px;
      height: inherit;
      float: left;
    }

    & .internationalShipping {
      float: left;
      color: #111111;
      padding-left: 13px;
      background: url('/static/icon/airplane_icon@3x.png') no-repeat left center;
      background-size: 8px;
    }
  }

  & .brandName {
    font-size: 12px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.6;
    letter-spacing: normal;
    text-align: left;
    color: #999999;

    & .productSeason {
      font-size: 12px;
      font-weight: normal;
      color: #777777;
      margin-left: 5px;
    }
  }

  & .productName {
    height: 2rem;
    font-size: 12px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: left;
    color: #111111;
    margin-top: 6px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
    word-wrap: break-word;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
  }

  & .priceWrap {
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    line-height: 1;

    & .discountWrap {
      display: flex;
      align-items: center;
    }

    & .sellPrice {
      font-size: 13px;
      font-weight: 500;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.15;
      letter-spacing: normal;
      text-align: left;
      color: #111111;
      margin-right: 8px;
    }

    & .discountPrice {
      font-size: 11px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.36;
      letter-spacing: -0.44px;
      text-align: left;
      color: #999999;
      text-decoration-line: line-through;
    }

    & .discountRate {
      font-size: 12px;
      font-weight: bold;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.15;
      letter-spacing: normal;
      text-align: left;
      color: #5d2ed1;
    }
  }

  & .shipWrap {
    margin-top: 15px;

    .shipItem {
      border: 1px solid #eeeeee;
      color: #777777;
      font-size: 10px;
      margin-right: 4px;
      padding: 4px 5px 3px;
    }

    > .shipItem:last-child {
      margin-right: 0;
    }
  }

  & .sellerName {
    font-size: 10px;
    font-weight: normal;
    color: #444444;
    margin-top: 8px;
  }
}
