$topPosition: 60px;
$toolbarHeader:60px;

.wrap {
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
    height: calc(100vh - #{$topPosition});
    background: #fff;
    overflow: scroll;

    & .header {
        width: 100%;
        height: $toolbarHeader;
        padding: 0 0 0 20px;
        display: flex;
        align-items: center;
        font-size: 18px;
        font-weight: bold;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.22;
        letter-spacing: normal;
        text-align: left;
        color: #111111;
        border-bottom: 1px solid #ebedef;
    }

    & .close {
        width: 100%;
        height: 60px;
        position: fixed;
        top: 0;
        background-image: url('/static/icon/tool_btn_close.png');
        background-size: 30px;
        background-repeat: no-repeat;
        background-position: right 9px bottom 13px;
    }

    & .itemWrap {
        position: relative;


        & .item {
            width: 100%;
            height: 60px;
            padding: 10px 0 10px 20px;
            font-size: 14px;
            font-weight: 500;
            color: #111111;
            display: flex;
            align-items: center;

            &.selected {
                color: #5d2ed1;
            }
        }
    }

    & .button {
        width: 100%;
        height: 60px;
        font-size: 13px;
        font-weight: 500;
        color: #fff;
        margin-top: 25px;
        position: fixed;
        bottom: 0;

        & .init {
            width: 33%;
            height: 60px;
            background-color: #444444;
            background-image: url('/static/icon/filter_icon_reset_w@3x.png');
            background-repeat: no-repeat;
            background-size: 27px;
            background-position: center left 26%;
            padding-left: 5%;
        }

        & .search {
            width: 67%;
            height: 60px;
            background-color: #5d2ed1;
            text-align: center;
        }
    }
}