.wrap {
    width: calc(50% - 3px);
    float: left;
    overflow: hidden;
    margin-right: 6px;
    margin-bottom: 40px;

    &:nth-child(2n) {
        margin-right: 0;
    }

    & .imageWrap {
        position: relative;
        width: 100%;
        height: 0;
        overflow: hidden;
        padding-bottom: 100%;
    }

    & .freeShipping {
        width: 30px;
        height: 30px;
        background-color: #5d2ed1;
        font-size: 10px;
        font-weight: 500;
        color: white;
        position: absolute;
        top: 10px;
        left: 10px;
        z-index: 100;
        text-align: left;
        line-height: 1.1;
        letter-spacing: 1.6px;
        padding-top: 3px;
        padding-left: 5px;
    }

    & .color {
        display: flex;
        align-content: flex-start;
        position: absolute;
        bottom: 10px;
        left: 10px;
        flex-direction: column;
        flex-wrap: wrap;
        width: 100px;
        height: 100px;
        justify-content: flex-end;
        z-index: 100;

        & .box {
            width: 12px;
            height: 12px;
            margin-right: 5px;
            margin-top: 6px;
            border-radius: 12px;
            border: 1px solid #ddd;
        }
    }

    & .imageUrl {
        position: absolute;
        width: 100%;
        height: 100%;
        object-fit: contain;
    }

    & .detailWrap {
        height: auto;
        padding: 15px 0 0 5px;

    }

    & .brandName {
        font-size: 13px;
        font-weight: 500;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.48;
        letter-spacing: normal;
        text-align: left;
        color: #111111;


        & .productSeason {
            font-size: 12px;
            font-weight: normal;
            color: #777777;
            margin-left: 5px;
        }
    }

    & .productName {
        height: 31px;
        font-size: 12px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.33;
        letter-spacing: normal;
        text-align: left;
        color: #111111;
        margin-top: 6px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: normal;
        word-wrap: break-word;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
    }

    & .priceWrap {
        margin-top: 12px;
        display: flex;
        align-items: center;
        line-height: 1;

        & .discountWrap {
            display: flex;
            align-items: center;
        }

        & .sellPrice {
            font-size: 14px;
            font-weight: 500;
            font-style: normal;
            font-stretch: normal;
            line-height: 1;
            letter-spacing: normal;
            text-align: left;
            color: #111111;
            margin-right: 5px;
        }

        & .discountPrice {
            font-size: 10px;
            font-weight: normal;
            font-style: normal;
            font-stretch: normal;
            line-height: 1.36;
            letter-spacing: -0.28px;
            text-align: left;
            color: #777777;
            text-decoration-line: line-through;
            margin-right: 5px;
        }

        & .discountRate {
            font-size: 12px;
            font-weight: bold;
            font-style: normal;
            font-stretch: normal;
            line-height: 1.15;
            letter-spacing: normal;
            text-align: left;
            color: #5d2ed1;

        }
    }

    & .sellerName {
        font-size: 10px;
        font-weight: normal;
        color: #444444;
        margin-top: 8px;
    }
}