.wrap {
    padding-bottom: 10px;
    border-bottom: dotted 1px #ebedef;
    margin: 0 20px;

    &:last-child {
        border-bottom: 0;
        padding-bottom: 75px;
    }

    & .header {
        width: 100%;
        height: 60px;
        padding: 10px 0 10px 0;
        font-size: 14px;
        font-weight: 500;
        color: #111111;
        display: flex;
        align-items: center;
    }

    & .itemWrap {
        padding-left: 12px;

        & .item {
            width: 50%;
            height: 38px;
            display: inline-flex;
            align-items: center;
            font-size: 14px;
            font-weight: normal;
            color: #111111;
            padding-left: calc(16px + 7px);
            background: url('/static/icon/filter_checkbox_inactive.png') no-repeat left;
            background-size: 16px;
            overflow: hidden;

            &.selected {
                background: url('/static/icon/filter_checkbox_selected.png') no-repeat left;
                background-size: 16px;
                color: #5d2ed1;
            }
        }
    }

    & .priceWrap {
        position: relative;
        height: 40px;
        margin-top: 10px;
        margin-bottom: 10px;

        & input {
            width: calc((100% - 21px - 60px - 7px) / 2);
            height: inherit;
            float: left;
            border: solid 1px #dddddd;
            padding-left: 10px;
        }

        & div {
            width: 21px;
            height: inherit;
            text-align: center;
            float: left;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        & button {
            width: 60px;
            height: inherit;
            margin-left: 7px;
            float: left;
            background-color: #444444;
            color: #ffffff;
        }
    }

    & .resultSearch {
        width: 100%;
        height: 52px;
        margin-top: 10px;
        border-bottom: 1px solid #111111;
        background: url('/static/icon/header-search.png') no-repeat center right;
        background-size: 30px;

        &::placeholder {
            font-size: 13px;
            font-weight: normal;
            color: #aaaaaa;
        }
    }
}