@import 'styles/mixins/index';

.itemWrap {
  height: 210px;
  padding: 50px 20px 0 20px;
  position: relative;

  &:first-child {
    padding-top: 40px;
  }

  &:last-child {
    margin-bottom: 60px;
  }
}

.productImageBox {
  float: left;
  width: 100px;
  height: 100px;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  background-color: #fff;
}

.productInfo {
  float: left;
  margin-left: 24px;
  width: calc(100% - 124px);
  height: 100px;
  position: relative;
  font-size: 13px;
  color: #111111;
  line-height: 16px;

  .brandName {
    font-weight: 500;
    @include textEllipsis;
  }

  .prodName {
    font-weight: normal;
    margin-top: 3px;
    @include textEllipsis;
  }

  .option {
    font-size: 13px;
    min-height: 16px;
    color: #777777;
    margin-top: 3px;
    @include textEllipsis;

    & .optionLine {
      height: 8px;
      width: 1px;
      border-right: 1px solid #cccccc;
      margin: 0 6px;
      margin-right: 2px;
      display: inline-block;
    }
  }

  .price {
    font-size: 14px;
    font-weight: 500;
    line-height: 17px;
    color: #111;
    margin-top: 3px;
  }

  .statusBox {
    margin-top: 20px;
  }

  .status {
    font-size: 14px;
    font-weight: 500;
    line-height: 1.2;
    color: #5d2ed1;
  }

  .statusMessage {
    font-size: 12px;
    color: #777777;
    margin-left: 10px;
  }

  .shipping {
    font-weight: normal;
    line-height: 1.29;
    color: #777777;
    margin-top: 10px;
  }
}

.actionBox {
  width: 100%;
  margin-top: 20px;
  display: inline-block;

  &>button {
    display: block;
    width: 100%;
    height: 40px;
    text-align: center;
    font-size: 13px;
    font-weight: 500;
    border: solid 1px #cccccc;

    &:not(:first-child) {
      margin-top: 6px;
    }

    // 색이 들어간 버튼
    &.isColored {
      text-align: center;
      background: #5d2ed1;
      border: 1px solid #5d2ed1;
      color: #fff;
    }

    &:hover {
      cursor: pointer;
    }
  }
}

.moreBtn {
  width: 100%;
  height: 50px;
  border-top: 1px solid #eeeeee;
  font-size: 14px;
  font-weight: 500;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  background: url('/static/icon/detail_btn_more_open.png') no-repeat;
  background-position: calc(50% + 20px) center;
  background-size: 16px;
  padding-right: 20px;
}