.wrap {
  padding: 20px 0 18px 0;
  border-bottom: 1px solid #eeeeee;

  &:last-child {
    border-bottom: 0;
  }

  & .profileWrap {
    display: flex;
    margin-bottom: 14px;

    & .profileImage {
      width: 40px;
      height: 40px;
      border-radius: 40px;
      background: url('/static/icon/profile_non_square.png') no-repeat center;
      background-size: cover;
      margin-right: 8px;
    }

    & .levelWrap {
      display: flex;
      align-items: center;
      margin-bottom: 5px;

      &:last-child {
        margin-bottom: 0;
      }

      & .profileBox {
        width: 21px;
        height: 13px;
        border-radius: 6.5px;
        border: solid 1px #dddddd;
        background-color: #ffffff;
        margin-right: 4px;

        & .level {
          font-size: 10px;
          font-weight: normal;
          color: #111111;
          text-align: center;
          transform: scale(0.7);
          line-height: 11px;
        }
      }

      & .userNickname {
        font-size: 12px;
        font-weight: normal;
        color: #444444;
      }

      & .profileSize {
        font-size: 12px;
        font-weight: normal;
        color: #777777;
        margin-left: 10px;

        &.option {
          margin-top: 3px;
        }
      }
    }
  }

  & .sizeWrap {
    display: flex;
    align-items: center;
    margin-bottom: 16px;

    & .itemWrap {
      font-size: 10px;
      font-weight: normal;
      color: #444444;
      display: flex;
      align-items: center;
      border-radius: 11px;
      border: solid 1px #eeeeee;
      background-color: #ffffff;
      padding: 5px 8px 5px 8px;
      margin-right: 5px;

      &:last-child {
        margin-right: 0;
      }

      & .colored {
        color: #5d2ed1;
      }

      & .line {
        height: 8px;
        border-right: 1px solid #dddddd;
        margin: 0 5px;
      }
    }
  }

  & .contentWrap {
    font-size: 13px;
    font-weight: normal;
    color: #444;
    margin-bottom: 11px;
    line-height: 20px;
  }

  .dateWithReportWrap {
    display: flex;
    margin-bottom: 21px;
    font-size: 13px;
    font-weight: normal;
    color: #ccc;

    .reportButton {
      margin-left: 6px;
    }
  }

  & .imageWrap {
    margin-bottom: 16px;
    margin-top: 20px;
    margin-right: -20px;
    padding-right: 20px;
    width: auto;
    height: 132px;
    overflow: auto;
    white-space: nowrap;

    &::-webkit-scrollbar {
      display: none;
    }

    & .photo {
      display: inline-block;
      margin-left: 5px;
      min-width: 130px;
      min-height: 130px;
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;

      &:first-child {
        margin-left: 0;
      }
    }
  }

  & .likeCommentWrap {
    display: flex;
    align-items: center;
    justify-content: space-between;

    & .likeWrap {
      display: flex;
      align-items: center;
      font-size: 13px;
      font-weight: normal;
      color: #444444;

      & .likeIcon {
        width: 24px;
        height: 24px;
        background-size: 24px;
        background-repeat: no-repeat;
        background-image: url('/static/icon/icon_thumbsup_off.png');
      }

      & .unLikeIcon {
        width: 24px;
        height: 24px;
        background-size: 24px;
        background-repeat: no-repeat;
        background-image: url('/static/icon/icon_thumbsup_on.png');
      }

      &.likeCount {
        color: #111111;
      }
    }

    & .commentWrap {
      font-size: 13px;
      font-weight: normal;
      color: #444444;
      display: flex;
      align-items: center;
      & .line {
        height: 10px;
        border-right: 1px solid #cccccc;
        margin: 0 10px;
      }

      .replyOn {
        color: #5d2ed1;
      }
      .replyOff {
        color: #444;
      }
      .arrow {
        width: 19px;
        height: 19px;
        background-size: cover;
        margin-left: 2px;
        font-size: 13px;
        font-weight: 500;
        color: #5d2ed1;
      }
    }
  }
}
