.plugin-buttons {
  position: fixed;
  width: 41px;
  right: 15px;
  bottom: 72px;
  display: flex;
  flex-direction: column;
  z-index: 10;

  .button {
    -webkit-tap-highlight-color: transparent;
    width: 41px;
    height: 41px;
    cursor: pointer;
    margin-top: 7px;
    border-radius: 50%;

    &:first-child {
      margin-top: 0;
    }

    &.button--top {
      background: url('/static/icon/btn-top.png') no-repeat center;
      background-size: cover;
    }

    &.button--recent {
      opacity: 90%;
      background: url('/static/icon/time_icon.png') no-repeat center;
      background-size: 27px;
      background-color: #111;
      position: relative;

      .recent__count {
        position: absolute;
        right: -5px;
        font-size: 7px;
        text-align: center;
        line-height: 17px;
        color: #fff;
        width: 17px;
        height: 17px;
        background-color: #5d2ed1;
        border-radius: 50%;
      }
    }
  }
}
