.tree {
    color: #393939;
    margin-top: 10px;

    & li {
        margin-bottom: 10px;

        &:last-child {
            margin-bottom: 0;
        }
    }

    & ul {
        list-style: none;
        -moz-transition: height .5s;
        -ms-transition: height .5s;
        -o-transition: height .5s;
        -webkit-transition: height .5s;
        transition: height .5s;
        height: 0;
        overflow: hidden;

        & li {
            font-size: 14px;
            font-weight: normal;
            font-style: normal;
            font-stretch: normal;
            line-height: 1.71;
            letter-spacing: 0.42px;
            text-align: left;
            color: #111111;
            padding: 9px 0 8px 40px;
            margin: 0;
        }

        & .categorySecond {
            padding: 9px 0 8px 60px;
            margin: 0;
        }

        & .categoryLast {
            padding: 9px 0 8px 80px;
            margin: 0;
        }

        & .categoryItem {
            padding-left: 20px;
            margin: 0;
        }

        & .plus {
            background-image: url('/static/icon/plus_icon.png');
            background-size: 19px;
            background-repeat: no-repeat;
            background-position: right 30px center;
        }
    }

    & label {
        font-size: 14px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.71;
        letter-spacing: 0.42px;
        text-align: left;
        color: #111111;
        margin: 0;
        width: 100%;
    }

    & .mainCheckboxLabel {
        font-size: 16px;
        font-weight: 500;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.5;
        letter-spacing: 0.48px;
        text-align: left;
        color: #111111;
        cursor: pointer;
        padding: 16px 0 15px 30px;
        margin-bottom: 0;
        width: 100%;
    }

    & input[type="checkbox"] {
        display: none;
    }

    & input[type="checkbox"]:checked~label {
        color: #5d2ed1;
        background-image: url('/static/icon/minus_icon.png');

        &.mainCheckboxLabel {
            background-image: none;
        }
    }
}