{
  "presets": ["@babel/env", "@babel/preset-react"],
  "plugins": [
    [
      "inline-dotenv",
      {
        "path": "./.env",
        "systemVar": "disable"
      }
    ],
    "@babel/plugin-proposal-optional-chaining",
    "@babel/plugin-syntax-dynamic-import",
    ["@babel/plugin-proposal-decorators", { "legacy": true }],
    ["@babel/plugin-proposal-class-properties", { "loose": true }],
    [
      "module-resolver",
      {
        "root": ["./"],
        "alias": {
          "components": "./components",
          "constant": "./constant",
          "js": "./js",
          "lib": "./lib",
          "public": "./public",
          "stores": "./stores",
          "styles": "./styles",
          "template": "./template",
          ".storybook": "./.storybook",
          "routes": "./routes"
        }
      }
    ]
  ]
}
