@import 'styles/mixins/index';

$imageWidth: 100px;
$productInfoPadLeft: 24px;

.wrapper {
  @include clearfix;
  min-height: $imageWidth;
  text-align: left;
  font-size: 13px;
  display: flex;
  align-items: center;
}

.productImageBox {
  float: left;
  width: $imageWidth;
  height: $imageWidth;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  background-color: #fff;

  &:hover {
    cursor: pointer;
  }
}

.productInfo {
  position: relative;
  float: left;
  width: calc(100% - #{$imageWidth});
  flex-direction: column;
  justify-content: space-between;
  padding-left: $productInfoPadLeft;
  line-height: 1.3;
  overflow: hidden;

  .brandName {
    font-weight: bold;
  }

  .productName {
    @include textEllipsis;
    color: #444;
  }

  .option {
    color: #777;
    margin-top: 3px;

    & .hasDivider {
      @include withDivider(8px, 17px);
    }

    & .optionItem {
      &:not(:last-child) {
        &::after {
          content: ',';
          display: inline-block;
          margin-right: 3px;
        }
      }

      &:not(:first-child) {
      }
    }
  }

  // 가격 영역
  .priceWrapper {
    margin-top: 3px;
  }

  // 할인 전 원래 가격.
  .priceBeforeDiscount {
    text-decoration: line-through;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.2;
    text-align: left;
    color: #9f9f9f;
  }

  // 할인 받은 가격
  .finalPrice {
    font-size: 14px;
    font-weight: 500;
    color: #111;
  }

  .discountRate {
  }

  .statusWrapper {
    margin-top: 10px;
  }

  .status {
    font-weight: 500;
    color: #5d2ed1;
  }
  .statusMessage {
    color: #777777;
    margin-left: 10px;
  }
}

// 주문 상품 정보 박스 세로 중앙 정렬
.productInfo__inner {
  width: 100%;
}

// 브랜드, 제품명, 옵션
.productInfo__upperArea {
}

// 가격, 주문상태
.productInfo__lowerArea {
}
