@import 'styles/mixins/index';
@import 'styles/var';

.wrap {
  &.isMenuVisible {
    padding-top: $mypageMenuSliderHeight;
  }
}

.mypageContentsWrap {
  padding-left: 20px;
  padding-right: 20px;
}
