@import 'styles/mixins/index';
@import 'styles/var';

.wrap {
  &.isMenuVisible {
    padding-top: $mypageMenuSliderHeight;
  }
}

.mypageContentsWrap {
  padding-left: 20px;
  padding-right: 20px;
  @include mediaIhpone5 {
    padding-left: 0px;
    padding-right: 0px;
  }
}

.footerWrap {
  margin-top: 20px;
}
