@import 'styles/mixins/index';

.wrap {
  width: 600px;
  padding: 30px;
}

.sizeSection {
  margin-top: 30px;
}

.sizeSectionName {
  font-size: 14px;
  margin-bottom: 10px;
  font-weight: 500;
}

.bodySize {
}

.agreement {
  margin-top: 20px;

  & b {
    color: #5d2ed1;
    font-weight: 500;
  }
}

// 사이즈 선택하는 가로 5칸짜리 그리드
.buttonGrid {
  border-top: 1px solid #eee;
  border-left: 1px solid #eee;
  background-color: #ffffff;

  button {
    width: calc(100% / 5);
    height: 36px;
    border-right: 1px solid #eee;
    border-bottom: 1px solid #eee;

    &.isSelected {
      height: 34px;
      background-color: #444444;
      color: #ffffff;
    }

    &:not(:last-child) {
      border-right: solid 1px #eeeeee;
    }
  }
}
