@import 'styles/mixins/index';

.wrap {
  width: 100vw;
  padding: 0 20px 30px 20px;
}

.sizeSection {
  padding-top: 30px;

  &:first-child {
    border-top: 2px solid #111111;
  }
}

.sizeSectionName {
  font-size: 14px;
  margin-bottom: 10px;
  font-weight: 500;
}

.bodySize {
  margin-bottom: 30px;

  &:last-child {
    margin-bottom: 0;
  }
}

.agreement {
  margin-top: 20px;

  & b {
    color: #5d2ed1;
    font-weight: 500;
  }
}

// 사이즈 선택하는 가로 5칸짜리 그리드
.buttonGrid {
  border-top: 1px solid #eee;
  border-left: 1px solid #eee;
  background-color: #ffffff;

  button {
    width: calc(100% / 3);
    height: 45px;
    border-right: 1px solid #eee;
    border-bottom: 1px solid #eee;

    &.isSelected {
      height: 43px;
      background-color: #444444;
      color: #ffffff;
    }

    &:not(:last-child) {
      border-right: solid 1px #eeeeee;
    }
  }
}