.profileWrap {
  width: 100%;
  height: 90px;
  margin-bottom: 22px;

  & .profile {
    width: 90px;
    height: 90px;
    border-radius: 50%;
    background-size: 90px;
    background-repeat: no-repeat;
    margin: 0 auto;
    position: relative;

    &.empty {
      background-image: url('/static/icon/profile_non_square.png');
      border: 1px solid #dddddd;
    }

    & .camera {
      width: 30px;
      height: 30px;
      border-radius: 50%;
      background-size: 24px;
      background-color: white;
      background-position: center;
      background-image: url('/static/icon/gnb_icon_mini_camera@3x.png');
      background-repeat: no-repeat;
      border: 1px solid #dddddd;
      position: absolute;
      bottom: 0;
      right: 0;
    }
  }
}

.profileTextWrap {
  display: flex;
  justify-content: center;
  & input[type='file'] {
    display: none;
  }
}

.profileText {
  font-size: 13px;
  color: #777777;
}
