.filter-button {
  height: 40px;
  padding: 5px 10px 5px 17px;
  margin-right: 10px;
  border: 1px solid #eee;
  border-radius: 100px;
  color: #777;
  font-size: 13px;
  display: flex;
  align-items: center;

  @media screen and (max-width: 370px) {
    padding: 4px 3px 4px 8px;
    font-size: 11px;
  }

  &.button--dirty {
    border-color: #111;
    color: #111;
  }

  &::after {
    content: '';
    width: 23px;
    height: 11px;
    background: url('/public/icon/list_select_arrow_open.png') no-repeat center;
    background-size: 11px;
  }
}
