.wrap {
    height: auto;
    padding: 20px 0;
    background-color: #ffffff;


    &.open {
        background-color: #f7f7f8;
    }

    & .itemWrap {
        padding: 0 20px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 15px;

        & .box {
            width: 50px;
            height: 20px;
            border: solid 1px #dddddd;
            background-color: #ffffff;
            font-size: 11px;
            font-weight: normal;
            line-height: 1.31;
            color: #444444;
            display: flex;
            align-items: center;
            justify-content: center;

            &.answer {
                border: solid 1px #5d2ed1;
                background-color: #5d2ed1;
                color: #eeeeee;
            }
        }

        & .info {
            font-size: 12px;
            font-weight: normal;
            line-height: 1.3;
            color: #777777;
            display: flex;
            align-items: center;


            & .line {
                margin: 0 6px;
                height: 7px;
                border-right: solid 1px #dddddd;
            }

        }
    }

    & .report {
        font-size: 12px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.3;
        letter-spacing: normal;
        text-align: left;
        color: #777777;
        margin-left: 10px;
    }

    & .contentsWrap {
        padding: 0 20px;
        height: 14px;
        display: flex;

        &.open {
            height: auto;
        }

        & .contents {
            width: calc(100% - 19px);
            height: 15px;
            font-size: 12px;
            font-weight: normal;
            font-style: normal;
            font-stretch: normal;
            line-height: 1.2;
            letter-spacing: normal;
            text-align: left;
            color: #444444;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;

            &.open {
                height: auto;
                overflow: visible;
                text-overflow: unset;
                white-space: normal;
                display: inline-block;
                word-break: break-word;
                padding-bottom: 20px;
            }
        }

        & .arrow {
            width: 19px;
            height: 19px;
            background-image: url('/static/icon/arrow_down_line.png');
            background-size: 19px;
            background-repeat: no-repeat;

            &.up {
                background-image: url('/static/icon/arrow_up_line.png');
            }
        }


    }

    & .answerWrap {
        padding-top: 20px;
        margin: 0 20px 0 20px;
        border-top: solid 1px #eeeeee;
        display: none;
        font-size: 12px;
        font-weight: normal;
        line-height: 1.5;
        text-align: left;
        color: #444444;


        & .answerIcon {
            padding-left: 12px;
            font-size: 13px;
            font-weight: normal;
            line-height: 1.11;
            color: #5d2ed1;
            background-image: url('/static/icon/icon_a.png');
            background-repeat: no-repeat;
            background-size: 12px;
            display: inline-block;
            width: 38px;
            margin-right: 7px;
            margin-top: 0;
        }

        & .answer {
            width: calc(100% - 24px);
            margin-top: -3px;

            & .answerInfo {
                margin-top: 14px;
                display: flex;
                align-items: center;

                & .line {
                    height: 7px;
                    border-right: solid 1px #dddddd;
                    margin: 0 6px;
                }
            }

            & .date {
                color: #777777;
            }
        }

        &.open {
            display: flex;
        }
    }
}

.line {
    margin: 0 20px;
    border-bottom: 1px solid #eeeeee;

    &:last-child {
        border-bottom: 0;
    }

    &.open {
        border-bottom: 0;
    }
}