.wrap {
  display: flex;
  padding: 20px;
  border-bottom: 1px solid #ebebeb;
  .radioWrap {
    display: flex;
    align-items: center;
    label {
      display: block;
      input[type='radio'] {
        display: none;
      }
      div {
        width: 20px;
        height: 20px;
        border: none;
        border-radius: 0px;
        background-image: url('/static/icon/m_radio_btn_off.png');
        background-size: 20px 20px;
        background-position: center;
        background-repeat: no-repeat;
        margin-top: 1px;
      }

      input[type='radio']:checked + div {
        border: none;
        background-image: url('/static/icon/m_radio_btn_on.png');
        background-size: 20px 20px;
        background-position: center;
        background-repeat: no-repeat;
        transition: all 0.5s;
      }
    }
  }
  .sectionWrap {
    margin-left: 20px;
    flex: 1;
    .section {
      display: flex;
      align-items: center;
      margin-bottom: 5px;
      &:first-child {
        justify-content: space-between;
        margin-bottom: 10px;
      }
      .addressTitleWrap {
        display: flex;
        align-items: center;

        .selectedTitle {
          font-size: 14px;
          color: #111;
          font-weight: 500;
        }

        .title {
          font-size: 14px;
          color: #111;
          font-weight: 400;
        }

        .defaultAddress {
          margin-left: 10px;
          min-width: 44px;
          height: 18px;
          background: url('/static/icon/m_default_address.png') no-repeat;
          background-size: cover;
          background-position: center;
        }
      }

      .utilButton {
        display: flex;
        position: relative;
        div {
          font-size: 13px;
          font-weight: 400;
          color: #aaa;
          position: relative;
          margin-left: 14px;
          white-space: nowrap;
          &:last-child {
            padding: 0 0 0 14px;
          }
          &:last-child::before {
            position: absolute;
            top: 50%;
            left: 0;
            width: 1px;
            height: 10px;
            margin-top: -5px;
            background-color: #ccc;
            content: '';
            opacity: 0.35;
          }
        }
      }

      .address {
        font-size: 14px;
        color: #777;
        font-weight: normal;
      }
      .customer {
        font-size: 14px;
        color: #777;
        font-weight: normal;
      }
      input {
        width: 100%;
        border: 1px solid #ddd;
        font-size: 13px;
        padding: 5px 15px;
      }

      .searchZipcode {
        border: 1px solid #ddd;
        width: 110px;
        margin-left: 10px;
        padding: 5px;
        text-align: center;
        font-size: 13px;
        font-weight: 500;
        color: #111;
        white-space: nowrap;
      }
    }
  }
}
