.wrap {
  padding: 30px 20px 120px;

  .section {
    display: flex;
    align-items: center;
    margin-top: 10px;

    &:first-child {
      margin-top: 0;
    }

    &:last-child {
      margin-top: 15px;
    }

    // .title {
    //   font-size: 14px;
    //   color: #111;
    //   font-weight: 500;
    //   min-width: 80px;
    //   white-space: nowrap;
    // }
    .value {
      width: 100%;

      input {
        width: 100%;
        border: 1px solid #eee;
        padding: 0 15px;
        height: 45px;
        line-height: 45px;
        font-size: 13px;
        color: #777;

        &:read-only {
          background: #f9f9fa;
        }
      }
    }

    .zipcode {
      margin-left: 10px;
      white-space: nowrap;
      font-size: 13px;
      border: 1px solid #ebebeb;
      min-width: 90px;
      text-align: center;
      height: 45px;
      line-height: 45px;
    }

    label {
      display: flex;
      align-items: center;

      input[type='checkbox'] {
        display: none;
      }

      .checkBox {
        width: 16px;
        height: 16px;
        border: 1px solid #dddddd;
        border-radius: 0px;
        margin-top: 1px;
      }

      input[type='checkbox']:checked + .checkBox {
        border: none;
        background-image: url('/public/icon/checkbox_checked_20.png');
        background-size: 16px 16px;
        background-position: center;
        background-repeat: no-repeat;
      }

      .labelTxt {
        font-size: 14px;
        font-weight: 500;
        color: #444;
        margin: 0 30px 0 12px;
      }
    }
  }
}
