.wrap {
  margin-top: 10px;
  border-bottom: 1px solid #ebebeb;
  padding-bottom: 20px;
  label {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
    .radioWrap {
      display: flex;
      align-items: center;
      input[type='radio'] {
        display: block;
        width: 20px;
        height: 20px;
        border: none;
        border-radius: 0px;
        background-image: url('/static/icon/m_radio_btn_off.png');
        background-size: 20px 20px;
        background-position: center;
        background-repeat: no-repeat;
        margin-top: 1px;
      }

      input[type='radio']:checked {
        border: none;
        background-image: url('/static/icon/m_radio_btn_on.png');
        background-size: 20px 20px;
        background-position: center;
        background-repeat: no-repeat;
        transition: all 0.5s;
      }
    }

    .couponWrap {
      display: flex;
      margin-left: 10px;
      align-items: center;

      .couponImage {
        display: flex;

        .couponContent {
          display: flex;
          justify-content: center;
          align-items: center;
          width: 82px;
          height: 45px;
          border: 1px solid #efefef;
          text-align: center;
          line-height: 45px;
          font-weight: bold;
          color: #b7bec4;
        }
        .couponContent__check {
          color: #5d2ed1;
        }
        .couponSide {
          width: 10px;
          height: 45px;
          background: #b7bec4;
        }
        .couponSide__check {
          background: #5d2ed1;
        }
      }

      .couponTag {
        margin-left: 15px;

        .couponName {
          font-size: 14px;
          font-weight: bold;
          color: #777777;
        }
        .couponName__check {
          color: #5d2ed1;
        }
        .couponDate {
          font-size: 12px;
          color: #c1c1c1;
        }
      }
    }
  }
}
