.wrap {
  padding-top: 30px;

  .title {
    background: #f9f9fa;
    height: 40px;
    display: flex;
    align-items: center;
    padding: 0 15px;
    font-size: 13px;
    color: #111;
    font-weight: 500;
  }

  .couponWrap {
    margin-top: 30px;
    &:first-child {
      margin-top: 0;
    }
    .productInfo {
      margin-top: 20px;
      display: flex;
      border-bottom: 1px solid #ebebeb;
      padding-bottom: 20px;

      .productImage {
        width: 80px;
        height: 80px;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
      }

      .productDetail {
        margin-left: 20px;
        div {
          margin-bottom: 1px;
          font-size: 13px;
          color: #111;
        }
        .productName {
          max-width: 180px;
          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis;
        }

        .productOption {
          margin-top: 5px;
          color: #777;
        }
      }
    }
    .couponList {
      padding-top: 20px;
      .couponItem {
        label {
          margin-top: 20px;
          display: flex;
          &:first-child {
            margin-top: 0;
          }
          .radioWrap {
            width: 20px;
            height: 20px;
            margin-right: 15px;

            input[type='radio'] {
              margin: 0;
              display: block;
              width: 20px;
              height: 20px;
              border: none;
              border-radius: 0px;
              background-image: url('/static/icon/m_radio_btn_off.png');
              background-size: 20px 20px;
              background-position: center;
              background-repeat: no-repeat;
            }

            input[type='radio']:checked {
              border: none;
              background-image: url('/static/icon/m_radio_btn_on.png');
              background-size: 20px 20px;
              background-position: center;
              background-repeat: no-repeat;
              transition: all 0.5s;
            }
          }
          .couponName {
            font-size: 13px;
            color: #444;
            font-weight: normal;
            line-height: 20px;
            height: 20px;
          }
        }
      }
    }
  }
}
