.wrap {
  padding: 0 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 60px;
  margin-top: 60px;
  .check__priority {
    display: flex;
    align-items: center;
    label {
      margin: 0;
      input[type='checkbox'] {
        display: none;
      }

      div {
        width: 20px;
        height: 20px;
        border: none;
        border-radius: 0px;
        background-image: url('/static/icon/checkbox_off.png');
        background-size: 20px 20px;
        background-position: center;
        background-repeat: no-repeat;
      }
      input[type='checkbox']:checked + div {
        border: none;
        background-image: url('/static/icon/checkbox_checked_20.png');
        background-size: 20px 20px;
        background-position: center;
        background-repeat: no-repeat;
      }
    }

    .total__select {
      margin-left: 10px;
      font-size: 15px;
      color: #111;
      font-weight: 400;
      height: 20px;
    }
  }

  .selected__delete {
    font-size: 13px;
    color: #444;
    font-weight: normal;
  }
}
