.wrap {
  padding: 0 20px 30px;
  background: #fafafa;

  .quantityChangeWrap {
    display: flex;
    // margin-top: 20px;
    align-items: center;
    .quantityChange {
      display: flex;
      width: 110px;
      cursor: pointer;
      .minus__btn {
        width: 32px;
        height: 32px;
        border: 1px solid #eee;
        background: #fff;
      }

      .quantity {
        display: flex;
        align-items: center;
        input {
          width: 100%;
          text-align: center;
          font-size: 12px;
          font-weight: bold;
          color: #111;
          background: #f9f9fa;
        }
      }

      .plus__btn {
        border: 1px solid #eee;
        background: #fff;
      }

      img {
        width: 32px;
        height: 32px;
      }
    }

    .option__change__button {
      width: 76px;
      height: 25px;
      border: 1px solid #ddd;
      margin-left: 20px;
      font-size: 12px;
      color: #444;
      font-weight: normal;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
    }

    .stock {
      margin-left: 10px;
      color: #5d2ed1;
      font-size: 12px;
    }

    .optionNotice {
      margin-left: 10px;
      color: #d42d1e;
      font-size: 12px;
    }
  }

  .buttonGroup {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;

    div {
      display: flex;
      justify-content: center;
      align-items: center;
      color: #fff;
      min-width: 50%;
      height: 42px;
    }
    .optionChangeCancle {
      background: #444;
    }

    .optionChangeConfirm {
      background: #5d2ed1;
      margin-left: 8px;
    }
  }
}
