@import 'styles/mixins/index';
.wrap {
  padding: 40px 20px 40px;
  background: #fafafa;
  .title {
    font-size: 16px;
    color: #111;
    font-weight: bold;
  }

  .productWrap {
    display: flex;
    justify-content: space-between;

    li {
      list-style: none;
      margin-top: 17px;
      margin-left: 8px;
      width: 100px;

      &:first-child {
        margin-left: 0;
      }
      .productItemImage {
        width: 100px;
        height: 100px;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        overflow: hidden;
        @include break350 {
          width: 70px;
          height: 70px;
        }
      }

      .brandName {
        margin-top: 10px;
        font-size: 13px;
        color: #111;
        font-weight: 500;
        max-width: calc(70%);
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
      }

      .productName {
        margin-top: 3px;
        font-size: 12px;
        color: #111;
        font-weight: normal;
        max-width: calc(100%);
        height: 36px;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
      }
    }
  }
}
