.wrap {
  margin-top: 30px;
  padding: 0 20px;
  border-top: 8px solid #f7f9f9;

  .title {
    margin-top: 20px;
    font-size: 15px;
    color: #111;
    font-weight: bold;
  }

  .coupon {
    margin-top: 25px;

    .couponTitle {
      font-size: 14px;
      color: #111;
      font-weight: 500;

      span {
        font-size: 12px;
        color: #999;
        font-weight: 400;
        &.myCoupon {
          color: #111;
        }
      }
    }

    .couponSelectBox {
      margin-top: 10px;
      display: flex;
      justify-content: space-between;

      .couponInput {
        position: relative;
        width: 100%;
        padding: 0 15px;
        border: 1px solid #eee;
        display: flex;
        font-size: 14px;
        align-items: center;
        font-weight: normal;
        color: #ccc;
        background: #f9f9fa;
        margin-right: 7px;

        .applyCoupon {
          color: #111;
        }
      }

      .couponSelect {
        width: 80px;
        height: 45px;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #111;
        border: 1px solid #ddd;
        font-size: 13px;
        font-weight: 400;
        cursor: pointer;
      }

      .nocouponSelect {
        width: 80px;
        height: 45px;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #ccc;
        border: 1px solid #ddd;
        font-size: 13px;
        font-weight: 400;
        cursor: pointer;
      }
    }
  }

  .point {
    margin-top: 25px;
    .pointTitle {
      font-size: 14px;
      color: #111;
      font-weight: 500;
      display: flex;
      align-items: center;
      div:nth-child(2) {
        font-weight: 400;
        margin-left: 5px;
        color: #999;
        font-size: 12px;
        span {
          color: #111;
        }
      }
      div:last-child {
        color: #999;
        font-size: 12px;
        font-weight: 400;
      }
    }

    .pointSelectBox {
      margin-top: 10px;
      display: flex;
      justify-content: space-between;
    }

    .pointSelect {
      position: relative;
      width: 100%;
      margin-right: 7px;

      input {
        border: 1px solid #ebebeb;
        width: 100%;
        height: 45px;
        padding: 0 15px;
      }

      .myPoint {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: 20px;
        color: #777;

        span {
          color: #5d2ed1;
          font-weight: bold;
        }
      }
    }

    .pointAutoSelect {
      width: 80px;
      height: 45px;
      display: flex;
      justify-content: center;
      align-items: center;
      color: #111;
      border: 1px solid #ddd;
      font-size: 13px;
      font-weight: 400;
    }
  }
}
