.wrap {
  margin-top: 20px;
  padding: 0 20px;
  background: #f9f9fa;

  .section {
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .title {
      font-size: 14px;
      color: #111;
      font-weight: 500;
    }

    .statusWrap {
      display: flex;
      align-items: center;

      label {
        display: flex;
        align-items: center;
        margin-right: 22px;

        input[type='radio'] {
          display: none;
        }
        &:last-child {
          margin-right: 0;
        }

        .radioBtn {
          width: 20px;
          height: 20px;
          border: none;
          border-radius: 0px;
          background-image: url('/static/icon/m_radio_btn_off.png');
          background-size: 20px 20px;
          background-position: center;
          background-repeat: no-repeat;
          margin-top: 1px;
        }

        input[type='radio']:checked + .radioBtn {
          border: none;
          background-image: url('/static/icon/m_radio_btn_on.png');
          background-size: 20px 20px;
          background-position: center;
          background-repeat: no-repeat;
        }

        .radioTxt {
          font-size: 14px;
          font-weight: 500;
          color: #444;
          margin-left: 10px;
        }
      }
    }
  }
  .inputWrap {
    border-top: 1px solid #eee;
    padding-bottom: 20px;
    .inputSection {
      width: 100%;
      background: #f9f9fa;
      .statusWrap {
        padding-top: 23px;
        display: flex;
        align-items: center;

        label {
          display: flex;
          align-items: center;
          margin-right: 22px;

          input[type='radio'] {
            display: none;
          }
          &:last-child {
            margin-right: 0;
          }

          .radioBtn {
            width: 20px;
            height: 20px;
            border: none;
            border-radius: 0px;
            background-image: url('/static/icon/m_radio_btn_off.png');
            background-size: 20px 20px;
            background-position: center;
            background-repeat: no-repeat;
            margin-top: 1px;
          }

          input[type='radio']:checked + .radioBtn {
            border: none;
            background-image: url('/static/icon/m_radio_btn_on.png');
            background-size: 20px 20px;
            background-position: center;
            background-repeat: no-repeat;
          }

          .radioTxt {
            font-size: 14px;
            font-weight: 500;
            color: #444;
            margin-left: 10px;
          }
        }
      }
    }

    .cashReceiptInput {
      padding: 10px 0 0;
      background: #f9f9fa;

      .selectType {
        width: 100%;
        height: 45px;
        position: relative;

        input {
          width: 100%;
          height: 45px;
          padding: 0 15px;
          color: #777;
          font-size: 13px;
          border: 1px solid #eee;
        }

        .business {
          background: #f9f9fa;
          color: #111;
        }
      }

      .inputValue {
        margin-top: 10px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        > div {
          height: 45px;
          &:nth-child(odd) {
            position: relative;
            width: 100%;
          }
          &:nth-child(even) {
            width: 80px;
            line-height: 45px;
            text-align: center;
          }
          input[type='text'] {
            width: 100%;
            height: 45px;
            border: 1px solid #eee;
            border-radius: 4px;
            padding: 0 10px;
          }
        }
      }
    }
  }
}
