@import 'styles/mixins/index';
.wrap {
  margin-top: 30px;
  .finalTop {
    display: flex;
    width: 100%;
    background: #5d2de1;

    div {
      width: 33%;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 50px;
      border-right: 1px solid #6a3ed4;
      font-size: 13px;
      font-weight: 500;
      &:last-child {
        border-right: none;
      }
    }

    .totalOrderTitle {
      color: #aa91e6;
      display: flex;
    }

    .totalDiscountTitle {
      color: #aa91e6;
      .dropArrowOpacity {
        background: url('/static/icon/m_payment-btn-discount-open@3x.png')
          no-repeat;
        width: 14px;
        height: 14px;
        background-size: cover;
        background-position: center;
        opacity: 0.7;
        margin-left: 6px;
      }
    }

    .totalPaymentTitle {
      color: #fff;
      font-size: 13px;
    }
  }

  .finalResult {
    background: #fafafa;
    height: 100px;
    display: flex;
    .totalOrderAmount {
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 33%;
      border-right: 1px solid #f3f3f3;
      .innerContent {
        font-size: 16px;
        font-weight: bold;
        color: #444;
        text-align: center;

        @include break350 {
          font-size: 12px;
        }

        .blankBox {
          font-size: 12px;
          height: 15px;
          color: #9a9fa8;
        }
      }

      .calcBox {
        position: absolute;
        right: 0;
        top: 50%;
        transform: translate(50%, -50%);
        .blankBox {
          font-size: 12px;
          height: 15px;
          color: #9a9fa8;
        }
        .minusImage {
          background: url('/static/icon/m_minus_btn.png') no-repeat;
          width: 15px;
          height: 15px;
          background-size: cover;
          background-position: center;
        }
      }
    }

    .totalDiscountAmount {
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 33%;
      border-right: 1px solid #eaeaea;

      font-size: 16px;
      font-weight: bold;
      color: #444;
      @include break350 {
        font-size: 12px;
      }

      .blankBox {
        font-size: 12px;
        height: 15px;
        color: #9a9fa8;
      }

      .calcBox {
        position: absolute;
        right: 0;
        top: 50%;
        transform: translate(50%, -50%);
        .blankBox {
          font-size: 12px;
          height: 15px;
          color: #9a9fa8;
        }
        .equalImage {
          background: url('/static/icon/m_equal_btn.png') no-repeat;
          width: 15px;
          height: 15px;
          background-size: cover;
          background-position: center;
        }
      }
    }

    .totalPaymentAmount {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 33%;

      font-size: 18px;
      font-weight: bold;
      color: #5d2de1;

      @include break350 {
        font-size: 12px;
      }

      .blankBox {
        font-size: 12px;
        height: 15px;
        color: #9a9fa8;
      }

      span {
        font-size: 14px;

        @include break350 {
          font-size: 12px;
        }
      }
    }
  }

  .discountInfoWrap {
    padding: 30px 20px;

    .discountMenu {
      display: flex;
      color: #777;
      font-weight: 500;
      font-size: 13px;
      height: 35px;
      align-items: center;
      justify-content: space-between;
      &:first-child {
        margin-top: 0;
      }
      .sectionTitle {
        display: flex;
        align-items: center;
        font-weight: 400;
        .couponChange {
          background: url('/static/icon/m_coupon_change.png') no-repeat;
          background-size: cover;
          background-position: center;
          margin-left: 12px;
          min-width: 59px;
          height: 25px;
          img {
            width: 100%;
          }
        }
      }
    }
  }

  .dueSavePointWrap {
    border-top: 1px solid #eee;
    border-bottom: 1px solid #5d2de1;

    .dueSavePointSummary {
      padding: 0 20px;

      height: 60px;
      background: #f9f9fa;
      display: flex;
      justify-content: space-between;
      align-items: center;

      .dueSaveTitle {
        font-size: 14px;
        color: #111;
        font-weight: 400;
        display: flex;
        align-items: center;
        .dropArrow {
          background: url('/static/icon/m_drop_arrow.png') no-repeat;
          width: 14px;
          height: 14px;
          background-size: cover;
          background-position: center;
          margin-left: 6px;
        }
      }

      .dueSavePoint {
        color: #5d2de1;
        span {
          &:nth-child(1) {
            font-size: 12px;
          }
          &:nth-child(2) {
            font-size: 14px;
            font-weight: bold;
          }
          &:nth-child(3) {
            font-size: 11px;
          }
        }
      }
    }

    .benefitInfoWrap {
      padding: 30px 20px 25px;

      .discountMenu {
        display: flex;
        align-items: center;
        justify-content: space-between;
        color: #777;
        font-weight: 500;
        font-size: 13px;
        height: 35px;
        &:first-child {
          margin-top: 0;
        }
        .sectionTitle {
          font-weight: normal;
        }
      }
    }
  }
}
