.wrap {
  margin-top: 30px;
  padding: 20px 20px 0;
  border-top: 8px solid #f7f9f9;

  .headerSection {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .title {
      font-size: 15px;
      font-weight: bold;
      color: #111;
    }

    .identification {
      font-size: 13px;
      display: flex;
      align-items: center;
      font-weight: 500;
      span {
        color: #5d2ed1;
        font-size: 13px;
        margin-right: 5px;
      }
      .arrow {
        width: 20px;
        height: 20px;
        margin-top: 2px;
        background: url('/static/icon/detail_brand_arrow.png') no-repeat;
        background-size: cover;
        background-position: center;
      }
    }
  }

  .customerName {
    margin-top: 25px;
    font-size: 14px;
    color: #777;
  }
}
