$guhada-purple: #5d2ed1; // 구하다 메인 보라색
$cloudy-blue: #b7bec4;
$pale-sky-blue: #d9dde0;
$ice-blue: #f7f8f8;
$bluish-grey: #85919b;
$purpleish-blue: #6633ff;
$black: #000000;
$greyish-brown: #444444;
$light-grey-blue: #a4aeb5;
$red: #ff0000;
