$guhadaMainHeaderHeight: 60px; // 헤더 높이
$categorySliderWrapHeight: 44px;
$mypageMenuSliderHeight: 44px; // 마이페이지 메뉴 슬라이더 높이
$fixedButtonBottomPadding: 60px; // 하단 고정 버튼 있을시 패딩

// colors
$blue-purple: #5d2ed1; // 구하다 메인 보라색
$guhada-black: #111;
$guhada-base-line: #eeeeee;
$very-light-pink: #dddddd;
$cloudy-blue: #b7bec4;
$pale-sky-blue: #d9dde0;
$ice-blue: #f7f8f8;
$bluish-grey: #85919b;
$purpleish-blue: #6633ff;
$black: #000000;
$greyish-brown: #cab5b5;
$light-grey-blue: #a4aeb5;
$red: #ce2525;
$white: #fff;

$mypageBackground: #f9f9fa; // 마이페이지 배경색.
