// TODO : Styled-components로 전환

// BebasNeue
@font-face {
  font-family: BebasNeue-Book;
  src: local('BeabasNeue-Book');
  src: url('/static/fonts/BebasNeue/BebasNeue-Book/BebasNeue-Book.eot');
  src: url('/static/fonts/BebasNeue/BebasNeue-Book/BebasNeue-Book.eot?#iefix')
      format('embedded-opentype'),
    url('/static/fonts/BebasNeue/BebasNeue-Book/BebasNeue-Book.woff')
      format('woff'),
    url('/static/fonts/BebasNeue/BebasNeue-Book/BebasNeue-Book.ttf')
      format('truetype');
}

@font-face {
  font-family: BebasNeue-Light;
  src: local('BeabasNeue-Light');
  src: url('/static/fonts/BebasNeue/BebasNeue-Light/BebasNeue-Light.eot');
  src: url('/static/fonts/BebasNeue/BebasNeue-Light/BebasNeue-Light.eot?#iefix')
      format('embedded-opentype'),
    url('/static/fonts/BebasNeue/BebasNeue-Light/BebasNeue-Light.woff')
      format('woff'),
    url('/static/fonts/BebasNeue/BebasNeue-Light/BebasNeue-Light.ttf')
      format('truetype');
}

@font-face {
  font-family: BebasNeue-Regular;
  src: local('BeabasNeue-Regular');
  src: url('/static/fonts/BebasNeue/BebasNeue-Regular/BebasNeue-Regular.eot');
  src: url('/static/fonts/BebasNeue/BebasNeue-Regular/BebasNeue-Regular.eot?#iefix')
      format('embedded-opentype'),
    url('/static/fonts/BebasNeue/BebasNeue-Regular/BebasNeue-Regular.woff')
      format('woff'),
    url('/static/fonts/BebasNeue/BebasNeue-Regular/BebasNeue-Regular.ttf')
      format('truetype');
}

@font-face {
  font-family: BebasNeue-Thin;
  src: local('BeabasNeue-Thin');
  src: url('/static/fonts/BebasNeue/BebasNeue-Thin/BebasNeue-Thin.eot');
  src: url('/static/fonts/BebasNeue/BebasNeue-Thin/BebasNeue-Thin.eot?#iefix')
      format('embedded-opentype'),
    url('/static/fonts/BebasNeue/BebasNeue-Thin/BebasNeue-Thin.woff')
      format('woff'),
    url('/static/fonts/BebasNeue/BebasNeue-Thin/BebasNeue-Thin.ttf')
      format('truetype');
}

@font-face {
  font-family: BebasNeue-Bold;
  src: local('BeabasNeue-Bold');
  src: url('/static/fonts/BebasNeue/BebasNeue-Bold/BebasNeue-Bold.eot');
  src: url('/static/fonts/BebasNeue/BebasNeue-Bold/BebasNeue-Bold.eot?#iefix')
      format('embedded-opentype'),
    url('/static/fonts/BebasNeue/BebasNeue-Bold/BebasNeue-Bold.woff')
      format('woff'),
    url('/static/fonts/BebasNeue/BebasNeue-Bold/BebasNeue-Bold.ttf')
      format('truetype');
}
