@import url(https://cdn.jsdelivr.net/gh/moonspam/NanumSquare@1.0/nanumsquare.css);
@import './grid.scss';

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  font-family: 'Noto Sans KR', 'NanumSquare', 'Roboto', sans-serif;
  color: #111;
}

a {
  color: #000;
  text-decoration: none;
  outline: none;
}

a:hover,
a:active {
  text-decoration: none;
  color: #000;
  background-color: none;
}

ul li {
  list-style: none;
}

button {
  border: 0;
  outline: 0;
  padding: 0;
  background: transparent;
  font-family: 'Noto Sans KR', 'NanumSquare';
  -webkit-appearance: none;
  -moz-appearance: none;
}

input {
  border: 0;
  outline: 0;
  padding: 0;
  border-radius: 0;
  font-family: 'Noto Sans KR', 'NanumSquare';
  -webkit-appearance: none;
  -moz-appearance: none;
}

input[type='password'] {
  font-family: 'Noto Sans KR', 'sans-serif';
}

input[type='password']::placeholder {
  font-family: 'Noto Sans KR', 'NanumSquare';
}

input[type='number']::-webkit-outer-spin-button,
input[type='number']::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.flex {
  display: flex;

  &.center {
    align-items: center;
  }

  &.start {
    align-items: flex-start;
  }

  &.space-between {
    justify-content: space-between;
  }
}

table {
  width: 100%;
  border: 1px solid #444444;
  border-collapse: collapse;
}

th,
td {
  border: 1px solid #444444;
  text-align: center;
}

.margin-bottom {
  &-5 {
    width: 100%;
    margin-bottom: 5px;
  }

  &-10 {
    width: 100%;
    margin-bottom: 10px;
  }

  &-15 {
    margin-bottom: 15px;
    width: 100%;
  }

  &-20 {
    margin-bottom: 20px;
    width: 100%;
  }

  &-25 {
    margin-bottom: 25px;
    width: 100%;
  }

  &-30 {
    width: 100%;
    margin-bottom: 30px;
  }

  &-35 {
    width: 100%;
    margin-bottom: 35px;
  }

  &-40 {
    width: 100%;
    margin-bottom: 40px;
  }

  &-50 {
    width: 100%;
    margin-bottom: 50px;
  }

  &-55 {
    width: 100%;
    margin-bottom: 55px;
  }

  &-60 {
    width: 100%;
    margin-bottom: 60px;
  }

  &-67 {
    width: 100%;
    margin-bottom: 67px;
  }
}

.margin-top-20 {
  width: 100%;
  margin-top: 20px;
}

.margin-right {
  &-10 {
    margin-right: 10px;
  }

  &-15 {
    margin-right: 15px;
  }

  &-20 {
    margin-right: 20px;
  }
}

.padding-bottom-20 {
  width: 100%;
  padding-bottom: 20px;
}

.line-bottom {
  border-bottom: 1px solid #eaeaf0;
}

.margin__center {
  margin: 0 auto;
}
