// SCSS variables are information about icon's compiled state, stored under its original file name
//
// .icon-home {
//   width: $icon-home-width;
// }
//
// The large array-like variables contain all information about a single icon
// $icon-home: x y offset_x offset_y width height total_width total_height image_path;
//
// At the bottom of this section, we provide information about the spritesheet itself
// $spritesheet: width height image $spritesheet-sprites;
$photo-arrow-next-small-2x-name: 'photo_arrow_next_small_2x';
$photo-arrow-next-small-2x-x: 640px;
$photo-arrow-next-small-2x-y: 786px;
$photo-arrow-next-small-2x-offset-x: -640px;
$photo-arrow-next-small-2x-offset-y: -786px;
$photo-arrow-next-small-2x-width: 96px;
$photo-arrow-next-small-2x-height: 96px;
$photo-arrow-next-small-2x-total-width: 1002px;
$photo-arrow-next-small-2x-total-height: 944px;
$photo-arrow-next-small-2x-image: '/static/sprite.png';
$photo-arrow-next-small-2x: (640px, 786px, -640px, -786px, 96px, 96px, 1002px, 944px, '/static/sprite.png', 'photo_arrow_next_small_2x', );
$photo-arrow-next-small-3x-name: 'photo_arrow_next_small_3x';
$photo-arrow-next-small-3x-x: 486px;
$photo-arrow-next-small-3x-y: 402px;
$photo-arrow-next-small-3x-offset-x: -486px;
$photo-arrow-next-small-3x-offset-y: -402px;
$photo-arrow-next-small-3x-width: 144px;
$photo-arrow-next-small-3x-height: 144px;
$photo-arrow-next-small-3x-total-width: 1002px;
$photo-arrow-next-small-3x-total-height: 944px;
$photo-arrow-next-small-3x-image: '/static/sprite.png';
$photo-arrow-next-small-3x: (486px, 402px, -486px, -402px, 144px, 144px, 1002px, 944px, '/static/sprite.png', 'photo_arrow_next_small_3x', );
$photo-arrow-next-small-name: 'photo_arrow_next_small';
$photo-arrow-next-small-x: 50px;
$photo-arrow-next-small-y: 894px;
$photo-arrow-next-small-offset-x: -50px;
$photo-arrow-next-small-offset-y: -894px;
$photo-arrow-next-small-width: 48px;
$photo-arrow-next-small-height: 48px;
$photo-arrow-next-small-total-width: 1002px;
$photo-arrow-next-small-total-height: 944px;
$photo-arrow-next-small-image: '/static/sprite.png';
$photo-arrow-next-small: (50px, 894px, -50px, -894px, 48px, 48px, 1002px, 944px, '/static/sprite.png', 'photo_arrow_next_small', );
$photo-arrow-next-2x-name: 'photo_arrow_next_2x';
$photo-arrow-next-2x-x: 324px;
$photo-arrow-next-2x-y: 564px;
$photo-arrow-next-2x-offset-x: -324px;
$photo-arrow-next-2x-offset-y: -564px;
$photo-arrow-next-2x-width: 160px;
$photo-arrow-next-2x-height: 160px;
$photo-arrow-next-2x-total-width: 1002px;
$photo-arrow-next-2x-total-height: 944px;
$photo-arrow-next-2x-image: '/static/sprite.png';
$photo-arrow-next-2x: (324px, 564px, -324px, -564px, 160px, 160px, 1002px, 944px, '/static/sprite.png', 'photo_arrow_next_2x', );
$photo-arrow-next-3x-name: 'photo_arrow_next_3x';
$photo-arrow-next-3x-x: 0px;
$photo-arrow-next-3x-y: 0px;
$photo-arrow-next-3x-offset-x: 0px;
$photo-arrow-next-3x-offset-y: 0px;
$photo-arrow-next-3x-width: 240px;
$photo-arrow-next-3x-height: 240px;
$photo-arrow-next-3x-total-width: 1002px;
$photo-arrow-next-3x-total-height: 944px;
$photo-arrow-next-3x-image: '/static/sprite.png';
$photo-arrow-next-3x: (0px, 0px, 0px, 0px, 240px, 240px, 1002px, 944px, '/static/sprite.png', 'photo_arrow_next_3x', );
$photo-arrow-next-name: 'photo_arrow_next';
$photo-arrow-next-x: 912px;
$photo-arrow-next-y: 90px;
$photo-arrow-next-offset-x: -912px;
$photo-arrow-next-offset-y: -90px;
$photo-arrow-next-width: 80px;
$photo-arrow-next-height: 80px;
$photo-arrow-next-total-width: 1002px;
$photo-arrow-next-total-height: 944px;
$photo-arrow-next-image: '/static/sprite.png';
$photo-arrow-next: (912px, 90px, -912px, -90px, 80px, 80px, 1002px, 944px, '/static/sprite.png', 'photo_arrow_next', );
$photo-arrow-prev-small-2x-name: 'photo_arrow_prev_small_2x';
$photo-arrow-prev-small-2x-x: 736px;
$photo-arrow-prev-small-2x-y: 786px;
$photo-arrow-prev-small-2x-offset-x: -736px;
$photo-arrow-prev-small-2x-offset-y: -786px;
$photo-arrow-prev-small-2x-width: 96px;
$photo-arrow-prev-small-2x-height: 96px;
$photo-arrow-prev-small-2x-total-width: 1002px;
$photo-arrow-prev-small-2x-total-height: 944px;
$photo-arrow-prev-small-2x-image: '/static/sprite.png';
$photo-arrow-prev-small-2x: (736px, 786px, -736px, -786px, 96px, 96px, 1002px, 944px, '/static/sprite.png', 'photo_arrow_prev_small_2x', );
$photo-arrow-prev-small-3x-name: 'photo_arrow_prev_small_3x';
$photo-arrow-prev-small-3x-x: 644px;
$photo-arrow-prev-small-3x-y: 564px;
$photo-arrow-prev-small-3x-offset-x: -644px;
$photo-arrow-prev-small-3x-offset-y: -564px;
$photo-arrow-prev-small-3x-width: 144px;
$photo-arrow-prev-small-3x-height: 144px;
$photo-arrow-prev-small-3x-total-width: 1002px;
$photo-arrow-prev-small-3x-total-height: 944px;
$photo-arrow-prev-small-3x-image: '/static/sprite.png';
$photo-arrow-prev-small-3x: (644px, 564px, -644px, -564px, 144px, 144px, 1002px, 944px, '/static/sprite.png', 'photo_arrow_prev_small_3x', );
$photo-arrow-prev-small-name: 'photo_arrow_prev_small';
$photo-arrow-prev-small-x: 98px;
$photo-arrow-prev-small-y: 894px;
$photo-arrow-prev-small-offset-x: -98px;
$photo-arrow-prev-small-offset-y: -894px;
$photo-arrow-prev-small-width: 48px;
$photo-arrow-prev-small-height: 48px;
$photo-arrow-prev-small-total-width: 1002px;
$photo-arrow-prev-small-total-height: 944px;
$photo-arrow-prev-small-image: '/static/sprite.png';
$photo-arrow-prev-small: (98px, 894px, -98px, -894px, 48px, 48px, 1002px, 944px, '/static/sprite.png', 'photo_arrow_prev_small', );
$photo-arrow-prev-2x-name: 'photo_arrow_prev_2x';
$photo-arrow-prev-2x-x: 484px;
$photo-arrow-prev-2x-y: 564px;
$photo-arrow-prev-2x-offset-x: -484px;
$photo-arrow-prev-2x-offset-y: -564px;
$photo-arrow-prev-2x-width: 160px;
$photo-arrow-prev-2x-height: 160px;
$photo-arrow-prev-2x-total-width: 1002px;
$photo-arrow-prev-2x-total-height: 944px;
$photo-arrow-prev-2x-image: '/static/sprite.png';
$photo-arrow-prev-2x: (484px, 564px, -484px, -564px, 160px, 160px, 1002px, 944px, '/static/sprite.png', 'photo_arrow_prev_2x', );
$photo-arrow-prev-3x-name: 'photo_arrow_prev_3x';
$photo-arrow-prev-3x-x: 240px;
$photo-arrow-prev-3x-y: 0px;
$photo-arrow-prev-3x-offset-x: -240px;
$photo-arrow-prev-3x-offset-y: 0px;
$photo-arrow-prev-3x-width: 240px;
$photo-arrow-prev-3x-height: 240px;
$photo-arrow-prev-3x-total-width: 1002px;
$photo-arrow-prev-3x-total-height: 944px;
$photo-arrow-prev-3x-image: '/static/sprite.png';
$photo-arrow-prev-3x: (240px, 0px, -240px, 0px, 240px, 240px, 1002px, 944px, '/static/sprite.png', 'photo_arrow_prev_3x', );
$photo-arrow-prev-name: 'photo_arrow_prev';
$photo-arrow-prev-x: 912px;
$photo-arrow-prev-y: 170px;
$photo-arrow-prev-offset-x: -912px;
$photo-arrow-prev-offset-y: -170px;
$photo-arrow-prev-width: 80px;
$photo-arrow-prev-height: 80px;
$photo-arrow-prev-total-width: 1002px;
$photo-arrow-prev-total-height: 944px;
$photo-arrow-prev-image: '/static/sprite.png';
$photo-arrow-prev: (912px, 170px, -912px, -170px, 80px, 80px, 1002px, 944px, '/static/sprite.png', 'photo_arrow_prev', );
$close-btn-small-2x-name: 'close_btn_small_2x';
$close-btn-small-2x-x: 912px;
$close-btn-small-2x-y: 250px;
$close-btn-small-2x-offset-x: -912px;
$close-btn-small-2x-offset-y: -250px;
$close-btn-small-2x-width: 60px;
$close-btn-small-2x-height: 60px;
$close-btn-small-2x-total-width: 1002px;
$close-btn-small-2x-total-height: 944px;
$close-btn-small-2x-image: '/static/sprite.png';
$close-btn-small-2x: (912px, 250px, -912px, -250px, 60px, 60px, 1002px, 944px, '/static/sprite.png', 'close_btn_small_2x', );
$close-btn-small-3x-name: 'close_btn_small_3x';
$close-btn-small-3x-x: 912px;
$close-btn-small-3x-y: 0px;
$close-btn-small-3x-offset-x: -912px;
$close-btn-small-3x-offset-y: 0px;
$close-btn-small-3x-width: 90px;
$close-btn-small-3x-height: 90px;
$close-btn-small-3x-total-width: 1002px;
$close-btn-small-3x-total-height: 944px;
$close-btn-small-3x-image: '/static/sprite.png';
$close-btn-small-3x: (912px, 0px, -912px, 0px, 90px, 90px, 1002px, 944px, '/static/sprite.png', 'close_btn_small_3x', );
$close-btn-small-name: 'close_btn_small';
$close-btn-small-x: 972px;
$close-btn-small-y: 250px;
$close-btn-small-offset-x: -972px;
$close-btn-small-offset-y: -250px;
$close-btn-small-width: 30px;
$close-btn-small-height: 30px;
$close-btn-small-total-width: 1002px;
$close-btn-small-total-height: 944px;
$close-btn-small-image: '/static/sprite.png';
$close-btn-small: (972px, 250px, -972px, -250px, 30px, 30px, 1002px, 944px, '/static/sprite.png', 'close_btn_small', );
$close-btn-2x-name: 'close_btn_2x';
$close-btn-2x-x: 540px;
$close-btn-2x-y: 786px;
$close-btn-2x-offset-x: -540px;
$close-btn-2x-offset-y: -786px;
$close-btn-2x-width: 100px;
$close-btn-2x-height: 100px;
$close-btn-2x-total-width: 1002px;
$close-btn-2x-total-height: 944px;
$close-btn-2x-image: '/static/sprite.png';
$close-btn-2x: (540px, 786px, -540px, -786px, 100px, 100px, 1002px, 944px, '/static/sprite.png', 'close_btn_2x', );
$close-btn-3x-name: 'close_btn_3x';
$close-btn-3x-x: 324px;
$close-btn-3x-y: 240px;
$close-btn-3x-offset-x: -324px;
$close-btn-3x-offset-y: -240px;
$close-btn-3x-width: 150px;
$close-btn-3x-height: 150px;
$close-btn-3x-total-width: 1002px;
$close-btn-3x-total-height: 944px;
$close-btn-3x-image: '/static/sprite.png';
$close-btn-3x: (324px, 240px, -324px, -240px, 150px, 150px, 1002px, 944px, '/static/sprite.png', 'close_btn_3x', );
$close-btn-name: 'close_btn';
$close-btn-x: 0px;
$close-btn-y: 894px;
$close-btn-offset-x: 0px;
$close-btn-offset-y: -894px;
$close-btn-width: 50px;
$close-btn-height: 50px;
$close-btn-total-width: 1002px;
$close-btn-total-height: 944px;
$close-btn-image: '/static/sprite.png';
$close-btn: (0px, 894px, 0px, -894px, 50px, 50px, 1002px, 944px, '/static/sprite.png', 'close_btn', );
$comment-name: 'comment';
$comment-x: 983px;
$comment-y: 390px;
$comment-offset-x: -983px;
$comment-offset-y: -390px;
$comment-width: 15px;
$comment-height: 15px;
$comment-total-width: 1002px;
$comment-total-height: 944px;
$comment-image: '/static/sprite.png';
$comment: (983px, 390px, -983px, -390px, 15px, 15px, 1002px, 944px, '/static/sprite.png', 'comment', );
$comment-2x-name: 'comment@2x';
$comment-2x-x: 972px;
$comment-2x-y: 280px;
$comment-2x-offset-x: -972px;
$comment-2x-offset-y: -280px;
$comment-2x-width: 29px;
$comment-2x-height: 29px;
$comment-2x-total-width: 1002px;
$comment-2x-total-height: 944px;
$comment-2x-image: '/static/sprite.png';
$comment-2x: (972px, 280px, -972px, -280px, 29px, 29px, 1002px, 944px, '/static/sprite.png', 'comment@2x', );
$comment-3x-name: 'comment@3x';
$comment-3x-x: 195px;
$comment-3x-y: 894px;
$comment-3x-offset-x: -195px;
$comment-3x-offset-y: -894px;
$comment-3x-width: 43px;
$comment-3x-height: 43px;
$comment-3x-total-width: 1002px;
$comment-3x-total-height: 944px;
$comment-3x-image: '/static/sprite.png';
$comment-3x: (195px, 894px, -195px, -894px, 43px, 43px, 1002px, 944px, '/static/sprite.png', 'comment@3x', );
$like-off-name: 'like_off';
$like-off-x: 966px;
$like-off-y: 390px;
$like-off-offset-x: -966px;
$like-off-offset-y: -390px;
$like-off-width: 17px;
$like-off-height: 15px;
$like-off-total-width: 1002px;
$like-off-total-height: 944px;
$like-off-image: '/static/sprite.png';
$like-off: (966px, 390px, -966px, -390px, 17px, 15px, 1002px, 944px, '/static/sprite.png', 'like_off', );
$like-off-2x-name: 'like_off@2x';
$like-off-2x-x: 966px;
$like-off-2x-y: 310px;
$like-off-2x-offset-x: -966px;
$like-off-2x-offset-y: -310px;
$like-off-2x-width: 33px;
$like-off-2x-height: 29px;
$like-off-2x-total-width: 1002px;
$like-off-2x-total-height: 944px;
$like-off-2x-image: '/static/sprite.png';
$like-off-2x: (966px, 310px, -966px, -310px, 33px, 29px, 1002px, 944px, '/static/sprite.png', 'like_off@2x', );
$like-off-3x-name: 'like_off@3x';
$like-off-3x-x: 146px;
$like-off-3x-y: 894px;
$like-off-3x-offset-x: -146px;
$like-off-3x-offset-y: -894px;
$like-off-3x-width: 49px;
$like-off-3x-height: 43px;
$like-off-3x-total-width: 1002px;
$like-off-3x-total-height: 944px;
$like-off-3x-image: '/static/sprite.png';
$like-off-3x: (146px, 894px, -146px, -894px, 49px, 43px, 1002px, 944px, '/static/sprite.png', 'like_off@3x', );
$like-on-name: 'like_on';
$like-on-x: 966px;
$like-on-y: 405px;
$like-on-offset-x: -966px;
$like-on-offset-y: -405px;
$like-on-width: 15px;
$like-on-height: 13px;
$like-on-total-width: 1002px;
$like-on-total-height: 944px;
$like-on-image: '/static/sprite.png';
$like-on: (966px, 405px, -966px, -405px, 15px, 13px, 1002px, 944px, '/static/sprite.png', 'like_on', );
$like-on-2x-name: 'like_on@2x';
$like-on-2x-x: 966px;
$like-on-2x-y: 364px;
$like-on-2x-offset-x: -966px;
$like-on-2x-offset-y: -364px;
$like-on-2x-width: 30px;
$like-on-2x-height: 26px;
$like-on-2x-total-width: 1002px;
$like-on-2x-total-height: 944px;
$like-on-2x-image: '/static/sprite.png';
$like-on-2x: (966px, 364px, -966px, -364px, 30px, 26px, 1002px, 944px, '/static/sprite.png', 'like_on@2x', );
$like-on-3x-name: 'like_on@3x';
$like-on-3x-x: 480px;
$like-on-3x-y: 362px;
$like-on-3x-offset-x: -480px;
$like-on-3x-offset-y: -362px;
$like-on-3x-width: 45px;
$like-on-3x-height: 39px;
$like-on-3x-total-width: 1002px;
$like-on-3x-total-height: 944px;
$like-on-3x-image: '/static/sprite.png';
$like-on-3x: (480px, 362px, -480px, -362px, 45px, 39px, 1002px, 944px, '/static/sprite.png', 'like_on@3x', );
$circle-accessory-off-name: 'circle_accessory_off';
$circle-accessory-off-x: 912px;
$circle-accessory-off-y: 310px;
$circle-accessory-off-offset-x: -912px;
$circle-accessory-off-offset-y: -310px;
$circle-accessory-off-width: 54px;
$circle-accessory-off-height: 54px;
$circle-accessory-off-total-width: 1002px;
$circle-accessory-off-total-height: 944px;
$circle-accessory-off-image: '/static/sprite.png';
$circle-accessory-off: (912px, 310px, -912px, -310px, 54px, 54px, 1002px, 944px, '/static/sprite.png', 'circle_accessory_off', );
$circle-accessory-off-2x-name: 'circle_accessory_off@2x';
$circle-accessory-off-2x-x: 804px;
$circle-accessory-off-2x-y: 0px;
$circle-accessory-off-2x-offset-x: -804px;
$circle-accessory-off-2x-offset-y: 0px;
$circle-accessory-off-2x-width: 108px;
$circle-accessory-off-2x-height: 108px;
$circle-accessory-off-2x-total-width: 1002px;
$circle-accessory-off-2x-total-height: 944px;
$circle-accessory-off-2x-image: '/static/sprite.png';
$circle-accessory-off-2x: (804px, 0px, -804px, 0px, 108px, 108px, 1002px, 944px, '/static/sprite.png', 'circle_accessory_off@2x', );
$circle-accessory-off-3x-name: 'circle_accessory_off@3x';
$circle-accessory-off-3x-x: 0px;
$circle-accessory-off-3x-y: 240px;
$circle-accessory-off-3x-offset-x: 0px;
$circle-accessory-off-3x-offset-y: -240px;
$circle-accessory-off-3x-width: 162px;
$circle-accessory-off-3x-height: 162px;
$circle-accessory-off-3x-total-width: 1002px;
$circle-accessory-off-3x-total-height: 944px;
$circle-accessory-off-3x-image: '/static/sprite.png';
$circle-accessory-off-3x: (0px, 240px, 0px, -240px, 162px, 162px, 1002px, 944px, '/static/sprite.png', 'circle_accessory_off@3x', );
$circle-accessory-on-name: 'circle_accessory_on';
$circle-accessory-on-x: 912px;
$circle-accessory-on-y: 364px;
$circle-accessory-on-offset-x: -912px;
$circle-accessory-on-offset-y: -364px;
$circle-accessory-on-width: 54px;
$circle-accessory-on-height: 54px;
$circle-accessory-on-total-width: 1002px;
$circle-accessory-on-total-height: 944px;
$circle-accessory-on-image: '/static/sprite.png';
$circle-accessory-on: (912px, 364px, -912px, -364px, 54px, 54px, 1002px, 944px, '/static/sprite.png', 'circle_accessory_on', );
$circle-accessory-on-2x-name: 'circle_accessory_on@2x';
$circle-accessory-on-2x-x: 804px;
$circle-accessory-on-2x-y: 108px;
$circle-accessory-on-2x-offset-x: -804px;
$circle-accessory-on-2x-offset-y: -108px;
$circle-accessory-on-2x-width: 108px;
$circle-accessory-on-2x-height: 108px;
$circle-accessory-on-2x-total-width: 1002px;
$circle-accessory-on-2x-total-height: 944px;
$circle-accessory-on-2x-image: '/static/sprite.png';
$circle-accessory-on-2x: (804px, 108px, -804px, -108px, 108px, 108px, 1002px, 944px, '/static/sprite.png', 'circle_accessory_on@2x', );
$circle-accessory-on-3x-name: 'circle_accessory_on@3x';
$circle-accessory-on-3x-x: 162px;
$circle-accessory-on-3x-y: 240px;
$circle-accessory-on-3x-offset-x: -162px;
$circle-accessory-on-3x-offset-y: -240px;
$circle-accessory-on-3x-width: 162px;
$circle-accessory-on-3x-height: 162px;
$circle-accessory-on-3x-total-width: 1002px;
$circle-accessory-on-3x-total-height: 944px;
$circle-accessory-on-3x-image: '/static/sprite.png';
$circle-accessory-on-3x: (162px, 240px, -162px, -240px, 162px, 162px, 1002px, 944px, '/static/sprite.png', 'circle_accessory_on@3x', );
$circle-all-off-name: 'circle_all_off';
$circle-all-off-x: 912px;
$circle-all-off-y: 418px;
$circle-all-off-offset-x: -912px;
$circle-all-off-offset-y: -418px;
$circle-all-off-width: 54px;
$circle-all-off-height: 54px;
$circle-all-off-total-width: 1002px;
$circle-all-off-total-height: 944px;
$circle-all-off-image: '/static/sprite.png';
$circle-all-off: (912px, 418px, -912px, -418px, 54px, 54px, 1002px, 944px, '/static/sprite.png', 'circle_all_off', );
$circle-all-off-2x-name: 'circle_all_off@2x';
$circle-all-off-2x-x: 804px;
$circle-all-off-2x-y: 216px;
$circle-all-off-2x-offset-x: -804px;
$circle-all-off-2x-offset-y: -216px;
$circle-all-off-2x-width: 108px;
$circle-all-off-2x-height: 108px;
$circle-all-off-2x-total-width: 1002px;
$circle-all-off-2x-total-height: 944px;
$circle-all-off-2x-image: '/static/sprite.png';
$circle-all-off-2x: (804px, 216px, -804px, -216px, 108px, 108px, 1002px, 944px, '/static/sprite.png', 'circle_all_off@2x', );
$circle-all-off-3x-name: 'circle_all_off@3x';
$circle-all-off-3x-x: 480px;
$circle-all-off-3x-y: 0px;
$circle-all-off-3x-offset-x: -480px;
$circle-all-off-3x-offset-y: 0px;
$circle-all-off-3x-width: 162px;
$circle-all-off-3x-height: 162px;
$circle-all-off-3x-total-width: 1002px;
$circle-all-off-3x-total-height: 944px;
$circle-all-off-3x-image: '/static/sprite.png';
$circle-all-off-3x: (480px, 0px, -480px, 0px, 162px, 162px, 1002px, 944px, '/static/sprite.png', 'circle_all_off@3x', );
$circle-all-on-name: 'circle_all_on';
$circle-all-on-x: 912px;
$circle-all-on-y: 472px;
$circle-all-on-offset-x: -912px;
$circle-all-on-offset-y: -472px;
$circle-all-on-width: 54px;
$circle-all-on-height: 54px;
$circle-all-on-total-width: 1002px;
$circle-all-on-total-height: 944px;
$circle-all-on-image: '/static/sprite.png';
$circle-all-on: (912px, 472px, -912px, -472px, 54px, 54px, 1002px, 944px, '/static/sprite.png', 'circle_all_on', );
$circle-all-on-2x-name: 'circle_all_on@2x';
$circle-all-on-2x-x: 804px;
$circle-all-on-2x-y: 324px;
$circle-all-on-2x-offset-x: -804px;
$circle-all-on-2x-offset-y: -324px;
$circle-all-on-2x-width: 108px;
$circle-all-on-2x-height: 108px;
$circle-all-on-2x-total-width: 1002px;
$circle-all-on-2x-total-height: 944px;
$circle-all-on-2x-image: '/static/sprite.png';
$circle-all-on-2x: (804px, 324px, -804px, -324px, 108px, 108px, 1002px, 944px, '/static/sprite.png', 'circle_all_on@2x', );
$circle-all-on-3x-name: 'circle_all_on@3x';
$circle-all-on-3x-x: 480px;
$circle-all-on-3x-y: 162px;
$circle-all-on-3x-offset-x: -480px;
$circle-all-on-3x-offset-y: -162px;
$circle-all-on-3x-width: 162px;
$circle-all-on-3x-height: 162px;
$circle-all-on-3x-total-width: 1002px;
$circle-all-on-3x-total-height: 944px;
$circle-all-on-3x-image: '/static/sprite.png';
$circle-all-on-3x: (480px, 162px, -480px, -162px, 162px, 162px, 1002px, 944px, '/static/sprite.png', 'circle_all_on@3x', );
$circle-bag-off-name: 'circle_bag_off';
$circle-bag-off-x: 912px;
$circle-bag-off-y: 526px;
$circle-bag-off-offset-x: -912px;
$circle-bag-off-offset-y: -526px;
$circle-bag-off-width: 54px;
$circle-bag-off-height: 54px;
$circle-bag-off-total-width: 1002px;
$circle-bag-off-total-height: 944px;
$circle-bag-off-image: '/static/sprite.png';
$circle-bag-off: (912px, 526px, -912px, -526px, 54px, 54px, 1002px, 944px, '/static/sprite.png', 'circle_bag_off', );
$circle-bag-off-2x-name: 'circle_bag_off@2x';
$circle-bag-off-2x-x: 804px;
$circle-bag-off-2x-y: 432px;
$circle-bag-off-2x-offset-x: -804px;
$circle-bag-off-2x-offset-y: -432px;
$circle-bag-off-2x-width: 108px;
$circle-bag-off-2x-height: 108px;
$circle-bag-off-2x-total-width: 1002px;
$circle-bag-off-2x-total-height: 944px;
$circle-bag-off-2x-image: '/static/sprite.png';
$circle-bag-off-2x: (804px, 432px, -804px, -432px, 108px, 108px, 1002px, 944px, '/static/sprite.png', 'circle_bag_off@2x', );
$circle-bag-off-3x-name: 'circle_bag_off@3x';
$circle-bag-off-3x-x: 0px;
$circle-bag-off-3x-y: 402px;
$circle-bag-off-3x-offset-x: 0px;
$circle-bag-off-3x-offset-y: -402px;
$circle-bag-off-3x-width: 162px;
$circle-bag-off-3x-height: 162px;
$circle-bag-off-3x-total-width: 1002px;
$circle-bag-off-3x-total-height: 944px;
$circle-bag-off-3x-image: '/static/sprite.png';
$circle-bag-off-3x: (0px, 402px, 0px, -402px, 162px, 162px, 1002px, 944px, '/static/sprite.png', 'circle_bag_off@3x', );
$circle-bag-on-name: 'circle_bag_on';
$circle-bag-on-x: 912px;
$circle-bag-on-y: 580px;
$circle-bag-on-offset-x: -912px;
$circle-bag-on-offset-y: -580px;
$circle-bag-on-width: 54px;
$circle-bag-on-height: 54px;
$circle-bag-on-total-width: 1002px;
$circle-bag-on-total-height: 944px;
$circle-bag-on-image: '/static/sprite.png';
$circle-bag-on: (912px, 580px, -912px, -580px, 54px, 54px, 1002px, 944px, '/static/sprite.png', 'circle_bag_on', );
$circle-bag-on-2x-name: 'circle_bag_on@2x';
$circle-bag-on-2x-x: 804px;
$circle-bag-on-2x-y: 540px;
$circle-bag-on-2x-offset-x: -804px;
$circle-bag-on-2x-offset-y: -540px;
$circle-bag-on-2x-width: 108px;
$circle-bag-on-2x-height: 108px;
$circle-bag-on-2x-total-width: 1002px;
$circle-bag-on-2x-total-height: 944px;
$circle-bag-on-2x-image: '/static/sprite.png';
$circle-bag-on-2x: (804px, 540px, -804px, -540px, 108px, 108px, 1002px, 944px, '/static/sprite.png', 'circle_bag_on@2x', );
$circle-bag-on-3x-name: 'circle_bag_on@3x';
$circle-bag-on-3x-x: 162px;
$circle-bag-on-3x-y: 402px;
$circle-bag-on-3x-offset-x: -162px;
$circle-bag-on-3x-offset-y: -402px;
$circle-bag-on-3x-width: 162px;
$circle-bag-on-3x-height: 162px;
$circle-bag-on-3x-total-width: 1002px;
$circle-bag-on-3x-total-height: 944px;
$circle-bag-on-3x-image: '/static/sprite.png';
$circle-bag-on-3x: (162px, 402px, -162px, -402px, 162px, 162px, 1002px, 944px, '/static/sprite.png', 'circle_bag_on@3x', );
$circle-clothes-off-name: 'circle_clothes_off';
$circle-clothes-off-x: 912px;
$circle-clothes-off-y: 634px;
$circle-clothes-off-offset-x: -912px;
$circle-clothes-off-offset-y: -634px;
$circle-clothes-off-width: 54px;
$circle-clothes-off-height: 54px;
$circle-clothes-off-total-width: 1002px;
$circle-clothes-off-total-height: 944px;
$circle-clothes-off-image: '/static/sprite.png';
$circle-clothes-off: (912px, 634px, -912px, -634px, 54px, 54px, 1002px, 944px, '/static/sprite.png', 'circle_clothes_off', );
$circle-clothes-off-2x-name: 'circle_clothes_off@2x';
$circle-clothes-off-2x-x: 804px;
$circle-clothes-off-2x-y: 648px;
$circle-clothes-off-2x-offset-x: -804px;
$circle-clothes-off-2x-offset-y: -648px;
$circle-clothes-off-2x-width: 108px;
$circle-clothes-off-2x-height: 108px;
$circle-clothes-off-2x-total-width: 1002px;
$circle-clothes-off-2x-total-height: 944px;
$circle-clothes-off-2x-image: '/static/sprite.png';
$circle-clothes-off-2x: (804px, 648px, -804px, -648px, 108px, 108px, 1002px, 944px, '/static/sprite.png', 'circle_clothes_off@2x', );
$circle-clothes-off-3x-name: 'circle_clothes_off@3x';
$circle-clothes-off-3x-x: 324px;
$circle-clothes-off-3x-y: 402px;
$circle-clothes-off-3x-offset-x: -324px;
$circle-clothes-off-3x-offset-y: -402px;
$circle-clothes-off-3x-width: 162px;
$circle-clothes-off-3x-height: 162px;
$circle-clothes-off-3x-total-width: 1002px;
$circle-clothes-off-3x-total-height: 944px;
$circle-clothes-off-3x-image: '/static/sprite.png';
$circle-clothes-off-3x: (324px, 402px, -324px, -402px, 162px, 162px, 1002px, 944px, '/static/sprite.png', 'circle_clothes_off@3x', );
$circle-clothes-on-name: 'circle_clothes_on';
$circle-clothes-on-x: 912px;
$circle-clothes-on-y: 688px;
$circle-clothes-on-offset-x: -912px;
$circle-clothes-on-offset-y: -688px;
$circle-clothes-on-width: 54px;
$circle-clothes-on-height: 54px;
$circle-clothes-on-total-width: 1002px;
$circle-clothes-on-total-height: 944px;
$circle-clothes-on-image: '/static/sprite.png';
$circle-clothes-on: (912px, 688px, -912px, -688px, 54px, 54px, 1002px, 944px, '/static/sprite.png', 'circle_clothes_on', );
$circle-clothes-on-2x-name: 'circle_clothes_on@2x';
$circle-clothes-on-2x-x: 0px;
$circle-clothes-on-2x-y: 786px;
$circle-clothes-on-2x-offset-x: 0px;
$circle-clothes-on-2x-offset-y: -786px;
$circle-clothes-on-2x-width: 108px;
$circle-clothes-on-2x-height: 108px;
$circle-clothes-on-2x-total-width: 1002px;
$circle-clothes-on-2x-total-height: 944px;
$circle-clothes-on-2x-image: '/static/sprite.png';
$circle-clothes-on-2x: (0px, 786px, 0px, -786px, 108px, 108px, 1002px, 944px, '/static/sprite.png', 'circle_clothes_on@2x', );
$circle-clothes-on-3x-name: 'circle_clothes_on@3x';
$circle-clothes-on-3x-x: 642px;
$circle-clothes-on-3x-y: 0px;
$circle-clothes-on-3x-offset-x: -642px;
$circle-clothes-on-3x-offset-y: 0px;
$circle-clothes-on-3x-width: 162px;
$circle-clothes-on-3x-height: 162px;
$circle-clothes-on-3x-total-width: 1002px;
$circle-clothes-on-3x-total-height: 944px;
$circle-clothes-on-3x-image: '/static/sprite.png';
$circle-clothes-on-3x: (642px, 0px, -642px, 0px, 162px, 162px, 1002px, 944px, '/static/sprite.png', 'circle_clothes_on@3x', );
$circle-shoes-off-name: 'circle_shoes_off';
$circle-shoes-off-x: 912px;
$circle-shoes-off-y: 742px;
$circle-shoes-off-offset-x: -912px;
$circle-shoes-off-offset-y: -742px;
$circle-shoes-off-width: 54px;
$circle-shoes-off-height: 54px;
$circle-shoes-off-total-width: 1002px;
$circle-shoes-off-total-height: 944px;
$circle-shoes-off-image: '/static/sprite.png';
$circle-shoes-off: (912px, 742px, -912px, -742px, 54px, 54px, 1002px, 944px, '/static/sprite.png', 'circle_shoes_off', );
$circle-shoes-off-2x-name: 'circle_shoes_off@2x';
$circle-shoes-off-2x-x: 108px;
$circle-shoes-off-2x-y: 786px;
$circle-shoes-off-2x-offset-x: -108px;
$circle-shoes-off-2x-offset-y: -786px;
$circle-shoes-off-2x-width: 108px;
$circle-shoes-off-2x-height: 108px;
$circle-shoes-off-2x-total-width: 1002px;
$circle-shoes-off-2x-total-height: 944px;
$circle-shoes-off-2x-image: '/static/sprite.png';
$circle-shoes-off-2x: (108px, 786px, -108px, -786px, 108px, 108px, 1002px, 944px, '/static/sprite.png', 'circle_shoes_off@2x', );
$circle-shoes-off-3x-name: 'circle_shoes_off@3x';
$circle-shoes-off-3x-x: 642px;
$circle-shoes-off-3x-y: 162px;
$circle-shoes-off-3x-offset-x: -642px;
$circle-shoes-off-3x-offset-y: -162px;
$circle-shoes-off-3x-width: 162px;
$circle-shoes-off-3x-height: 162px;
$circle-shoes-off-3x-total-width: 1002px;
$circle-shoes-off-3x-total-height: 944px;
$circle-shoes-off-3x-image: '/static/sprite.png';
$circle-shoes-off-3x: (642px, 162px, -642px, -162px, 162px, 162px, 1002px, 944px, '/static/sprite.png', 'circle_shoes_off@3x', );
$circle-shoes-on-name: 'circle_shoes_on';
$circle-shoes-on-x: 912px;
$circle-shoes-on-y: 796px;
$circle-shoes-on-offset-x: -912px;
$circle-shoes-on-offset-y: -796px;
$circle-shoes-on-width: 54px;
$circle-shoes-on-height: 54px;
$circle-shoes-on-total-width: 1002px;
$circle-shoes-on-total-height: 944px;
$circle-shoes-on-image: '/static/sprite.png';
$circle-shoes-on: (912px, 796px, -912px, -796px, 54px, 54px, 1002px, 944px, '/static/sprite.png', 'circle_shoes_on', );
$circle-shoes-on-2x-name: 'circle_shoes_on@2x';
$circle-shoes-on-2x-x: 216px;
$circle-shoes-on-2x-y: 786px;
$circle-shoes-on-2x-offset-x: -216px;
$circle-shoes-on-2x-offset-y: -786px;
$circle-shoes-on-2x-width: 108px;
$circle-shoes-on-2x-height: 108px;
$circle-shoes-on-2x-total-width: 1002px;
$circle-shoes-on-2x-total-height: 944px;
$circle-shoes-on-2x-image: '/static/sprite.png';
$circle-shoes-on-2x: (216px, 786px, -216px, -786px, 108px, 108px, 1002px, 944px, '/static/sprite.png', 'circle_shoes_on@2x', );
$circle-shoes-on-3x-name: 'circle_shoes_on@3x';
$circle-shoes-on-3x-x: 642px;
$circle-shoes-on-3x-y: 324px;
$circle-shoes-on-3x-offset-x: -642px;
$circle-shoes-on-3x-offset-y: -324px;
$circle-shoes-on-3x-width: 162px;
$circle-shoes-on-3x-height: 162px;
$circle-shoes-on-3x-total-width: 1002px;
$circle-shoes-on-3x-total-height: 944px;
$circle-shoes-on-3x-image: '/static/sprite.png';
$circle-shoes-on-3x: (642px, 324px, -642px, -324px, 162px, 162px, 1002px, 944px, '/static/sprite.png', 'circle_shoes_on@3x', );
$circle-wallet-off-name: 'circle_wallet_off';
$circle-wallet-off-x: 747px;
$circle-wallet-off-y: 486px;
$circle-wallet-off-offset-x: -747px;
$circle-wallet-off-offset-y: -486px;
$circle-wallet-off-width: 54px;
$circle-wallet-off-height: 54px;
$circle-wallet-off-total-width: 1002px;
$circle-wallet-off-total-height: 944px;
$circle-wallet-off-image: '/static/sprite.png';
$circle-wallet-off: (747px, 486px, -747px, -486px, 54px, 54px, 1002px, 944px, '/static/sprite.png', 'circle_wallet_off', );
$circle-wallet-off-2x-name: 'circle_wallet_off@2x';
$circle-wallet-off-2x-x: 324px;
$circle-wallet-off-2x-y: 786px;
$circle-wallet-off-2x-offset-x: -324px;
$circle-wallet-off-2x-offset-y: -786px;
$circle-wallet-off-2x-width: 108px;
$circle-wallet-off-2x-height: 108px;
$circle-wallet-off-2x-total-width: 1002px;
$circle-wallet-off-2x-total-height: 944px;
$circle-wallet-off-2x-image: '/static/sprite.png';
$circle-wallet-off-2x: (324px, 786px, -324px, -786px, 108px, 108px, 1002px, 944px, '/static/sprite.png', 'circle_wallet_off@2x', );
$circle-wallet-off-3x-name: 'circle_wallet_off@3x';
$circle-wallet-off-3x-x: 0px;
$circle-wallet-off-3x-y: 564px;
$circle-wallet-off-3x-offset-x: 0px;
$circle-wallet-off-3x-offset-y: -564px;
$circle-wallet-off-3x-width: 162px;
$circle-wallet-off-3x-height: 162px;
$circle-wallet-off-3x-total-width: 1002px;
$circle-wallet-off-3x-total-height: 944px;
$circle-wallet-off-3x-image: '/static/sprite.png';
$circle-wallet-off-3x: (0px, 564px, 0px, -564px, 162px, 162px, 1002px, 944px, '/static/sprite.png', 'circle_wallet_off@3x', );
$circle-wallet-on-name: 'circle_wallet_on';
$circle-wallet-on-x: 832px;
$circle-wallet-on-y: 786px;
$circle-wallet-on-offset-x: -832px;
$circle-wallet-on-offset-y: -786px;
$circle-wallet-on-width: 54px;
$circle-wallet-on-height: 54px;
$circle-wallet-on-total-width: 1002px;
$circle-wallet-on-total-height: 944px;
$circle-wallet-on-image: '/static/sprite.png';
$circle-wallet-on: (832px, 786px, -832px, -786px, 54px, 54px, 1002px, 944px, '/static/sprite.png', 'circle_wallet_on', );
$circle-wallet-on-2x-name: 'circle_wallet_on@2x';
$circle-wallet-on-2x-x: 432px;
$circle-wallet-on-2x-y: 786px;
$circle-wallet-on-2x-offset-x: -432px;
$circle-wallet-on-2x-offset-y: -786px;
$circle-wallet-on-2x-width: 108px;
$circle-wallet-on-2x-height: 108px;
$circle-wallet-on-2x-total-width: 1002px;
$circle-wallet-on-2x-total-height: 944px;
$circle-wallet-on-2x-image: '/static/sprite.png';
$circle-wallet-on-2x: (432px, 786px, -432px, -786px, 108px, 108px, 1002px, 944px, '/static/sprite.png', 'circle_wallet_on@2x', );
$circle-wallet-on-3x-name: 'circle_wallet_on@3x';
$circle-wallet-on-3x-x: 162px;
$circle-wallet-on-3x-y: 564px;
$circle-wallet-on-3x-offset-x: -162px;
$circle-wallet-on-3x-offset-y: -564px;
$circle-wallet-on-3x-width: 162px;
$circle-wallet-on-3x-height: 162px;
$circle-wallet-on-3x-total-width: 1002px;
$circle-wallet-on-3x-total-height: 944px;
$circle-wallet-on-3x-image: '/static/sprite.png';
$circle-wallet-on-3x: (162px, 564px, -162px, -564px, 162px, 162px, 1002px, 944px, '/static/sprite.png', 'circle_wallet_on@3x', );
$emoji-finger-fire-name: 'emoji_finger_fire';
$emoji-finger-fire-x: 966px;
$emoji-finger-fire-y: 339px;
$emoji-finger-fire-offset-x: -966px;
$emoji-finger-fire-offset-y: -339px;
$emoji-finger-fire-width: 35px;
$emoji-finger-fire-height: 19px;
$emoji-finger-fire-total-width: 1002px;
$emoji-finger-fire-total-height: 944px;
$emoji-finger-fire-image: '/static/sprite.png';
$emoji-finger-fire: (966px, 339px, -966px, -339px, 35px, 19px, 1002px, 944px, '/static/sprite.png', 'emoji_finger_fire', );
$emoji-finger-fire-2x-name: 'emoji_finger_fire@2x';
$emoji-finger-fire-2x-x: 912px;
$emoji-finger-fire-2x-y: 850px;
$emoji-finger-fire-2x-offset-x: -912px;
$emoji-finger-fire-2x-offset-y: -850px;
$emoji-finger-fire-2x-width: 70px;
$emoji-finger-fire-2x-height: 38px;
$emoji-finger-fire-2x-total-width: 1002px;
$emoji-finger-fire-2x-total-height: 944px;
$emoji-finger-fire-2x-image: '/static/sprite.png';
$emoji-finger-fire-2x: (912px, 850px, -912px, -850px, 70px, 38px, 1002px, 944px, '/static/sprite.png', 'emoji_finger_fire@2x', );
$emoji-finger-fire-3x-name: 'emoji_finger_fire@3x';
$emoji-finger-fire-3x-x: 642px;
$emoji-finger-fire-3x-y: 486px;
$emoji-finger-fire-3x-offset-x: -642px;
$emoji-finger-fire-3x-offset-y: -486px;
$emoji-finger-fire-3x-width: 105px;
$emoji-finger-fire-3x-height: 57px;
$emoji-finger-fire-3x-total-width: 1002px;
$emoji-finger-fire-3x-total-height: 944px;
$emoji-finger-fire-3x-image: '/static/sprite.png';
$emoji-finger-fire-3x: (642px, 486px, -642px, -486px, 105px, 57px, 1002px, 944px, '/static/sprite.png', 'emoji_finger_fire@3x', );
$text-category-kr-name: 'text_category_kr';
$text-category-kr-x: 642px;
$text-category-kr-y: 543px;
$text-category-kr-offset-x: -642px;
$text-category-kr-offset-y: -543px;
$text-category-kr-width: 56px;
$text-category-kr-height: 19px;
$text-category-kr-total-width: 1002px;
$text-category-kr-total-height: 944px;
$text-category-kr-image: '/static/sprite.png';
$text-category-kr: (642px, 543px, -642px, -543px, 56px, 19px, 1002px, 944px, '/static/sprite.png', 'text_category_kr', );
$text-category-kr-2x-name: 'text_category_kr@2x';
$text-category-kr-2x-x: 480px;
$text-category-kr-2x-y: 324px;
$text-category-kr-2x-offset-x: -480px;
$text-category-kr-2x-offset-y: -324px;
$text-category-kr-2x-width: 112px;
$text-category-kr-2x-height: 38px;
$text-category-kr-2x-total-width: 1002px;
$text-category-kr-2x-total-height: 944px;
$text-category-kr-2x-image: '/static/sprite.png';
$text-category-kr-2x: (480px, 324px, -480px, -324px, 112px, 38px, 1002px, 944px, '/static/sprite.png', 'text_category_kr@2x', );
$text-category-kr-3x-name: 'text_category_kr@3x';
$text-category-kr-3x-x: 264px;
$text-category-kr-3x-y: 726px;
$text-category-kr-3x-offset-x: -264px;
$text-category-kr-3x-offset-y: -726px;
$text-category-kr-3x-width: 168px;
$text-category-kr-3x-height: 57px;
$text-category-kr-3x-total-width: 1002px;
$text-category-kr-3x-total-height: 944px;
$text-category-kr-3x-image: '/static/sprite.png';
$text-category-kr-3x: (264px, 726px, -264px, -726px, 168px, 57px, 1002px, 944px, '/static/sprite.png', 'text_category_kr@3x', );
$text-favorite-hashtag-name: 'text_favorite_hashtag';
$text-favorite-hashtag-x: 804px;
$text-favorite-hashtag-y: 756px;
$text-favorite-hashtag-offset-x: -804px;
$text-favorite-hashtag-offset-y: -756px;
$text-favorite-hashtag-width: 88px;
$text-favorite-hashtag-height: 20px;
$text-favorite-hashtag-total-width: 1002px;
$text-favorite-hashtag-total-height: 944px;
$text-favorite-hashtag-image: '/static/sprite.png';
$text-favorite-hashtag: (804px, 756px, -804px, -756px, 88px, 20px, 1002px, 944px, '/static/sprite.png', 'text_favorite_hashtag', );
$text-favorite-hashtag-2x-name: 'text_favorite_hashtag@2x';
$text-favorite-hashtag-2x-x: 432px;
$text-favorite-hashtag-2x-y: 726px;
$text-favorite-hashtag-2x-offset-x: -432px;
$text-favorite-hashtag-2x-offset-y: -726px;
$text-favorite-hashtag-2x-width: 176px;
$text-favorite-hashtag-2x-height: 40px;
$text-favorite-hashtag-2x-total-width: 1002px;
$text-favorite-hashtag-2x-total-height: 944px;
$text-favorite-hashtag-2x-image: '/static/sprite.png';
$text-favorite-hashtag-2x: (432px, 726px, -432px, -726px, 176px, 40px, 1002px, 944px, '/static/sprite.png', 'text_favorite_hashtag@2x', );
$text-favorite-hashtag-3x-name: 'text_favorite_hashtag@3x';
$text-favorite-hashtag-3x-x: 0px;
$text-favorite-hashtag-3x-y: 726px;
$text-favorite-hashtag-3x-offset-x: 0px;
$text-favorite-hashtag-3x-offset-y: -726px;
$text-favorite-hashtag-3x-width: 264px;
$text-favorite-hashtag-3x-height: 60px;
$text-favorite-hashtag-3x-total-width: 1002px;
$text-favorite-hashtag-3x-total-height: 944px;
$text-favorite-hashtag-3x-image: '/static/sprite.png';
$text-favorite-hashtag-3x: (0px, 726px, 0px, -726px, 264px, 60px, 1002px, 944px, '/static/sprite.png', 'text_favorite_hashtag@3x', );
$spritesheet-width: 1002px;
$spritesheet-height: 944px;
$spritesheet-image: '/static/sprite.png';
$spritesheet-sprites: ($photo-arrow-next-small-2x, $photo-arrow-next-small-3x, $photo-arrow-next-small, $photo-arrow-next-2x, $photo-arrow-next-3x, $photo-arrow-next, $photo-arrow-prev-small-2x, $photo-arrow-prev-small-3x, $photo-arrow-prev-small, $photo-arrow-prev-2x, $photo-arrow-prev-3x, $photo-arrow-prev, $close-btn-small-2x, $close-btn-small-3x, $close-btn-small, $close-btn-2x, $close-btn-3x, $close-btn, $comment, $comment-2x, $comment-3x, $like-off, $like-off-2x, $like-off-3x, $like-on, $like-on-2x, $like-on-3x, $circle-accessory-off, $circle-accessory-off-2x, $circle-accessory-off-3x, $circle-accessory-on, $circle-accessory-on-2x, $circle-accessory-on-3x, $circle-all-off, $circle-all-off-2x, $circle-all-off-3x, $circle-all-on, $circle-all-on-2x, $circle-all-on-3x, $circle-bag-off, $circle-bag-off-2x, $circle-bag-off-3x, $circle-bag-on, $circle-bag-on-2x, $circle-bag-on-3x, $circle-clothes-off, $circle-clothes-off-2x, $circle-clothes-off-3x, $circle-clothes-on, $circle-clothes-on-2x, $circle-clothes-on-3x, $circle-shoes-off, $circle-shoes-off-2x, $circle-shoes-off-3x, $circle-shoes-on, $circle-shoes-on-2x, $circle-shoes-on-3x, $circle-wallet-off, $circle-wallet-off-2x, $circle-wallet-off-3x, $circle-wallet-on, $circle-wallet-on-2x, $circle-wallet-on-3x, $emoji-finger-fire, $emoji-finger-fire-2x, $emoji-finger-fire-3x, $text-category-kr, $text-category-kr-2x, $text-category-kr-3x, $text-favorite-hashtag, $text-favorite-hashtag-2x, $text-favorite-hashtag-3x, );
$spritesheet: (1002px, 944px, '/static/sprite.png', $spritesheet-sprites, );

// The provided mixins are intended to be used with the array-like variables
//
// .icon-home {
//   @include sprite-width($icon-home);
// }
//
// .icon-email {
//   @include sprite($icon-email);
// }
//
// Example usage in HTML:
//
// `display: block` sprite:
// <div class="icon-home"></div>
//
// To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:
//
// // CSS
// .icon {
//   display: inline-block;
// }
//
// // HTML
// <i class="icon icon-home"></i>
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

// The `sprites` mixin generates identical output to the CSS template
//   but can be overridden inside of SCSS
//
// @include sprites($spritesheet-sprites);
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
