.wrap {
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 0;
  height: 100vh;
  overflow: auto;
  background: #fff;

  .header {
    height: 60px;
    display: flex;
    align-items: center;

    .backIcon {
      width: 30px;
      height: 30px;
      position: absolute;
      left: 10px;
      background-size: 30px;
      background-image: url('/public/icon/btn-prevpage.png');
      background-repeat: no-repeat;
    }

    .headerText {
      font-size: 17px;
      font-weight: 500;
      font-style: normal;
      text-align: center;
      color: #111111;
      margin: 0 auto;
    }
  }

  .contentsWrap {
    position: relative;
    margin-bottom: 60px;
    .dealOptions {
      border-top: 1px solid #eee;
    }

    .claimType {
      border-top: 1px solid #eee;
    }

    .title {
      height: 50px;
      border-top: 1px solid #eee;
      display: flex;
      align-items: center;
      padding: 0 20px;

      input {
        width: 100%;
        &::placeholder {
          color: #ccc;
          font-size: 15px;
          font-weight: 500;
        }
      }
    }
    .textArea {
      border-top: 1px solid #eee;
      padding: 17px 20px 0;
      width: 100%;
      border: none;

      textarea {
        width: 100%;
        min-height: 190px;
        outline: none;
        border: none;

        &::placeholder {
          color: #ccc;
          font-size: 15px;
          font-weight: 500;
        }
      }
    }

    .textNumberChecker {
      padding: 0 20px;
      text-align: right;
      margin-top: 10px;
      margin-bottom: 20px;
      span {
        color: #5d2ed1;
      }
    }

    .attachmentFile {
      border-top: 1px solid #eee;
      display: flex;
      align-items: center;
      height: 50px;
      padding: 0 16px;

      .fileAttachment__photoButton {
        display: inline-block;
        width: 200px;
        height: 30px;
        padding-left: 32px;
        background: url('/public/icon/com-btn-photo@3x.png') no-repeat left
          center;
        background-size: 30px 30px;

        text-align: left;
        font-size: 13px;
        font-weight: 500;
        color: #111;
      }
    }

    .attachImageWrap {
      padding-left: 20px;
      display: flex;
      overflow-x: auto;
      margin-bottom: 20px;
      .attachImage {
        position: relative;

        min-width: 90px;
        height: 90px;
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
        margin-right: 5px;

        .attachImageDelete {
          width: 25px;
          height: 25px;
          background: url('/public/icon/like_item_delete.png') no-repeat;
          background-size: cover;
          background-position: center;
          position: absolute;
          top: 0;
          right: 0;
        }
      }
    }
    .notify {
      border-top: 1px solid #eee;
      padding: 20px 20px 30px;
      font-size: 12px;
      font-weight: normal;
      color: #444;
      span {
        font-weight: 500;
        color: #5d2ed1;
      }
    }

    .errorMessage {
      color: #c72121;
      font-size: 12px;
      padding: 5px 20px 20px;
      border-top: 1px solid #eee;
    }
  }

  .buttonGroup {
    position: fixed;
    bottom: 0;
    width: 100%;
    display: flex;

    div {
      width: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      height: 60px;
      color: #fff;
    }

    .cancelBtn {
      background: #444;
    }
    .inquiryBtn {
      background: #5d2ed1;
    }
  }
}

// 커스텀 상품 옵션
.dealsOption {
  padding: 0 20px;

  .dealsOption__inner {
    padding: 20px 0;
    border-bottom: 1px solid #eee;
    display: flex;

    .dealsOption__image {
      min-width: 70px;
      height: 70px;
      background-position: center;
      background-size: contain;
      background-repeat: no-repeat;
    }

    .dealOptionDesc {
      margin-left: 15px;

      .dealOptionDesc__title {
        font-size: 13px;
        font-weight: normal;
        color: #111;
        max-width: 190px;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
        span {
          font-weight: bold;
          margin-right: 5px;
        }
      }

      .dealOptionDesc__option {
        font-size: 13px;
        color: #777;
        font-weight: normal;
        margin-top: 2px;
        & > span {
          &:not(:empty) {
            &:not(:last-child) {
              &::after {
                content: ',';
                margin-right: 3px;
              }
            }
          }
        }
      }

      .dealOptionDesc__date {
        color: #777;
        font-weight: 500;
        font-size: 13px;
        margin-top: 10px;

        span {
          margin-left: 5px;
        }
      }
    }
  }

  &:last-child {
    .dealsOption__inner {
      border-bottom: none;
    }
  }
}
