.headerWrap {
  width: 100%;
  padding: 20px 20px 0 20px;
  display: inline-block;
  margin-bottom: -10px;

  & .count {
    font-size: 13px;
    font-weight: 500;
    color: #333333;
    float: left;
  }

  & .detail {
    position: relative;
    background-image: url('/static/icon/fillter_icon.png');
    background-size: 16px 14px;
    background-repeat: no-repeat;
    background-position: right;
    padding-right: 22px;
    font-size: 13px;
    font-weight: 500;
    color: #333333;
    float: right;
  }

  & .orderWrap {
    position: relative;
    float: left;
    background-image: url('/static/icon/list_select_arrow_open.png');
    background-repeat: no-repeat;
    background-position: right center;
    background-size: 10px;
    padding-right: 16px;
    font-size: 13px;
    color: #333;
    margin-right: 20px;

    & .hoverPadding {
      width: 85px;
      height: 128px;
      border: solid 1px #eeeeee;
      padding: 11px;
      position: absolute;
      bottom: 0;
    }

    & .hoverWrap {
      display: block;
      background-color: white;
      width: 85px;
      height: 136px;
      position: absolute;
      z-index: 1;
    }

    & .hoverItem {
      font-size: 13px;
      font-weight: normal;
      color: #111111;
      line-height: 1.5;
      text-align: right;
      cursor: pointer;

      &:hover {
        color: #5d2ed1;
      }

      &~div {
        margin-top: 10px;
      }
    }
  }
}

.productWrap {
  padding: 0 10px;
  margin-top: -10px;

  & a {
    margin-right: 6px;

    &:nth-child(2n) {
      margin-right: 0;
    }
  }
}

.moreItemButton {
  width: 100%;
  height: 50px;
  cursor: pointer;
  text-align: center;
  font-size: 14px;
  font-weight: 500;
  color: #111111;
  padding-top: 16px;
  border-top: 1px solid #eeeeee;
  margin-top: 40px;

  & .moreIcon {
    width: 16px;
    height: 16px;
    background: url(/static/icon/detail_btn_more_open.png) no-repeat center;
    background-size: 16px;
    display: inline-block;
    position: relative;
    top: 3px;
    margin-left: 4px;
  }
}