.wrap {
  padding: 0 20px;

  & .detailWrap {
    width: 100%;
    display: inline-block;
    margin-bottom: 28px;
    word-wrap: break-word;

    & img {
      width: 100% !important;
    }
  }

  & .sellerInfo {
    margin-bottom: 28px;
  }

  & .infoHeader {
    height: 43px;
    font-size: 16px;
    font-weight: bold;
    color: #111111;
    padding-top: 11px;
  }

  & td {
    border-left: hidden;
    border-right: hidden;
    border-color: #eeeeee;
  }

  & .tableHeader {
    width: 180px;
    height: 50px;
    background-color: #f9f9fa;
    text-align: left;
    padding-left: 14px;
    border-left-color: white;
    font-size: 12px;
    font-weight: normal;
    color: #444444;
  }

  & .tableValue {
    width: 466px;
    height: 50px;
    background-color: white;
    text-align: left;
    padding-left: 14px;
    border-right-color: white;
    font-size: 12px;
    font-weight: normal;
    color: #444444;
  }

  & .map {
    width: 100%;
    height: 200px;
    margin-bottom: 20px;
  }

  & .storeInfoWrap {
    margin-bottom: 100px;
  }

  & .infoStoreAddress {
    font-size: 12px;
    font-weight: normal;
    color: #444444;
    padding-left: 24px;
    background: url('/static/icon/icon_info_pin.png') no-repeat left;
    background-size: 19px;
    height: 19px;
    line-height: 19px;
    margin-bottom: 15px;
  }

  & .infoStoreTime {
    font-size: 12px;
    font-weight: normal;
    color: #444444;
    padding-left: 24px;
    background: url('/static/icon/icon_info_time.png') no-repeat left;
    background-size: 19px;
    height: 19px;
    line-height: 19px;
  }
}
