.wrap {
  & .backImage {
    width: 100%;
    height: 120px;
    background: url('/static/member_bg_none.png') no-repeat center;
    background-size: 100% 180px;
    position: relative;
  }

  & .profileImage {
    width: 80px;
    height: 80px;
    border: solid 2px white;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: -40px;
    border-radius: 60px;
    background-color: antiquewhite;
    background: url('/static/icon/profile_non_square.png') no-repeat center;
    background-size: 80px;
  }

  & .contentsWrap {
    width: 100%;
    text-align: center;
    padding: 0 16px;
  }

  & .nickname {
    font-size: 24px;
    font-weight: 500;
    color: #111111;
    padding-top: 60px;
  }

  & .countGrid {
    width: calc(50% - 0.5px);
    display: inline-block;
  }

  & .followerWrap {
    padding: 14px 24px 0 24px;
    float: right;
  }

  & .sellingWrap {
    padding: 14px 24px 0 24px;
    float: left;
  }

  & .countLabel {
    font-size: 11px;
    color: #777777;
    line-height: 1.18;
  }

  & .countValue {
    margin-top: 5px;
    font-size: 16px;
    color: #111111;

    & span {
      font-size: 15px;
    }
  }

  & .countLine {
    width: 1px;
    height: 30px;
    display: inline-block;
    border-right: solid 1px #eeeeee;
  }

  & .storeIntroduction {
    margin-top: 12px;
    font-size: 12px;
    font-weight: 300;
    font-style: normal;
    line-height: 1.5;
    color: #111111;
    word-break: keep-all;
  }

  button {
    width: 120px;
    height: 40px;
    border-radius: 50px;
    margin-top: 16px;
    font-size: 16px;
    font-weight: 500;
    line-height: 0.98;
    color: #444444;
    background-color: #ffffff;
    border: 1px solid #cccccc;

    &.colored {
      background-color: #5d2ed1;
      border: 1px solid #5d2ed1;
      color: white;
    }
  }

  & .satisfactionWrap {
    margin-top: 20px;
  }

  & .satisfactionHeader {
    height: 32px;
    font-size: 13px;
    font-weight: normal;
    color: #777777;
    padding-top: 10px;
    margin-bottom: 6px;
  }

  & .satisIcon {
    height: 20px;
    padding-left: 22px;
    font-size: 12px;
    font-weight: normal;
    line-height: 16px;
    color: #444444;
    background-repeat: no-repeat;
    background-size: 20px;
    text-align: left;
    display: inline-flex;
    align-items: center;
    margin-right: 30px;

    &:last-child {
      margin-right: 0;
    }
  }

  & .offlineStoreHeader {
    height: 32px;
    font-size: 13px;
    font-weight: normal;
    color: #777777;
    padding-top: 20px;
    margin-bottom: 8px;
  }

  & .offlineStoreAddress {
    font-size: 13px;
    font-weight: normal;
    color: #444444;
    margin-bottom: 40px;
  }
}